{
	"parser": "babel-eslint",
	"extends": ["google", "plugin:react/recommended", "prettier"],
	"rules": {
		"linebreak-style": "off",
		"eol-last": "off",
		"max-len": "off",
		"one-var": "off",
		"no-use-before-define": ["warn", { "functions": true, "classes": true }],
		"no-warning-comments": "off",
		"brace-style": "off",
		"no-nested-ternary": "off",
		"no-mixed-requires": "off",
		"no-negated-condition": "off",
		"no-tabs": "off",
		"camelcase": "off",
		"new-cap": "off",
		"no-mixed-spaces-and-tabs": "off",
		"quote-props": "off",
		"space-before-function-paren": "off",
		"guard-for-in": "off",
		"max-nested-callbacks": "off",
		"no-unmodified-loop-condition": "off",
		"comma-dangle": "off",
		"require-jsdoc": "off",
		"arrow-parens": "off",
		"react/jsx-indent": "off",
		"react/jsx-uses-vars": "error",
		"react/jsx-uses-react": "error",
		"react/jsx-indent-props": "off",
		"react/no-unescaped-entities": "off",
		"react/prop-types": "off",
		"react/no-deprecated": "off",
		"object-curly-spacing": "off",
		"array-bracket-spacing": "off",
		"no-invalid-this": 0,
		"indent": 0
	},
	"globals": {
		"io": true,
		"app": true,
		"document": true,
		"window": true,
		"expect": true,
		"describe": true,
		"it": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"plugins": ["react"]
}
