{
	"extends": ["google"],
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"linebreak-style": "off",
		"eol-last": "off",
		"max-len": "off",
		"one-var": "off",
		"no-use-before-define": ["warn", { "functions": true, "classes": true }],
		"no-warning-comments": "off",
		"brace-style": "off",
		"no-nested-ternary": "off",
		"no-mixed-requires": "off",
		"no-negated-condition": "off",
		"camelcase": "off",
		"new-cap": "off",
		"quote-props": "off",
		"space-before-function-paren": "off",
		"guard-for-in": "off",
		"max-nested-callbacks": "off",
		"no-unmodified-loop-condition": "off",
		"comma-dangle": "off",
		"require-jsdoc": "off",
		"arrow-parens": "off",
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-uses-vars": "error",
		"react/jsx-indent-props": ["error", "tab"],
		"object-curly-spacing": "off",
		"array-bracket-spacing": "off"
	},
	"globals": {
		"io": true,
		"app": true,
		"document": true,
		"window": true,
		"expect": true,
		"describe": true,
		"it": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"plugins": ["react"]
}
