.env
*.sublime-project
*.sublime-workspace
node_modules
dev/*
.swp
.sass-cache
clientlibs
apps
etc
*.xml
.vlt
content
./*.png
home
libs
var
.DS_Store
logs/*
data/*
data/mongod.lock
misc/*
public/scripts/bundle.js
npm-debug.log.*
npm-debug.log
yarn-error.log
.vscode/
yarn.lock
package-lock.json
public/images/Thumbs.db
public/images/custom-cardbacks
public/Thumbs.db
public/styles/style-dark.css
public/styles/style-light.css
public/styles/style-web.css
coverage/*
.idea/
