extends layout
block content
	.ui.container.about-container
		h2.ui.centered.header Page Disabled
		h3.ui.centered.header Sorry, this page is still (temporarily) disabled! Please sign in/create an account with the buttons above first.
