doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="theme-color", content="#c36563")
		meta(name="description", content="A web adaptation of the social deduction board game Secret Hitler.  Always free and no ads.")
		if game
			link(rel="stylesheet", type="text/css", href="/styles/style-dark.css")
		else
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			link(rel="stylesheet", type="text/css", href="/styles/Semantic-UI-CSS-master/semantic.min.css")
			link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css")
			link(rel="stylesheet", type="text/css", href="/styles/style-web.css")
		link(href="//fonts.googleapis.com/css?family=Comfortaa|Cuprum:400i|Germania+One|Roboto+Slab", rel="stylesheet", type="text/css")
		link(rel="author", href="humans.txt")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#aaa")
		link(rel="manifest", href="/manifest.json")
		title Secret Hitler.io
	body
		#main
			if !game
				nav.ui.secondary.pointing.top.fixed.inverted.menu#top-menu
					.left.menu
						if username
							a.ui.button(href="/game/") Game Lobby
						else
							a.ui.button(href="/observe/") Game Lobby
					if home
						a.active.item Home
					else
						a.item(href="/") Home
					
					if rules
						a.active.item Rules
					else
						a.item(href="/rules") Rules

					if howtoplay
						a.active.item How to Play
					else
						a.item(href="/how-to-play") How to Play

					if stats
						a.active.item Stats
					else
						a.item(href="/stats") Stats

					if polls
						a.active.item Polls
					else
						a.item(href="/polls") Polls

					if tou
						a.active.item Terms of Use
					else
						a.item(href="/tou") Terms of Use

					if about
						a.active.item About
					else
						a.item(href="/about") About


					if username
						div.item.right
							a.right#logout(href="#", style="margin-right: 20px;") Logout
							a.right(href="/account", style="color: #85d42a")
								= username + '\'s account'
					else
						.right.menu
							.ui.buttons
								button.ui.button#signin Log In
								.or
								button.ui.button#signup Sign Up
			block content
		
		section.add-email-modal.ui.modal.small.segment.column
			h2.header Add an email address to your account and request a verification email
			ul
				li Email addresses are used for ONLY the following actions: verifying your account, and reseting your password.
				li In no circumstances will your email address be used for anything other than the above including any sort of mass "email blast".
				li Only administrators have access to see your email address.
				li Your email address will never leave the site/will never be given away or sold.
			form.ui.form(style="text-align: center;")
				.field
					.ui.left.icon.input
						i.user.icon
						input#add-email-input(placeholder="Non-disposible email address", spellcheck="false")
				button.ui.primary.button.fluid.large.email-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Adding email..
				.ui.negative.hidden.message

		section.signin-modal.ui.modal.small.segment.column
			h2.header Sign in to your account
			p.tou By playing here, you agree to follow the #[a(href="/tou", target="_blank") Terms of Use].
			form.ui.form(style="text-align: center;")
				.field
					.ui.left.icon.input
						i.user.icon
						input#signin-username(placeholder="Username", spellcheck="false")
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signin-password(placeholder="Password", type="password")
				button.ui.primary.button.fluid.large.signin-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing in..
				.ui.negative.hidden.message
				a#reset-password(style="cursor: pointer; display: block; margin-top: 10px;") Forget your password?

		section.emailchange-modal.ui.modal.small.segment.column
			h2.header Change your email (and send a new verification email if you are unverified)
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#emailchange-input(placeholder="Email", spellcheck="false")
				button.ui.primary.button.fluid.large#emailchange-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Setting your email..
				.ui.negative.hidden.message
				.ui.info.hidden.message

		section.password-reset-modal.ui.modal.small.segment.column
			h2.header Request a password reset
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#password-reset-email(placeholder="Verified email address", spellcheck="false")
				button.ui.primary.button.fluid.large#password-reset-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Checking your account..
				.ui.negative.hidden.message
				.ui.info.hidden.message

		section.signup-modal.ui.modal.small.segment.column
			h2.header Sign up for an account
			p.tou By playing here, you agree to follow the #[a(href="/tou", target="_blank") Terms of Use].
			p.tou Players with less than 2 games played can not chat in general chat, chat as an observer, or make player reports.
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#signup-username(placeholder="Username", spellcheck="false")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password1(placeholder="Password", type="password", maxlength="255")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password2(placeholder="Repeat password", type="password", maxlength="255")
					.ui.info.message.hidden
				.field
					h4.header(style="color: darkred") EMAIL OPTIONAL
					.ui.left.icon.input
						i.envelope.outline.icon
						input#signup-email(placeholder="Email", maxlength="255", spellcheck="false")
					.ui.info.message.hidden
				.field
					label
						input#private-player(type="checkbox", style="margin-right: 5px")
						span(style="color: #aaa") READ CAREFULLY BEFORE CHECKING: Private game player only option - your name will not be visible in the sidebar, you can't chat in general chat, 
						b(style="color: #555") you can't play in public games.
				.field
					label
						input#tou-agree(type="checkbox", style="margin-right: 5px")
						span(style="color: #a77") I have read and agree to the #[a(href="/tou", target="_blank") Terms of Use].
				button.ui.primary.button.fluid.large.signup-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing up..
				.ui.negative.hidden.message
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-105770066-1', 'auto');
			ga('send', 'pageview');			
		if game
			script(src="/scripts/bundle.js")
		else
			script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js")
			script(src="/scripts/site.js?abcdefghija")
		block footer