doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="theme-color", content="#aaa")
		meta(name="description", content="Secret Hitler Online")
		if game
			if isLight
				link(rel="stylesheet", type="text/css", href="/styles/style-light.css")
			else
				link(rel="stylesheet", type="text/css", href="/styles/style-dark.css")
		else
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css")
			link(rel="stylesheet", type="text/css", href="/styles/style-web.css")
		link(href="//fonts.googleapis.com/css?family=Josefin+Sans:600i", rel="stylesheet", type="text/css")
		link(rel="author", href="humans.txt")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#aaa")
		link(rel="manifest", href="/manifest.json")
		title Secret Hitler
	body
		#main
			block content

		section.signin-modal.ui.modal.small.segment.column
			h2.header Sign in to your account
			form.ui.form(style="text-align: center;")
				.field
					.ui.left.icon.input
						i.user.icon
						input#signin-username(placeholder="Username")
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signin-password(placeholder="Password", type="password")
				button.ui.primary.button.fluid.large.signin-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing in..
				.ui.negative.hidden.message
				//- a#reset-password(style="cursor: pointer;") Forget your password?

		section.password-reset-modal.ui.modal.small.segment.column
			h2.header Request a password reset
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#password-reset-email(placeholder="Verified email address", spellcheck="false")
				button.ui.primary.button.fluid.large#password-reset-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Checking your account..
				.ui.negative.hidden.message
				.ui.info.hidden.message

		section.signup-modal.ui.modal.small.segment.column
			h2.header Sign up for an account
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#signup-username(placeholder="Username", spellcheck="false")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password1(placeholder="Password", type="password", maxlength="255")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password2(placeholder="Repeat password", type="password", maxlength="255")
					.ui.info.message.hidden
				//- .field
				//- 	.ui.left.icon.input
				//- 		i.mail.icon
				//- 		input#signup-email(placeholder="Email (optional)", maxlength="100", spellcheck="false")
				button.ui.primary.button.fluid.large.signup-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing up..
				.ui.negative.hidden.message
		
		if game
			script(src="/scripts/bundle.js")
		else
			script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js")
			script(src="/scripts/site.js")
		block footer