doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="theme-color", content="#c36563")
		meta(name="description", content="A web adaptation of the social deduction board game Secret Hitler.  Always free and no ads.")
		if game
			if isLight
				link(rel="stylesheet", type="text/css", href="/styles/style-light.css")
			else
				link(rel="stylesheet", type="text/css", href="/styles/style-dark.css")
		else
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css")
			link(rel="stylesheet", type="text/css", href="/styles/style-web.css")
		//- link(href="//fonts.googleapis.com/css?family=Comfortaa|Unica+One|Germania+One|Roboto+Slab", rel="stylesheet", type="text/css")
		link(rel="author", href="humans.txt")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#aaa")
		link(rel="manifest", href="/manifest.json")
		title Secret Hitler
	body
		#main
			block content

		section.signin-modal.ui.modal.small.segment.column
			h2.header Sign in to your account
			p.tou By playing here, you agree to follow the #[a(href="/about#TOU", target="_blank") Terms of Use].
			p.modal-warning Please note: this application currently works best in Chrome, Firefox, and Edge.  Users of Internet Explorer, and Safari may not have the best user experience.  This is being worked on and will be resolved soon.
			form.ui.form(style="text-align: center;")
				.field
					.ui.left.icon.input
						i.user.icon
						input#signin-username(placeholder="Username")
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signin-password(placeholder="Password", type="password")
				button.ui.primary.button.fluid.large.signin-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing in..
				.ui.negative.hidden.message
				//- a#reset-password(style="cursor: pointer;") Forget your password?

		section.password-reset-modal.ui.modal.small.segment.column
			h2.header Request a password reset
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#password-reset-email(placeholder="Verified email address", spellcheck="false")
				button.ui.primary.button.fluid.large#password-reset-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Checking your account..
				.ui.negative.hidden.message
				.ui.info.hidden.message

		section.signup-modal.ui.modal.small.segment.column
			h2.header Sign up for an account
			p.tou By playing here, you agree to follow the #[a(href="/about#TOU", target="_blank") Terms of Use].
			p.modal-warning Please note: this application currently works best in Chrome, Firefox, and Edge.  Users of Internet Explorer, and Safari may not have the best user experience.  This is being worked on and will be resolved soon.
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#signup-username(placeholder="Username", spellcheck="false")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password1(placeholder="Password", type="password", maxlength="255")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password2(placeholder="Repeat password", type="password", maxlength="255")
					.ui.info.message.hidden
				//- .field
				//- 	.ui.left.icon.input
				//- 		i.mail.icon
				//- 		input#signup-email(placeholder="Email (optional)", maxlength="100", spellcheck="false")
				button.ui.primary.button.fluid.large.signup-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing up..
				.ui.negative.hidden.message
		
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-105770066-1', 'auto');
			ga('send', 'pageview');
		if game
			script(src="/scripts/bundle.js")
		else
			script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js")
			script(src="/scripts/site.js")
		block footer