extends layout
block content
	.ui.container.player-profiles-container
		.ui.text.container
			h1.ui.center.aligned.header
				div
					i.users.large.icon
					.content Player Profiles
			h2.ui.header
				i.help.circle.icon
				.content FAQ


			h3.ui.header What are player profiles?
			p Player profiles help you measure a player's performance across games. A profile includes various stats and a list of recent games played. You can access a player's profile by clicking their username in the Lobby.


			h3.ui.header Why do the stats in player profiles not match up with the stats in the Lobby?
			p Due to technical limitations, stats reflected in player profiles will only track matches starting this release version #[em 0.3.0] onward.


			h3.ui.header What does &nbsp; __________ &nbsp; stat mean?
			p Look below for more detailed documentation on how stats are calculated.


			h3.ui.header Why are you calculating &nbsp; __________ &nbsp; stat this way?
			p Choosing how to calculate a stat is tricky. My philosophy is that a stat should measure either an objectively good action or a playstyle trait but not both.
			p For example, "Vote Accuracy" is an example of an objective stat. The rationale is that if a Fascist becomes president in hitler zone, it is an objectively worse position for the Liberal side - voting "nein" is always better. However, voting for a Liberal president is less clear-cut. A conservative player might opt to vote "nein" to gauge the votes and gain information, while an aggressive player might vote "ja" to take a gamble or gain trust. Therefore, votes on Liberal presidents are based on playstyle and shouldn't be conflated with an objective measure.
			p Feel free to #[a(href="https://goo.gl/forms/IxDi9f1fKyGhefDx2") send] suggestions if you think a stat can be better evaluated!


			h3.ui.header You should add a stat to track &nbsp; __________ &nbsp.
			p Suggestions welcome! Send them through the #[a(href="https://goo.gl/forms/IxDi9f1fKyGhefDx2") webform] or make an #[a(href="https://github.com/cozuya/secret-hitler/issues/new") issue] on Github.


			.ui.divider


			h2.ui.header 
				i.info.circle.icon
				.content Documentation
			p All stats are calculated by the ratio: #[em successes / instances]. This documentation describes for each stat what constitutes an #[em instance] and a #[em success].


			h3.ui.header Matches


			h4.ui.header All Matches
			p #[em Instance:] Game is completed
			p #[em Success:] Game is won


			h4.ui.header By Loyalty: Liberal
			p #[em Instance:] Game is completed
			p #[em Success:] Player loyalty is Liberal AND game is won


			h4.ui.header By Loyalty: Fascist
			p #[em Instance:] Game is completed
			p #[em Success:] Player loyalty is Fascist AND game is won


			h3.ui.header Actions


			h4 Vote Accuracy
			p #[em Instance:] Player is Liberal AND game is in "hitler zone" AND Fascist is up for President OR Hitler is up for Chancellor
			p #[em Success:] Player votes "nein"


			h4 Shot Accuracy
			p #[em Instance:] Player is Liberal AND executes another player
			p #[em Success:] Other player is Fascist

			.ui.divider
			p.author #[em - Sethe]