extends layout
block content
	.ui.container.rules-container
		.ui.text.container
			h1.ui.header.centered Stats
		.ui.text.container
			h2.ui.header.centered(style="text-decoration: none;") Winrate for all games
			h3(style="text-align: center;") Showing current season's stats, 
				a(href="/stats") click here to see overall stats
			div#chart-allplayer-games-winrate.chart
			h2.ui.header.centered(style="text-decoration: none;") Winrate for 5 player games
			div#chart-fiveplayer-games-winrate.chart
			h2.ui.header.centered(style="text-decoration: none;") Winrate for 6 player games
			div#chart-sixplayer-games-winrate.chart
			h2.ui.header.centered(style="text-decoration: none;") Winrate for 7 player games
			div#chart-sevenplayer-games-winrate.chart
			h2.ui.header.centered(style="text-decoration: none;") Winrate for 8 player games
			div#chart-eightplayer-games-winrate.chart
			h2.ui.header.centered(style="text-decoration: none;") Winrate for 9 player games
			div#chart-nineplayer-games-winrate.chart
			h2.ui.header.centered(style="text-decoration: none;") Winrate for 10 player games
			div#chart-tenplayer-games-winrate.chart
			script
				include ../public/scripts/charts-season.js