extends layout
block content
	h2.header Change your password
	form.ui.form(style="width: 500px; margin: 0 auto")
		.field
			.ui.left.icon.input
				i.lock.icon
				input#passwordchange-password(placeholder="New password", type="password", spellcheck="false")
		.field
			.ui.left.icon.input
				i.lock.icon
				input#passwordchange-confirmpassword(placeholder="Confirm new password", type="password", spellcheck="false")
		button.ui.primary.button.fluid.large#passwordresetchange-submit Submit
		.ui.dimmer.inverted
			.ui.text.loader Updating your password..
		.ui.negative.hidden.message
		.ui.hidden.message Successfully updated your password!