extends layout
block content
	.ui.container.about-container
		.ui.text.container
			h1.ui.header.centered Terms Of Use
		.ui.text.container
			h3.ui.header General
			p The site is provided free of charge to everyone, and is subject to the occasional failure that is out of our control. We are not responsible for you losing out on a sure win, it happens.
			p Breaking any of the rules listed below is subject to warnings and moderative action against your account (regardless of if you were reported), and in extreme cases we may revoke your access to this site.
			p Most violations will be addressed with a Warning > Timeout > Ban protocol, unless otherwise stated, or warning cannot be achieved due to violator's absence. In the latter case, the offence may be excused, depending on the severity, until the violator is warned.
			p Additionally, any malicious activity (i.e. trying to crash the site) or attempts to intentionally subvert rules using gaps in rulings or loopholes will be considered breaking the rules.
			
			h3.ui.header Acceptable Language
			p In general, most language is acceptable.
			p Forbidden language:
			li Anything racist (including calling others "ape" or similar)
			li Anything sexist or homophobic
			li Anything anti-specific-religion or anti-atheism
			li Hate speech
			li Directed abuse (personal insults, attacks, harassment, etc.)
			li Overtly sexual content
			br
			p Explicitly forbidden words:
			li Highly racist slurs (i.e. n-word) - Likely ban on sight
			li Homophobic slurs (i.e. fag), or other highly offensive slurs
			li "Retard" and similar
			li "Cunt" and similar
			li Words that are equivalent to those listed above (i.e. "libtard" for "retard")
			br
			p Other forbidden behaviour:
			li Following a player and commenting on their games after they've asked you to stop
			li Talking about a game (i.e. possible fas lines) after a player asks you to stop
			li Talking about an ongoing no-chat game via general chat
			li Spoiling films, TV shows, or similar without waiting a month. 
			br
			p Anything not listed above is probably fine to use, provided there is no malicious intent or spam.
			p This also applies to game room names, even if the room is private, unless it is anonymous only. Any room with a forbidden name will be deleted.
			p This does not apply to private game chat.
			
			h3.ui.header Accounts
			p Accounts generally follow Acceptable Language for what is allowed on them. Private accounts are not subject to moderation, but can only play in private games.
			p Account names strictly follow Acceptable Language rules. Any account found breaking this rule will be toggled private, or banned if severe enough.
			p Card-backs follow Acceptable Language, and additionally must not contain images from the site that can appear over the card-back, anything that would be unsafe for work, or nazi imagery. Card-backs breaking this rule will be removed. Animated card-backs will be converted to a static image.
			
			h3.ui.header Gameplay
			p All players are expected to play fairly and reasonably in non-casual, non-private games. Casual games are more loosely moderated, and private games are mostly moderation-free.
			p The following is not allowed:
			li Colluding or multi-accounting to gain an advantage - Will be banned instantly if sufficient evidence is discovered
			li Ragequitting/loss dodging/refusing to play - 18 hour timeout in addition to be counted as an AFK
			li Ragequitting/loss dodging/refusing to play threats - 18 hour timeout
			li Intentionally playing to lose
			li Intentionally playing sub-optimally (e.g., playing poorly to spite another player), unless non-maliciously in a casual game
			li Using tactics not possible in person to gain an advantage (e.g., claiming misclick when conflicting)
			li Attempting to show private information (e.g., screenshot of cards or role)
			li Stating which role card you have (e.g., “old lady”)
			li Using key phrases to share information (e.g.,  saying “im hit” only as lib)
			li Using key phrases to influence specific people (e.g., pinky promises)
			li Attempts to unfairly influence games (e.g.,  blacklist threats, report threats, calling for mods over gameplay style)
			li Lying as liberal, unless it benefits your team (examples below)
			li Talking in a language that not everyone knows (english is always acceptable)
			li Voice-Chat only games, unless explicitly put in the game room name
			br
			p Examples of when to lie as liberal (not a complete list):
			li Claiming BBR when receiving BBB - Discourages fascists from discarding blues
			li Claiming BR when receiving BB - Testing to see if hitler is president
			li Claiming a liberal is fascist on investigate - Fake conflicting to get reactions
			p Any conflicts (i.e. BRR vs RR) started by a liberal must be resolved before the next government, unless you can prove it is beneficial to maintain it. Additionally, lies in general should be resolved by the time the deck ends, or when hitler zone starts.
			br
			p The following is allowed:
			li Ignoring “meta” or “correct order” of play
			li Using a personal meta that does not break the above rules (e.g., never lying on claims)
			li Having a discussion on what to do, even if it takes a long time, unless all other players are asking for play to continue
			li Having a play-style that can reveal information (e.g., never conflicting as chancellor), provided it is not claim-based (e.g., only claiming BBB as lib)
			li Maintaining a severe lie as liberal (e.g., conflicts), provided you can prove it benefits your team when questioned
			li Playing sub-optimally in casual games in order to test new ways to play
			
			h3.ui.header Disclaimer
			p AEM reserves the right to determine what conduct is considered to be a violation of the rules established. Rules open to interpretation are to be decided by AEM on whether specific actions are violations. If a member of AEM requests you not do something, continuing such action will be punishable. All moderative actions are taken as a team. This means there is always a discussion involved, so as to prevent bias, rushed or inconsistent actions.
			
			
			h3.ui.header Privacy
			p Our privacy policy can be found #[a(href="https://secrethitler.io/about") here]
