extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	.private-callout(style="text-align:center;margin-top:5px")
		p(style="color:white;") Here to play private games?	Click #[a(href="https://private.secrethitler.io") here] to use our new new private server.
	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p Check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki") wiki page] to learn about the game, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h2 #[a(href="https://discord.gg/secrethitlerio", style=("font-size: 22px;color: #c36563; text-decoration: underline")) Join our community on discord].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported in the #[a(href="https://discord.gg/secrethitlerio") discord development channel], or by opening a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					h3 Welcome to Season 10!
					h5 Thanks to LoveOken for this season's medals!
					h4 The top 10 players of season 9 are:
					ol
						li rags009: 1992
						li ChroIIo: 1942
						li Scorcha: 1930
						li NotFat: 1929
						li ChillMedusa: 1899
						li arteezy: 1886
						li DanGheesling14: 1886
						li olly97: 1882
						li earring: 1854
						li lucaanders: 1854
					hr
					h3.ui.header(style="text-align: center") #[a(href="/changelog") Full Changelog]
					p