extends layout
block content
	#header-container.ui.segment
	.ui.segment
		.ui.grid.mainpage
			.row#general-info
				.ten.wide.column
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it’s too late. Read #[a(href="/rules") the rules] to learn more, #[a(href="/how-to-play") how to play] to learn about the UI, or hop into the #[a(href="/observe") the game] itself right now.
				.six.wide.column.news
					h3.ui.header News
					p 11-12-2016 alpha begins.  Issues/bugs can be reported at #[a(href="//goo.gl/forms/IxDi9f1fKyGhefDx2") this link.] or open a github issue.
					p Version 0.1.10 "yellow" released 4-29-2017
					p New feature: whitelisting for private games
					ul 
						li While seated in a private game that has not started yet, click on "whitelist players" next to "leave game" to be able to whitelist players for this game.
						li A player who has been whitelisted will be able to get seated in this game without being prompted for the password.
						li This should prevent griefers/trolls from ruining games, without the need for an abusable private messaging system.  Please do not use this to exclude new players.
					p Bug fixes
					ul
						li CRASH FIXES - @jbasrai has identified and resolved 2 scenarios, I am diligent about wanting to bring this project to stability and will be analyzing logs etc.  Please bear with us.
						li Thanks to a bug report, a issue has been fixed with the "investigate loyalty" power - it can no longer be used twice on the same player.
					p Next up: automated claim system, and further investigation/fixes of crash problems.