extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now
			
	.ui.segment
		.ui.grid.mainpage
			.row#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p Check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki") wiki page] to learn about the game, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h2 #[a(href="https://discord.gg/secrethitlerio", style=("font-size: 22px;color: #c36563; text-decoration: underline")) Join our community on discord].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported #[a(href="/about") here]. Or come to the discord development channel, or open a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					p Version 0.14.2 released 5-22-2018
					h3 New feature: sound effects!
					p Thanks to contributor Idrissa, most common sounds have a sound effect associated with them. Fun! You can disable these in player settings. This setting does not effect the starting "bong" sound.
					p Also some bug fix attempts.
					p Version 0.14.0 released 5-20-2018
					h3 New feature: elo system
					p An elo system has come to sh.io. What is it/where is your winrate/why did your color change? See below.
					p Effectively an elo system is a point-based representation of your weighted skill based off of your teammates and your opponent's elo. The easiest way to think of it is that, when you win a game, your elo will go up more if you are playing against high rated players (their collective average) than low rated players. This is adjusted for the "normal" winrate of your team and the game size.
					p Player colors for elo mode have been redone - check the information icon on the player list. There is some drastic changes: based off percents, most players will be green. Some will be orange, and a small percent will be purple. Contributor color has been reassigned to teal.
					p Elo changes will be communicated when a game ends. Remember that all elo is based on the average of your and your opponent's team elo.
					p This feature can be disabled in your player settings screen.
					h3 Redone blacklists
					p All blacklists have been wiped, and a limit of 20 players that can be blacklisted has been applied. This will fail silently if you try to go over that. Blacklists are intended to be a way to avoid players you personally don't like playing with, not to be wielded as a weapon against players you can't control. Some players have blacklists in the hundreds and thats not what the feature was meant for - if there's a player breaking the rules, report them.
					p Version 0.13.5 released 4-29-2018
					h3 New feature: seasonal stats page.
					p Check out the link in the normal stats page to toggle between current season and overall stats.
					h3 Other bugfixes to various issues.
					p Version 0.13.4 released 4-28-2018
					h3 Tournaments temporarily disabled, see below.
					h3 Security update
					p It was brought to my attention that there's some issues with security around certain actions. This update has addressed these issues. Its important to note that these were game related issues, not account: your password is secure and not visible by anyone including me, and important info like who is each role and what the policy deck looks like, is and always was secure.
					h4 Other items
					ul
						li A bug with the new blacklist modal and deleting entries has been fixed.
						li There's some new helpful messages when you try to take actions like chat without 2 games played or chat while dead.
						li The cooldown for remaking games has been changed to 2 seconds if remake is on, and 10 seconds if remake is off.
						li Several fixes to issues with remaking games have occured.
						li Some fixes to issues with player colors have been implemented.
						li Welcome new moderators littlebird and Hexicube!
					h2 Huge callouts to contributors Hexicube and Nth for a ton of this work!
					h3 We don't talk about version 0.13.3
					p Version 0.13.3 released 4-25-2018
					h3 Tournaments temporarily disabled, see below.
					h3 Security update
					p It was brought to my attention that there's some issues with security around certain actions. This update has addressed these issues. Its important to note that these were game related issues, not account: your password is secure and not visible by anyone including me. And by game related issues I mean it was possible for people to take actions they should not be able to take, but important info like who is each role and what the policy deck looks like, is and always was secure.
					ul 
						li The cooldown for remaking games has been changed to 2 seconds if remake is on, and 10 seconds if remake is off.
					p Version 0.13.2 released 4-22-2018<
					h3 New feature: expanded timed mode (turbo mode)
					p Want to play a super fast game (or tournament)? The timed mode slider has been changed from 30 second increments to 1 second increments, and the minimum time is now 2 seconds (due to animations, can't be 1 second)! Important note: as the game clearly wasn't meant to be played this way, timed mode games under 30 seconds are forced to be casual games. Have fun! The display in creategame page has been updated slightly.
					h3 Bug fix: attempted fix to issue with timed mode some times auto choosing chancellor erroneously.  If this is still happening please update on discord or github - I don't have exact reproduction steps and am kind of shooting in the dark here.
					p Other issues
					ul
						li Previous "timed mode" idea credit to player HREmperor who gets orange contributor color. Contribute to this open source product to get it also! 140+ open issues on github! -_-
						li In your profile you can now view everyone on your blacklist, and remove them from it as well by clicking the remove icon.
						li There's a new timed mode game filter (funnel icon next to create game button), disable this if you don't want to see timed mode games.
						li Remake messages in chat no longer say what player has voted to remake it.
						li The "cooldown" of the remake button being able to be vote for against remake has been moved from 2 seconds to 10 seconds.
						li To avoid libs abandoning "lost" games, the remake threshold for 6p games is now 5, up from 4.
						li The whole remake system that was semi-bugged and needed to be rescinded and then revoted in order to get started on remaking may have been fixed? Somehow? I swear I didn't do anything but it seems to be working as intended now. Please update if not.
						li The stats page works again for 9p rebalanced, which apparently did almost nothing.
						li The one time name change feature has been removed, didn't work right and it turned out it wasn't a great idea to begin with.
						li Replays now show the casual game icon when available.
						li Casual game tournaments no longer award crowns.
						li New emotes: CantBeBothered and Salty, thanks to contributor LordVader.
					p Version 0.13.1 released 4-3-2018
					h3 New game mode: Timed mode
					p In a timed mode game, a timer on all actions appears in the lower right part of the fascist board, after which the next action is chosen at random.
					div(style="text-align: center")
						img(src="/images/timed-mode-example.png", style="border: 1px solid grey")
					p Example: in a 5 minute timed mode game, if someone does not make a required action in 5 minutes such as voting on an election, their nein or ja vote is chosen for them at random by the server. Note that in order to save stress on the server, this countdown is held client-side and will only be visible to	players/observers if they are present in the game when each timer starts (but still goes on in the background on the server, of course). This mode will	likely favor fascists! Feedback requested.
					p Complicated magical changes were made in the back end in order to enable this functionality and it may be subject to.. not being perfect. Please report any problems you see. Hopefully problems != crashes.
					h3 Bug fix: game now once again works on iOS devices.
					h3 Bug fix: blind mode players cannot reveal their names by pinging other players..
					p Version 0.13.0 released 4-1-2018
					h3 Season 2 has begun
					p Seasonal awards have been implemented: the top 60 players with more than 150 wins in season 1 have been separated into 3 tiers, and receive special award flair on the lines of gold/silver/bronze.
					p This flair can be disabled via the disable tournament crowns setting which has been renamed to disable tournament crowns and seasonal awards.
					h3 Congratulations to the top players of season 1 (more than 150 wins):
					ul(style="color: 'orange';")
						li maki2 66% wr
						li karamia 65% wr
						li TheDaniMan 64% wr
						li NotIconic 63% wr
						li TheJustStop0 62% wr
						li qwefjz 61% wr
						li BunchOfAnima 60% wr
						li Zeek 60% wr
					h3 New feature: player notifications (pings)
					p When you enter the site for the first time, you will receive a notification that looks like this:
					div(style="text-align: center")
						img(src="/images/notification-permission.png", style="border: 1px solid grey")
					small Obviously not localhost..
					p If you enable this feature, other seated players may now send you (and you may as well) a "wake up" notification. If someone types in "Ping5", the player in seat 5, if notifications are enabled, will see a screen like this (on their operating system, not their browser):
					div(style="text-align: center")
						img(src="/images/notification.png", style="border: 1px solid grey")
					p Players may use the ping feature only once every 3 minutes, and only in games you're seated in that have been started. This feature is only to be used for players who appear AFK - do not abuse this feature. Reminder: if you wind up finding these irritating, you can revoke permission for them in your browser settings.
					h3 New feature: one time name change.
					p Dislike your old name, but want to keep your stats and profile? Hit the big new big red button on your settings page to change your name. This only works once per account so choose wisely.
					h3 Other items
					ul
						li New emotes courtesy of contributor LordVader! ThinkFace, PIZZA, ExpressionlessFace, PopCorn, RedHeart. They are in the popup menu as well of course.
						li Tournaments now make the usual "bong" noise when they start.
						li The "rules" page has been updated thanks to a contributor. The big change is a description of common terms used on the site.
						li Players can now submit up to 3 moderator reports per game, up from 1.
						li A bug where people with blacklists over 100 will have an error preventing them from adding new blacklists has been fixed.
						li The planned "timed game mode" and "player notes" feature didn't quite get wrapped up prior to today's update, look for those soon.
					p Version 0.12.5 released 2-20-2018
					h3 Bug fix: replays are back!
					p Thanks to a contribution a long standing bug in replays has been fixed and should work for all recent games.
					h3 New feature: 3 new emojis - ThumbsUp, CNH, and Shrug. Check them out.
					h3 New feature: casual game mode setting.
					p Select this to play a game where the results do not affect the player's wins or losses.
					h3 Other items:
					ul
						li Thanks to a contribution, tournament crowns are no longer visible in blind mode.
						li Please welcome new moderators safi, Wilmeister, and MrEth3real.
						li Stats for rebalanced (-2 fascist policy) 9 player games might be working tomorrow.. (data collection occurs at 4am)
						li There's a new poll on the polls page re: length of seasons.
					p Version 0.12.4 released 2-3-2018
					h3 New feature: rebalanced 9p games (again).
					p Now, they start with 2 less fascist policies in the deck. The stats page should be updated.
					h3 New feature: games being remade will now show player roles briefly  (thanks to Z3r0-K0ol on github.).
					h3 Other items:
					ul
						li The site should look a bit better at smaller screen widths outside of games.
						li The discord widget in general chat now works again.
						li "Show chats" button in replays works again.
						li The how to play page on the website has been updated with new content.
						li Many "behind the scenes" moderation tools have been implemented.
						li Please welcome new editor Invidia.
					p Version 0.12.3 released 1-6-2018
					h3 New feature: rerebalanced 9p games.
					p Due to 9p, even rebalanced, being way too easy for fascists, the newly rebalanced 9p games will have a "phantom" liberal policy already enacted at the start of the game, in addition to one less fascist policy. There will still be 6 liberal policies in the deck to start.
					ul
						li The broken UI on the playerlist has been fixed.
						li Sorting of grey players on the playerlist had a bug which caused it to be really broken - now fixed.
						li The chat lock scroll issue has been fixed.
					p Version 0.12.2 released 1-6-2018</p>
					h3 New feature: gamechat shows remaining policies (in order) at end of game.
					div(style="text-align: center")
						img(src="/images/remainingpolicies.png", style="width: 80%; border: 1px solid grey;")
					h3 New feature: blind mode now works in tournaments.
					h3 Other items:
					ul
						li Previous update with players with less than 5 games played being unable to chat in general chat or observer mode has been reduced to be just 1 game played.
						li More fixes to replay issues.
						li Blind mode now shows the player's alias when claiming.
						li An internal UI change has taken place, will hopefully resolve some issues with general chat bouncing around for some users and iOS problems as well.
					p Version 0.12.1 released 1-3-2018
					ul
						li Players with less than 5 completed games can no longer chat in general chat, chat as an observer, or make player reports.
						li Thanks to a contributor, rebalanced games now show up correctly on the status bar while in a game.
						li Blind mode no longer shows tournament crowns..
						li Please welcome new mods RavenCaps and JerMej1s.
					p Version 0.12.0 released 12-31-2017
					h3 New feature: seasonal mode!
					h4 Important note: your stats are not gone. Read below before panicking.
					p Like many other esport games, seasonal mode has come to sh.io. What this means as that there are now two tiers of player records, seasonal (which starts today) and overall. At the beginning of a season, the seasonal tier is wiped of wins and losses, and should last about 3 months (some tweaking may occur).
					p When you play a game from now on, its result is added to your overall record and your current seasonal record. Seasonal mode is opt-out, and affects you only - go to your player settings screen to disable it, and your and other player's overall records and name colors will be shown to you instead, just like before this patch. Note: players who have achieved rainbow status do not have to play 50 games to play rainbow games in new seasons, and will still have cardbacks enabled. Yes I realize this somewhat paradoxically will make rainbow games non rainbow so to speak at least for some time. Your profile	will not be affected, for now.
					p Some fun rewards/leaderboards/stats for doing well in seasons are planned for the near future.
					h3 Tournament mode re-re-re-enabled.. we'll see if this one takes..
					h3 New feature: rainbow games now count towards standard winrate.
					p This has been requested a lot lately, we'll see how this goes/how people like it for season 1. The poll on this was split, lets give this a shot.
					h3 Other items:
					ul
						li Thanks to a pull request, the fascist/lib card icons are now randomized correctly i.e. liberal with pencil mustache/snake in a suit fascist can now appear in any game, not just 9/10p games.
						li Thanks to the same PR, claims now are filtered into the "game" internal chat filter.
						li Thanks to a PR, replays have been worked on and fixed! If you see more issues, please alert us. In addition the role cards are no longer all the same at the end of replays.
						li The above work was done by contributor STOshka/AlexSTO. Awesome!
						li In blind mode games, hovering on a player's name no longer shows you who they are..
						li You can now report players in blind mode. Reminder: blind mode is not an excuse to break site rules.
						li In a consensus vote on elections (everyone votes the same), the ja/nein cards are visible for a much shorter period of time, getting on with it.
						li A bug that prevented players from remaking a game more than once has been fixed.
						li The weird selection bug on elections ja/nein has been fixed, was hotfixed about a week ago but you had to have cleared your cache.
						li Say goodbye for now to Santa Hitler.
					p Version 0.11.2 released 12-24-2017
					h3 Tournament mode re-re-enabled..
					ul
						li Thanks to a PR, the fascist/lib card icons are now randomized correctly i.e. liberal with pencil mustache can now appear in any game, not just 10p games.
						li Thanks to the same PR, claims now are filtered into the "game" internal chat filter.
					p Version 0.11.1 released 12-22-2017
					h3 Tournament mode re-enabled.. we'll see how I messed it up this time.
					h4 A bug that allowed presidents/chancellors to chat during election period by tabbing to the input bar has been fixed.
					h4 New chat enhancements! See below.
					ul
						li Words surrounded by * (single asterick) are italic.
						li Words surrounded by ** (double asterick) are bold.
						li Words surrounded by __ (double underscore) are underlined.
						li Words surrounded by ~~ (double tilde/grave) are strikethroughed.
					h4 **Puts on professional chatroom application developer hat: please note that this only works on __words__, i.e. text that is separated by spaces, not multiple words. If you want that, you'll (for now..) need to surround each word with the above. Also, you can only have one of these effects per word.**
					h3 The "unchangable election vote" thing is a bug, not a feature, I'll fix that soon.
					p Version 0.11.0 released 12-21-2017
					h3 New feature: tournament mode!
					p When making a game, you now have the option to instead make a new tournament lobby.
					div(style="text-align: center")
						img(src="/images/tournament-creategame-slider.png", style="width: 80%")
					p The tournament feature will start 2 tables of a game when 14, 16, or 18 people have signed up. When the 2nd game completes, a final table is created with the winners of both games. Please make sure you have the time set aside to play 2 full games before joining a tournament queue. If you're good. ;)
					p Winners of the final table receive a new crown icon next to their name that lasts for 3 hours, and are sorted to top of the player list under mods. Yes, you can accumulate multiple crowns. Get 3+ and you'll be above mods and editors! But not admins :)
					p In tournament round one tables, the remake button has turned into a "cancel tournament" button, please use this if there is an afk and both tables will be stopped. Its not an ideal solution but its what we can do.
					p This feature is a big change, and there's likely going to be issues with it, as my professional QA department is my cat. Other than disable observer chat, you can use all other normal game settings for tournament mode with one caveat - in the unlikely event that you play a 6p final table, it will always be rebalanced.
					h3 New player setting: disable tournament crowns
					p Duh.
					h3 Other items
					ul
						li Thanks to contributor Rex1234, you can now access your profile directly by clicking on your name next to the settings cog.
						li Hovering over a player's name in game now shows their name in the "report" description text (in case they have lots of crowns).
					h3 Next up: any issues with tournaments, and most likely, a 3rd and 4th tier of playerlist sort for tournaments and rainbow tournaments.  After that, probably seasons as its a small change and optional and extends the life of the game.
					p Version 0.10.0 released 11-13-2017
					h3 New feature: UI overhaul thanks to contributor Wi1son
					p Huge changes!  Also updates to some of the more irritating front-end issues like blank screens/bouncing back and forth.  Please report any issues you see.
					h3 New feature: see chats in replays.
					p There's a new button on replays to toggle between the replay tools and the chats in that game.
					h3 New feature: rebalanced 7p games.
					p 7p games have the optional rebalance treatment now - same as 9p, a fascist policy has been removed to start the game.
					h3 Up next: blind mode and tournament mode!
					p Version 0.9.2 "dim3" released 11-5-2017
					h3 New feature: discord integration in general chat.
					p Click the new discord icon (while logged in) to replace the site's general chat with our discord channel's general chat.
					h3 New feature: disable confetti user setting.
					p For those of you that hate fun.
					h3 New feature: moderator sticky notes on general chat.
					p Dismiss in usual way, will be used to impart useful information that is less temporary than broadcasts.
					h3 New feature: reverted private games visibility.
					p Having them totally hidden was probably too difficult to find for some players that didn't have the URL. So now everyone can see private games again, but only those who are seated (and mods) can see gamechats. A decent compromise I think.
					h3 Other issues:
					ul
						li Clicking on a player's name in general chat takes you to their profile page.
						li The remake button's gamechat now tells you how many votes you need to remake a game.
						li A fix to moderation timeout ability is in.
						li Players can only make one player report per game. I'm lazy and there's no failure state for this, so just keep it in mind: more than one attempt per game will not go through to mods.
					p Version 0.9.0 "dim" released 10-29-2017
					h3 New feature: player bios
					div(style="text-align: center")
						img(style="width: 80%; border: 1px solid grey; padding: 10px; margin: 5px 0;",src="/images/bio.png")
					p Visit your profile page to write something brief about yourself that others can see. Links are allowed, but SEO unfriendly (google "nofollow noreferrer noopener"). Obviously still subject to the site terms of use..
					h3 New feature: optional rebalancing for 6 and 9 player games.
					p There's a new create game option (default: on) that, when a 6 or 9p game has begun, a facist and liberal policy have already been enacted, respectively. You'll get it. While these are being recorded correctly, there are no stats/graphs for this yet - next minor update.
					h3 New feature: URL routing
					p What this means is the URL of your browser now accurately shows the state of the application. The big takeaway is games, replays, and profiles are now all deep linkable! Make a private game and want your friends to join? Just send them the link. The browser back and forward buttons now work in the way you would expect as well. If you link a game that no longer exists, you will instead be routed to the replay. This required a large change to the front end and may not be perfect, please update if so. Also using gfycat style naming convention for game IDs!
					h3 New feature: actual private games
					p Private games have been changed - they no longer show up on the list of games on the left sidebar, and are only accessible through the new URL linking mechanism. In addition, private games no longer count towards a player's win and loss rate. Note: moderators can still see private games. I realize that it may be somewhat difficult to play additional private games - next minor patch will have a remake game feature which will help with that.
					h3 Other issues:
					ul
						li Overall UI has been tweaked color wise mostly. If you've been playing here at all in the past year (yikes), you'd know I am not at all a designer, but I can at least attempt to make things more fluid and contiguous. If you ARE a designer (and want to work for free..), let me know.
						li Links in general chat to sh.io itself, or to this site's github repository, are now clickable. Other links are still not.
						li Hovering on a chat in general chat will show a timestamp of when it was said.
						li The whitelist feature now correctly has a scroll bar.
						li Players who have left a game in progress now look slightly different than players who are disconnected.
						li If you have a custom width or font, the application no longer "flashes" when you load the page.
						li A fix to players being able to make accounts with the same name but different capitalization has been implemented.
						li The stats page is finally working right - it updates once per day, and the undefined/NaN stuff is gone.
						li There is a now a slight UI difference between players who have left a game, and players who are disconnected.
						li All dependencies updated including moving to the latest version of React (16). What this means is hopefully some better front-end performance.
					h3 Up next: the remake game functionality will be finished up and rolled out in 0.9.1. Also new stats graphs for the rebalanced game feature.
					p Version 0.8.0 "citehtseawen" released 9-23-2017
					h3 New feature: UI overhaul
					p Thanks to contributor andy013, most of the cards and images in game have been upgraded and colorized. Neat!
					p Also fonts redone, many other UI tweaks in. Let us know what you think. Change is good people.
					h3 New feature: chat emotes!
					p In twitch.tv style, players can chat small word fragments which will turn into icons inside of chat, such as:
					div(style="text-align: center")
						img(src="images/em.png", style="width: 70%")
					p Typically a clickable popup will be available and selectable.. I didn't get to that - next patch. For now, please check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki/Emotes",target="_blank") 				emote reference].
					p Thanks goes out to contributor andy013!
					h3 New feature: election voting rework (changable votes)
					p Previously, a vote on a government was immediate and permanent. Now, clicking on ja or nein will remove your loader gif, but you can either a) click the selected one again to bring back the loader and prevent vote tallying or just b) select the other option to switch your vote. Votes are tallied as usual when all players have selected their vote.
					h3 New feature: 2nd tier of player moderators (editors) and many new helpful moderation tools implemented.
					p Editors will have an (E) next to their name, and mysterious expanded mod powers! Like assign roles to players, and reveal all roles to themselves. Just kidding. Editors and mods can now do helpful things like temporarily turn off account creation in case of troll attack and disable ip bans so that a group from one location can get around the 1 account per day limit.
					h3 New feature: wiki page
					p Check out our #[a(target="_blank", href="https://github.com/cozuya/secret-hitler/wiki") wiki page] kindly set up by editor DFinn. Useful and topical information will be kept there, keep an eye on it if you are interested in the future of this site.
					h4 Other issues
					ul
						li Home page and about us page text has been updated and the webform deprecated. If you have feedback/issues, a new email address has been set up in the about page and we are always available via discord and the player report feature.
						li Gamenotes clear button now works.
						li Thanks to contributor jonnybest, hovering on a game on the list in the left sidebar now shows you who is seated in that game.
						li A bug in "blind mode" (no gamechat) was causing fascists to get credit for winning the game when Hitler was shot, this mode was previously disabled via hotfix, now that bug has been fixed and that mode has been re-enabled.
						li Private games "P" icon in the upper left corner of a gamelist was disappearing after the game started - thanks to contributor jonnybest, this has been fixed.
						li Players can now search/type in other players to look at their profile just like clicking on them. The player settings page (gear icon) has this new input field.
						li The footer bar in the default view has been updated to include our wiki.
						li No new polls this release.
					p Version 0.7.0 "black" released 8-7-2017
					h3 New feature: player uploaded custom cardbacks!
					p In the settings view (cog icon in upper right), players now have the option to upload a new cardback that will be shown in-game.  The details are:
					ul
					li
						strong Image uploaded must be 70px by 95px, or it will not look right.  Do not trust the previewer - it will crunch to fit the box, the game itself won't do that.
					li Rainbow players only.
					li For today only, you can upload an image every 30 seconds.  After today, you can only upload an image once per 18 hours.  Be careful before hitting save.
					li Only png, jpg, and jpeg are permitted.  Must be below 40kb.
					li
						strong No NSFW images, nazi anything, or images from the site itself to be tricky.
						span The terms of service page has been updated.
					h3 New feature: better support for large width monitors.
					p The application is no longer fixed width, and will stretch to fit the entire screen.  Chat boxes will take up the remaining space.  I recommend turning "show right sidebar in game" on.
					h3 New feature: enhanced moderator actions
					p Mods can now delete users, set wins and losses, and delete cardbacks.  Also they can now type in player names to affect offline players.  Lets hope they're not fascists.
					p Other stuff:
					ul
						li The "chat a blank line" bug was fixed.
						li Observer count was removed as it never worked right anyways.
						li Moderators can chat in observer chat in private games.
					p Version 0.6.0 "noise" released 6-12-2017
					h3 New feature: Player profiles
					p Click on a player in the lobby/player list to get detailed information about games they've played. You can access your own stats that way, or through the game settings screen ("gear" icon in upper right corner).
					div(style="text-align: center")
						img(src="images/profile.png", style="width: 100%")
					p A big change to the back end, and will allow for some more interesting features (like game replays) and analysis in the future.
					p This is an epoch event, meaning that only games from here on out will be seen in your profile.
					h3 New feature: notification for patch notes.
					p As you've probably seen, the lizard image in the middle will glow until you click it, showing this changelog.
					p Both features courtesy of contributor jbasrai.
					h4 Please welcome new moderators jazz and Max.
					p Version 0.5.0 "glow" released 6-10-2017
					h3 New feature: Player moderation
					p Some players have volunteered to be moderators.  They are empowered to have the ability to ban non-rainbow players for griefing and trolling, and to check for cheating. Hopefully this (and some more advanced powers from admins) will be a permanent solution to problems that may come up.  Moderators will have a red (M) next to their names.
					h4 Other updates
					ul
						li A fix to the rainbow game icon on the gamelist only being there for games that haven't started yet.
						li A fix (finally) to dead players being able to chat by leaving the game and coming back.
						li A 3 second delay has been implemented between the inactment of a policy by the chancellor, and the ability for the government to make a claim (for non-experienced games only).  This should change game play a lot I think..
						li Various tooltips have been added to some items and will continue to be addded in the future.
						li A fix to rainbow losses also adding to normal losses, but not the other way around.  I'll see if there's a way to credit those.
						li Contribution by player sethe: a fix to the (relatively rare) problem of the election tracker not working right with vetos and neins.
					p Up next: player profiles.  This is just about ready to go and will be released within the next 2 days.
					p Version 0.4.0 "chestnut" released 6-5-2017
					h3 New feature: Rainbow games.
					p While creating a game, players with more than 50 completed games ("rainbow players") will now be able to create games that only other rainbow players can be seated in. These games have a special symbol in the sidebar.
					div(style="text-align: center")
						img(src="images/gamelist-rainbow.png", style="width: 100%")
					p In the lobby, a new icon appears showing what game style you are filter and sorting the userlist by.  Click it to switch between "regular" and "rainbow".  Effectively, rainbow players get to "start over" in an optional hard mode with a 0-0 score.
					p For rainbow games, your wins and losses are in a different tier, that does not affect your regular game winrate or player color.  "Rainbow rewards" may come in at some point.
