extends layout
block content
	div(style="position: relative; top: 60px; padding: 0 195px; z-index: 1000; text-align: center")
		span(style="background: #474747; color: #fff; margin: 0 5px;") I'm looking for work!
		span(style="color: #ff9898") Need an experienced senior JavaScript/TypeScript front-end/React (or fullstack JS) developer?  Hit me up on #[a(href="https://www.linkedin.com/in/chris-ozols-8a277559/") LinkedIn] or #[a(href="mailto:chris.v.ozols@gmail.com") email]. -Chris
	img(src='../images/banner-summer.gif', style="width: 0; height: 0;")
	if username
		a(href="/game/") 
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	else
		a(href="/observe/")
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.sixteen.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p Check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki") wiki page] to learn about the game, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h2 #[a(href="https://discord.gg/secrethitlerio", style=("font-size: 22px;color: #c36563; text-decoration: underline")) Join our community on discord.]


