extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now
			
	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p Check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki") wiki page] to learn about the game, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h2 #[a(href="https://discord.gg/secrethitlerio", style=("font-size: 22px;color: #c36563; text-decoration: underline")) Join our community on discord].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported in the #[a(href="https://discord.gg/secrethitlerio") discord development channel], or by opening a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					hr
					h3 Version 1.6.5 released 10-5-2019
					p Updates Terms of Use to version 1.4
					p Fixes Cardbacks not being visible in remakes
					p Fixes spacing issues for user names and medals in game
					p Fixes bug where remake votes didn't rescind automatically
					hr
					h3 Version 1.6.4 released 10-1-2019
					h4 The top 10 players of season 7 are:
					ul
						li Canaris: 1956
						li imbapingu: 1941
						li liluzivert: 1924
						li Maximovic96: 1923
						li rags009: 1920
						li Olk: 1897
						li acro: 1887
						li Freakin: 1882
						li Kristy: 1882
						li okboomer: 1879
					p Fixes Season End Date on Firefox
					p Fixes Remake Spam
					p Fixes Bug where users could snoop which other players had voted to remake
					p Adds the ability to simply type "@mod [message]" in game to ping a moderator on Discord automatically
					p Adds a Safe For Work User Setting - to minorly conceal some mentions of Hitler
					p Adds a new on-site warning feature for moderators
					p Multiple moderation improvements
					hr
					h3.ui.header(style="text-align: center") #[a(href="/changelog") Full Changelog]
					p


