extends layout
block content
	.ui.container.howtoplay-container
		h1.ui.centered.header How to play Secret Hitler
		h2.ui.centered.header The default view
		p Click on games on the left sidebar to enter them.
		image(src="images/howtoplay/default.png")
		h2.ui.centered.header Create games view
		p Drag the slider to set the minimum and maximum number of players you'd like in this game.
		image(src="images/howtoplay/creategame.png")
		h2.ui.centered.header Unstarted game view
		p A newly created game with only the game's creator seated.
		image(src="images/howtoplay/unstartedgame.png")
		h2.ui.centered.header In progress game
		image(src="images/howtoplay/inprogressgame.png")
		p Games will prompt you visually to take actions.
		image(src="images/howtoplay/inprogressgame2.png")
		h2.ui.centered.header Completed game
		p A finished game - fascists elected hitler.  In your settings you can change whether or not to see the right sidebar while in a game.
		image(src="images/howtoplay/endedgame.png")