extends layout
block content
	#header-container.ui.segment
	.ui.segment
		.ui.grid.mainpage
			.row#general-info
				.ten.wide.column
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it’s too late. Read #[a(href="/rules") the rules] to learn more, #[a(href="/how-to-play") how to play] to learn about the UI, or hop into the #[a(href="/observe") the game lobby] itself right now.
				.six.wide.column.news
					h3.ui.header News
					p 11-12-2016 alpha begins.  Issues/bugs can be reported at #[a(href="//goo.gl/forms/IxDi9f1fKyGhefDx2") this link]. Or open a github issue.
					p Version 0.1.12 "pumpkin" released 5-2-2017
					h3 Server status: so the previous patch significantly helped with downtime.  However, the games that would have previously crashed now just uh glitch out, in strange ways.  So still lots of work to be done.  But at least other player's games are not ruined, and you don't need to re-login, you can just jump ship on the game.
					p Bug fixes in 0.1.12
					ul
						li (#2) Fix to gamelist sorted incorrectly (I hope, hard to test).
						li (#20) Fix to players showing up multiple times in the gamelist/lobby.
						li Fix to idle/completed games never going away on the sidebar, cluttering it up.
					p Next up: automated claim system, and further investigation/fixes of crash/glitch game problems.