extends layout
block content
	.ui.container.about-container(style="position: relative")
		.ui.text.container
			a(href="https://github.com/cozuya/secret-hitler")
				img(style="position: absolute; top: 0px; left: 0; border: 0;", src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png")
			h1.ui.centered.header About Secret Hitler IO
			p Need support or have questions about moderation? Check out the #mod-support channel of our Discord. Questions about the site or code? Discord #development-contribution is the best bet.  You can contact the admin at chris.v.ozols at gmail dot com.
			p Want to contribute to this open source product?  Check out the github page and issues - any accepted pull request will get you a cool special colored name!
			p Application originally designed and developed from the board game by #[a(href="http://www.TwoLongOs.com") Chris Ozols].  Due to a fairly complicated UI and text-driven gameplay this application is not mobile-optimized, but should work OK on mobile devices in theory.  Source code available at #[a(href="//github.com/cozuya/secret-hitler") github].  Bugs/issues?  Contact me via email, #[a(href="https://discord.gg/secrethitlerio") discord channel], or #[a(href="https://github.com/cozuya/secret-hitler/issues") open a github issue].
			h3.ui.header Privacy Policy - general
			p Your encrypted password is securely stored and is not accessible by anyone.  Your user name or any chats you've made is not publicly accessible and not indexed by search engines.  Moderators have access to see your IP address on a private moderation panel - this is used solely to guard against cheating and is never publically available.
			h3.ui.header Privacy Policy - email addresses (verified accounts)
			ul
				li Email addresses are used for ONLY the following actions: verifying your account, and reseting your password.
				li In no circumstances will your email address be used for anything other than the above including any sort of mass "email blast".
				li Only administrators have access to see your email address.
				li Your email address will never leave the site/will never be given away or sold.
			h3.ui.header Attribution
			p Secret Hitler is designed by Max Temkin, Mike Boxleiter, Tommy Maranges and illustrated by Mackenzie Schubert.
			p This game is attributed as per the #[a(href="//creativecommons.org/licenses/by-nc-sa/4.0/") Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International] license.
			p Sounds in game are open source attributed by the following: #[a(href="http://creativecommons.org/publicdomain/zero/1.0/") zero (cc0)], #[a(href="http://creativecommons.org/licenses/by/3.0/") by], and #[a(href="http://creativecommons.org/licenses/by-nc/3.0/") by-nc]. 
			h3.ui.header This application is built with:
				h4.ui.header(style="margin-left: 20px;") Front end
				p(style="margin-left: 20px;") React, Redux, Sass, SemanticUI, SocketIO.
				h4.ui.header(style="margin-left: 20px;") Back end
				p(style="margin-left: 20px;") NodeJS LTS, Express, Pug, Passport, Mongodb with Mongoose, SocketIO.
			h3.ui.header Alterations to the original game
			ul
				li Minor image alterations and editing.
				li Veto power is slightly adjusted so that chancellors need to select a policy prior to saying yes or no to vetoing that policy.
				li Adapted the rules webpage slightly to account for online vs physical play.
				li There is an option when players make a game to "rebalance" the 6, 7 and 9 player games - 6p starts with a fascist policy already enacted, 7p starts with one less fascist policy in the deck, 9p starts with 2 less fascist policies. Players (and results from analyzing statistics) have noted that these game modes are the worst balanced and not fun to play with the original ruleset.
