extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now
			
	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p Check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki") wiki page] to learn about the game, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h2 #[a(href="https://discord.gg/secrethitlerio", style=("font-size: 22px;color: #c36563; text-decoration: underline")) Join our community on discord].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported in the #[a(href="https://discord.gg/secrethitlerio") discord development channel], or by opening a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					h3 #[a(href="/changelog") Full Changelog]
					p Version 1.4.1 released 4-1-2019
					h4 The top 10 players of season 5 are:
					ul
						li nvassOG: 1979
						li minie: 1977
						li Claire0536: 1937
						li Canaris: 1915
						li benjamin172: 1910
						li mufasa: 1905
						li Arrtxi: 1901
						li RyanLockwood: 1892
						li Anzuboi: 1862
						li spite: 1858
					p Version 1.4.0 released 3-27-2019
					h4 New players have the "typing indicator" setting disabled by default - reminder, if you are experiencing laggy gameplay, turn this off yourself in the player settings. -coz
					h4 Many Moderation Improvements -Vigasaurus
					h4 Silent Game Features now work as intended -Vigasaurus
					h4 Many smaller fixes and minor UI changes!
					p Version 1.3.0 released 3-5-2019
					h4 Fixed issue: Chats in replays work again.
					h4 Returning feature: typing indicator (again). This has been overhauled and should work better.
					h4 New player setting: disable typing indicator. If you feel this is adveresly affecting your browser, turn this off in your settings.
					h4 New feature: Creategame overhaul.
					p Thanks to Vigasaurus the create game page has been redone with many new looks and feels including some fun templates.
					h4 Many smaller fixes and UI updates!
					p Version 1.1.3 released 2-26-2019
					h4 Fixed issue: problems people were having while typing in chat in mobile view.
					h4 Returning fixed feature: claim from chat i.e. type "rrb" to make a claim without clicking on the "claim" button.
					p Version 1.1.2 released 2-24-2019
					h4 New feature: much better mobile/small screen width user experience -RPYoshi
					p May not be entirely bug free -_- we'll see.
					h4 New feature: informational popup for new accounts -coz
					p This will attempt to explain how the site works somewhat and provide useful links to our how to play, terms of use, about, and wiki pages.
					h4 New feature: claim directly from the chat without clicking the "claim" button - simply type what you want to claim i.e. "rrb" -Vigasaurus
					p Hopefully won't break everything this time
					h4 Adds 12 New Emotes -Vigasaurus
					p Special thanks to everyone on SH.io discord server who suggested emotes
					ul
						li Moderators can now peek at currently locked in votes on a government -Vigasaurus
						li Game Creation defaults now reflect results of strawpoll conducted previously -Buncha
						li Game creation defualts should apply correctly -Vigasaurus
						li Updated banned word list to be more exhaustive -Vigasaurus
						li Minor bug fixes and internal changes -Vigasaurus, Spyro
					p Version 1.0.2 released 1-20-2019
					ul
						li Some new moderation features (mods can force votes on afks) courtesy of contributor Vigasaurus.
						li List of games should be like it was in 1.0.0 and lower.
						li Contributor color has been updated.
						li Version 1.0.1 released 1-5-2019
					ul
						li Signin/signup with Discord/Github should be fixed.
						li You should no longer be logged out automatically as often.
						li Election tracker now says its status in the gamechat after fails.
						li Lobby and cosmetic improvements @Hexicube.
					p Version 1.0.0 released 1-1-2019
					h3 1.0.0 and season 5 begins!
					h3 Badges this season are thanks to player liberalist!
					p It took a while, but we're here - all major features I could think of and some I couldn't are in and mostly working. A long, long way from the first stable(ish) release back in May 2017.
					p I want to thank our moderation team first and foremost. The site would not be in the same shape without them. There was a time that feature wasn't even in and it was just a nightmare. Obviously its a combination of both the theme and the nature of a mostly anonymous internet, but they've done an amazing job keeping this place playable in public games and fun for everyone!
					p I also want to call out contributor/mod Hexicube for spending so much working on various parts of the app over the last ~year. Many moderation tools and features like custom games would not exist without him.
					p Please note that 1.0 does not mean I am no longer supporting the application and site. Work will continue to make the site even better, but not personally at the pace I have been. My next game is in progress and I expect to get to a playable pre-alpha state some time in the next few months. It will be a (fresh IP) hidden role game with some similarities to the fascist hunting/electing game we all know and love but with some fun features and mechanics that can only exist online. Stay tuned! -Chris
					p This update also includes:
					ul
						li Fixed player claims showing under player chat instead of game chat.
						li Broadcasts will now always show regardless of filters.
						li Fixed cardbacks sometimes failing to upload.
						li Game remaking no longer shows "1/NaN" before the game starts on non-custom games.
						li Fixed alts/trials showing as grey in user list.
						li Elo slider minimum is now 1600.
						li Cardbacks now support all image types, and all sizes.
						li Game remaking now updates the blacklist if the creator changed theirs.
