extends layout
block content
	.ui.container.about-container
		.ui.text.container
			h1.ui.header.centered Terms Of Use
		.ui.text.container
			h2
				strong General
			p The site is provided free of charge to everyone, and is subject to the occasional failure that is out of our control. Sometimes you may lose on a sure win due to technical issues. In these situations, just like in general, elo refund is sadly not possible.
			p Breaking any of the rules listed below is subject to warnings and moderative action against your account (regardless of if you were reported), and in extreme cases we may revoke your access to this site.
			p Most violations will be addressed with a Warning &gt; Timeout &gt; Ban protocol, unless otherwise stated. Multiple warnings and timeouts may be issued to one player based on their offense and their history.
			p Any malicious activity (e.g., trying to crash the site) or attempts to intentionally subvert rules using gaps in rulings or loopholes will be considered breaking the rules.
			p To request mod assistance you may ping @Moderator in the #mod-support channel of our Discord server. While seated in game, you may also ping @mod followed by a space and the message (e.g., @mod 6 is afk), or you may report a player directly by double-clicking their user name and filling out the report modal.
			br
			h2
				strong Language and Behavior
			p These rules apply to ranked, practice, casual, and custom games. Unlisted games will not follow any of these rules unless the link is shared publicly.
			p These rules also apply to game room names, even if the room is private. Forbidden room names will be reset and their creating users will be warned.
			p Anything not listed below is probably fine to use, provided there is no malicious intent or spam.
			h4
				strong Forbidden Language:
			li Hate speech
				<ul style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px; list-style-type:circle">
					li Anything racist, sexist, homophobic, transphobic, anti-specific-religion, or anti-atheism.
					li Anything ableist or derogatory to people with disablities, when excessively insulting a player.
				</ul>
			li Encouraging/glorifying self-harm or harm of others, including telling others to &quot;die&quot;, &quot;kys&quot;, etc.
			li Excessive sexual content.
			li Posting links to anything harmful or NSFW.
			h4
				strong Explicitly Forbidden Words:
			li N word -- likely ban on sight
			li &quot;Faggot&quot; -- clearly homophobic use will be treated under forbidden language rules.
			li &quot;Ape&quot; or similar, when excessively insulting a player -- clearly racist use will be treated under forbidden language rules.
			li &quot;Retard&quot;
			li &quot;Cunt&quot;&nbsp;
			li Words that are equivalent to those listed above (e.g., &quot;libtard&quot; for &quot;retard&quot;).
			h4
				strong Forbidden behavior:
			li Spamming.
			li Harassing or excessively attacking others.
			li Talking about a game as an observer (e.g., possible fascist lines) after a seated player asks you to stop.
			li Discussions in non-English, except for brief instances if there is no conflict with any other rule.
			li Engaging in excessive and unnecessary drama or unwarranted attention seeking/self-pity posts.
			li Impersonating a player -- impersonating a moderator will be treated more harshly.
			li Abuse of moderator ping and player report functions.
			li Unauthorized advertising.
			li Any usage of bots that automate actions or chats.
			li Spoiling any recent films, TV shows, or similar -- 18hr if maliciously spoiling popular, current entertainment.
			li Doxxing/exposing someone's personal information -- likely ban on sight if extreme.
			br
			h2
				strong Accounts and Cardbacks
			p Account names strictly follow Language and Behavior rules. Additionally, account names must not be too similar to other unique usernames without that user&apos;s permission. Any account found breaking these rules will be permanently toggled private. Private accounts are not subject to moderation, but can only play in private games.
			p
				strong Card-backs follow Language and Behavior rules, and additionally must not contain:
			li Images from the site that can appear over the card-back or similar enough to cause confusion.
			li Anything that the viewer may not wish to be seen looking at in a public or formal environment, anything that can be considered NSFW or potentially disturbing content.
			li Swastikas, SS, Nazi salutes.
			li Nazi imagery/portraits (with exception to obvious parody).
			br
			p Card-backs breaking these rules will be removed and violating users will be warned. Animated card-backs will be converted to a static image.
			br
			h2
				strong AFK (Away-From-Keyboard)
			p These rules apply only to ranked, practice, casual, and custom games.
			p AFK players are given 3 minutes to return and continue playing before they are in violation of our ToU. Any room waiting on an AFK player is asked to report the player to moderators and wait those 3 minutes before remaking/leaving. The AFK player is still encouraged to return if the lobby is still active, even if the 3 minutes passed, in which case the AFK will be excused.
			p AFK penalties increase based on the number of AFKs a player has within the 24 hour period following their last valid AFK; if more than 24 hours pass, the chain is reset. The penalties are listed below:
			li 1st AFK - No punishment
			li 2nd AFK - 6 hour timeout
			li 3rd AFK - 18 hour timeout
			li 4th AFK - Ban
			br
			p Any player found to be AFK&apos;ing too frequently, but not being banned by the procedure, may still end up banned.
			<p style="margin-bottom: 4px"> In some cases, a player is allowed to leave an active game without punishment. Aside from leaving due to IRL emergencies, a player may leave before the first election is voted on if...</p>
				li they don&apos;t have time to play,
				li they don&apos;t want to play the selected mode (meta is not a game mode),
				li there is a seated player they have blacklisted.
			</p>
			p For any emergency situations, a player&apos;s leave may be excused if they inform a mod before their next game and within a reasonable timeframe.
			h4
				strong Ragequits
			p Any player ragequitting (RQ), loss dodging, or refusing to play will receive an 18 hour timeout, at the very least, in addition to advancement of their AFK chain.
			br
			h2
				strong Gameplay
			p These rules are mostly intended for ranked games. Practice games also follow these rules, but penalties tend to be more forgiving.
			h4
				strong The following is not permitted:
			li Intentionally playing to lose (gamethrowing).
			li Intentional suboptimal play, unless non-maliciously in a practice game.
			li Stalling when the majority of players are decided on a play and are asking to move on.
			li Cheating
				<ul style="margin-top: 0px; margin-bottom: 5px; margin-left: -15px; list-style-type:circle">
					li Multi-accounting/rigging -- ban on first offence.
					li Showing private information (e.g., screenshot of cards or role).
					li Privately communicating game-related information to another player (including phrases with hidden meanings).
				</ul>
			li Unfair Influence/Tactics (game may be remade if players believe game was unfairly influenced)
				<ul style="margin-top: 0px; margin-bottom: 5px; margin-left: -15px; list-style-type:circle">
					li Using tactics not possible in person (e.g., claiming misclick on card selection or on shot. This does not include correcting misclaims.)
					li Abuse of game systems/features to influence players (e.g., blacklist mentions, threatening mod intervention, saying you will delete your account if you&apos;re lying).
					li Fake ragequitting/loss dodging/refusing to play -- 6 hour timeout if about gameplay.
					li Threatening ragequit/loss dodge/refusal to play -- 1 hour timeout if about gameplay.
					li Stating which role card you have (e.g., &ldquo;old lady&rdquo;).
					li Speaking on alt accounts while seated.
					li Talking about an ongoing no-chat game via general or other chat, while seated.
					li Speaking in-game or sharing information in other public chats while dead.
				</ul>
			li Playing voice chat games if not every player is in the voice chat, unless &quot;voice chat&quot; is explicitly labeled in the room name.
			li Use of a non-English language, unless explicitly stated in the game room name
			br
			p
				strong Lying as liberal may be treated as a violation, unless it benefits your team. Examples of when to lie as liberal (not a complete list):
			li Claiming BBR when receiving BBB (discourages fascists from discarding blues).
			li Claiming BR when receiving BB (testing to see if hitler is president).
			li Claiming a liberal is fascist on investigation (fake conflicting to get reactions).
			li Any conflicts (e.g., BRR vs RR) started by a liberal must be resolved before the next government, unless you can prove it is beneficial to maintain it. However, lies in general should be resolved by the time the deck ends, or when hitler zone starts.
			h4
				strong The following is permitted:
			li Ignoring &ldquo;meta&rdquo; or &ldquo;correct order&rdquo; of play.
			li Using a personal meta, as long as there is no conflict with any other rule.
			li Having a discussion on what to do, even if it takes a long time, unless this conflicts with the stalling rule.
			br
			h2
				strong Disclaimer
			p Moderators reserve the right to interpret this ruleset and determine what conduct is considered to be a violation. If a Moderator asks that you not do something, continuing such action may be punishable. All moderative actions are taken as a team and all moderative actions taken are open to peer-review and discussion amongst the team, so as to prevent biased, rushed, or inconsistent actions. If you believe you have been unfairly punished, please calmly contact @Moderator in the #mod-support channel of our Discord server.
			p
				strong
					u Moderative Actions
			p The table below shows the process by which mods typically handle types of infractions, including how many warnings/timeouts a player may receive. Note that the table is the general template of expected actions, categorized by type, and that actions are typically taken based on specific offence, rather than type.
			p
				u
					strong Moderators can&nbsp;still skip some, or all actions&nbsp;based on the specific case, history of the player, and if there&rsquo;s malicious intent.
			p Punishments get progressively harsher as the offender repeats the infraction, ultimately resulting in a ban.
			div(align='center')
				table(border='1')
					tbody(align='center')
						tr
							td(width='30%')
								p
									strong Offense
							td(width='14%')
								p
									strong Warning
							td(width='14%')
								p
									strong 1hr*
							td(width='14%')
								p
									strong 6hr
							td(width='14%')
								p
									strong 18hr**
							td(width='14%')
								p
									strong Ban
						<tr style="height:50px">
							td
								p
									strong Doxxing
							td
								p Twice
							td
								p -
							td
								p Once
							td
								p Once
							td
								p Immediately if extreme
						</tr>
						<tr style="height:50px">
							td
								p
									strong N-Word
							td
								p -
							td
								p -
							td
								p -
							td
								p 1st Offence
							td
								p 1st / 2nd offence
						</tr>
						<tr style="height:50px">
							td
								p
									strong Forbidden Language
							td
								p Twice
							td
								p -
							td
								p Once
							td
								p Once
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Forbidden Words
							td
								p Twice
							td
								p -
							td
								p Twice
							td
								p Twice
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Forbidden Behavior
							td
								p 3 Times
							td
								p Twice
							td
								p Twice
							td
								p Twice
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Forbidden Cardback
							td
								p 3 Times
							td
								p -
							td
								p Twice
							td
								p Twice
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Ragequit
							td
								p -
							td
								p -
							td
								p -
							td
								p Twice
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Gamethrowing***
							td
								p -
							td
								p -
							td
								p -
							td
								p Twice
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Suboptimal Plays
							td
								p Twice
							td
								p -
							td
								p Once
							td
								p Twice
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Stalling
							td
								p Twice
							td
								p -
							td
								p Twice
							td
								p Twice
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Multi-accounting
							td
								p -
							td
								p -
							td
								p -
							td
								p -
							td
								p 1st Offence
						</tr>
						<tr style="height:50px">
							td
								p
									strong Cheating
							td
								p Once
							td
								p -
							td
								p -
							td
								p Once
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Unfair Influence / Tactics
							td
								p 3 Times
							td
								p Once
							td
								p Twice
							td
								p Twice
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Improper VC Game
							td
								p 3 Times
							td
								p -
							td
								p Once
							td
								p Once
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Non-English (in gameplay)
							td
								p 3 Times
							td
								p Twice
							td
								p Once
							td
								p Once
							td
						</tr>
						<tr style="height:50px">
							td
								p
									strong Attempts to harm the site
							td
							td
							td
							td
							td
								p 1st Offence
						</tr>
			<p style='margin-bottom:0px'>*1hr Timeout is also an IP timeout for same duration.</p>
			<p style='margin-bottom:0px'>**18hr Timeout may include an IP timeout for same duration if deemed appropriate by mods.</p>
			p ***Accidental throws/suboptimal plays may receive warnings instead if deemed appropriate by mods.
			h3.ui.header Privacy
			p Our privacy policy can be found #[a(href="https://secrethitler.io/about") here]