extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now
			
	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p Check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki") wiki page] to learn about the game, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h2 #[a(href="https://discord.gg/secrethitlerio", style=("font-size: 22px;color: #c36563; text-decoration: underline")) Join our community on discord].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported in the #[a(href="https://discord.gg/secrethitlerio") discord development channel], or by opening a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					hr
					p Version 1.5.2 released 5-23-2019
					h4 Various Backend Fixes
					h4 Removes Is Typing Display (Should fix some lag)
					p Version 1.5.1 released 5-12-2019
					h4 Some backend changes for security thanks to Vigasaurus
					p Version 1.5.0 released 4-15-2019
					h4 Creating a public elo game now defaults to only verified accounts being able to sit in the game (if the game creator is verified). Verified accounts are those who have successfully confirmed their non disposable email address, or are using sign in with Github or Discord. This will solve various moderation problems. If everyone hates this, I will consider reverting this change. Please read our email terms of use (cliffs: will never email you other than initial verification and password resets, your email will never leave the site). -coz
					p Verify your email (or connect to Discord/Github) to ensure you are able to join these games.
					h4 ELO Slider can now have a value typed into it, and correctly alerts you to the highest you can set it. -Vigasaurus
					p The take a seat button now has more detailed error messages, if you're unable to sit in a game.
					p Multiple moderation improvements.
					hr
					h3.ui.header(style="text-align: center") #[a(href="/changelog") Full Changelog]
					p


