extends layout
block content
	.ui.container(style="background: #333;")
		.ui.text.container
			h1.ui.header.centered Polls
		.ui.text.container
			iframe(src="http://www.strawpoll.me/embed_1/13846036",style="width:680px;height:700px;border:0;")
				span Loading poll...
			iframe(src="http://www.strawpoll.me/embed_1/13844837",style="width:680px;height:420px;border:0;")
				span Loading poll...
			iframe(src="http://www.strawpoll.me/embed_1/13845987",style="width:680px;height:400px;border:0;")
				span Loading poll...