extends layout
block content
	.ui.container.about-container(style="position: relative")
		.ui.text.container
			p Need support or have questions about moderation? Please use the #mod-support channel of our #[a(href="https://discord.gg/secrethitlerio") Discord.] Questions about the site or code? Use the #development-contribution channel.
			p Application designed and developed from the board game by #[a(href="https://www.TwoLongOs.com") Chris Ozols], with continuing admin and development support by #[a(href="https://vigneshjoglekar.com/?utm_medium=plug&utm_source=secrethitler.io") Vignesh Joglekar].  Source code available at #[a(href="//github.com/cozuya/secret-hitler") github] - this application was originally developed before the first production release of React JS (classes), and is not a lot of fun to work on now.
			p Important note: this site is not an official version or associated with the original creators of the board game, and is provided under the game's open source license for play here.
			h3.ui.header Privacy Policy - general
			p Your encrypted password is securely stored and is not accessible by anyone.  Your user name or any chats you've made is not publicly accessible and not indexed by search engines.  Moderators have access to see your IP address on a private moderation panel - this is used solely to guard against cheating and is never publically available.
			h3.ui.header Privacy Policy - email addresses (verified accounts)
			ul
				li Email addresses are used for ONLY the following actions: verifying your account, and resetting your password.
				li In no circumstances will your email address be used for anything other than the above including any sort of mass "email blast".
				li Only administrators have access to see your email address.
				li Your email address will never leave the site/will never be given away or sold.
			h3.ui.header AI Policy
			p Don't use any here.  Our game archive has and will not been used in training AIs, ever.
			h3.ui.header Attribution
			p Secret Hitler is designed by Max Temkin, Mike Boxleiter, Tommy Maranges and illustrated by Mackenzie Schubert.
			p This game is attributed as per the #[a(href="//creativecommons.org/licenses/by-nc-sa/4.0/") Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International] license.
			p Sounds in game are open source attributed by the following: #[a(href="http://creativecommons.org/publicdomain/zero/1.0/") zero (cc0)], #[a(href="http://creativecommons.org/licenses/by/3.0/") by], and #[a(href="http://creativecommons.org/licenses/by-nc/3.0/") by-nc]. 
			p Proxy/VPN Detection provided by #[a(href="http://getipintel.net/") Get IP Intel]
			