extends layout
block content
	.ui.container.howtoplay-container
		h1.ui.centered.header How to play Secret Hitler


		h2.ui.centered.header Resources
		div.ui.equal.width.center.aligned.grid
			a(href="/player-profiles").center.aligned.column Player profiles
			a(href="https://docs.google.com/document/d/1vUSaIgFPFQq79yIy4k_H6KqX-aT0UIoR/edit").center.aligned.column gw12346 et al. notes [for newer players]
			a(href="https://docs.google.com/document/d/1QDh8WAsJd1LLoafP11BAkIfQ_XMmFLfUhErAIY8srhI/edit").center.aligned.column Iconic's guide [for advanced players]


		h2.ui.centered.header The default view
		p Click on games in the middle to enter them.  You can watch games in progress, enter games that need more players (on top) and take a seat, create your own game, or go to your settings page/look at other player's profiles.
		image(src="https://cdn.discordapp.com/attachments/532418308977328139/538552613621202954/unknown.png")
		h2.ui.centered.header Player settings
		p You can upload a cardback when you reach "rainbow" status meaning 50 games played.
		image(src="https://cdn.discordapp.com/attachments/532418308977328139/538553093026086914/unknown.png")
		h2.ui.centered.header Player profile
		p Click on a game to see a replay.
		image(src="https://cdn.discordapp.com/attachments/532418308977328139/538553441732001792/unknown.png")
		h2.ui.centered.header Create games view
		p Drag the slider to set the minimum and maximum number of players you'd like in this game, among many other settings.
		image(src="https://cdn.discordapp.com/attachments/532418308977328139/538553992331001866/unknown.png")
		h2.ui.centered.header Unstarted game view
		p A newly created game with only the game's creator seated.  You can filter chat in the upper right corner.
		image(src="https://cdn.discordapp.com/attachments/532418308977328139/538555012473815052/unknown.png")
