extends layout
block content
	.ui.container.howtoplay-container
		h1.ui.centered.header My account
		h3.ui.centered.header(style="color: #e36248; margin: 0") Account verification status: 
			if verified
				span.verified-yes(style="color: teal") Verified
			else
				span.verified-no(style="color: bisque") Not verified
		h3.ui.centered.header(style="color: #e36248; margin: 0") Email address: 
			if email
				span.current-email(style="color: teal")
					= email
			else
				span(style="color: bisque") None
		if email
			if !verified
				button#request-verification.ui.primary.button(style="display: block; margin: 5px auto 0;") Request a new verification email
			button#change-email.ui.primary.button(style="display: block; margin: 5px auto 0;") Change your email address
		else
			button#add-email.ui.primary.button(style="display: block; margin: 5px auto 0;") Add an email address and send verification email

		button#change-password.ui.primary.button(style="display: block; margin: 5px auto 0;") Change your password

		button#delete-account.ui.primay.button(style="display: block; margin: 5px auto 0; background: red; color: white") Delete your account

	section.passwordchange-modal.ui.modal.small.segment.column
		h2.header Change your password
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-password(placeholder="New password", type="password")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-confirmpassword(placeholder="Confirm new password", type="password")
			button.ui.primary.button.fluid.large#passwordchange-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Changing your password..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully changed your password!

	//- section.emailchange-modal.ui.modal.small.segment.column
	//- 	h2.header Change your email
	//- 	form.ui.form
	//- 		.field
	//- 			.ui.left.icon.input
	//- 				i.lock.icon
	//- 				input#emailchange-email(placeholder="New email")
	//- 		.field
	//- 			.ui.left.icon.input
	//- 				i.lock.icon
	//- 				input#emailchange-confirmemail(placeholder="Confirm new email")
	//- 		button.ui.primary.button.fluid.large#emailchange-submit Submit
	//- 		.ui.dimmer.inverted
	//- 			.ui.text.loader Changing your email..
	//- 		.ui.negative.hidden.message
	//- 		.ui.hidden.message Successfully changed your email!
		
	section.emailadd-modal.ui.modal.small.segment.column
		h2.header Add an email address for account 
			span#emailadd-account-name
				= username
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#emailadd-email(placeholder="Email")
			button.ui.primary.button.fluid.large#emailadd-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Adding your email and sending a verification email..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully added an email, please check it for your verification link.

	section.requestemail-modal.ui.modal.small.segment.column
		h2.header Email sent!
		p Please check your email to verify your account.

	section.deleteaccount-modal.ui.modal.small.segment.column
		h2.header Delete account 
			span#delete-account-name
				= username
		.ui.warning.message This cannot be undone.
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#deleteaccount-password(placeholder="Your current password", type="password")
			button.ui.primary.button.fluid.large#deleteaccount-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Deleting your account..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully deleted your account