extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p Check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki") wiki page] to learn about the game, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h2 #[a(href="https://discord.gg/secrethitlerio", style=("font-size: 22px;color: #c36563; text-decoration: underline")) Join our community on discord].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported in the #[a(href="https://discord.gg/secrethitlerio") discord development channel], or by opening a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					h3 Version 1.6.7 released 1-15-2020
					p New feature: Player settable color theming. Check the settings page to change the color palettes.
					hr
					h3 Version 1.6.6 released 1-5-2020
					p Adds 10 New Emotes
					p Adds Color to Replay Chat
					p Fixes Remake Visual Bugs
					p Fixes Leaderboard Caching
					p Adds Veteran AEM Role
					p Multiple Bug Fixes
					hr
					h3 Welcome to 2020 and to Season 9!
					h4 The top 10 players of season 8 are:
					ul
						li godhemzelve: 2067
						li Scorcha: 2024
						li imbapingu: 2013
						li wenshan: 1945
						li Rivstar:1937
						li MaximTheMeme: 1924
						li RetiredManu: 1906
						li codingwizard: 1888
						li trump: 1872
						li IThanosI: 1870
					hr
					h3.ui.header(style="text-align: center") #[a(href="/changelog") Full Changelog]
					p


