extends layout
block content
	img(src='../images/banner-summer.gif', style="width: 0; height: 0;")
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
