extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now
			
	.ui.segment
		.ui.grid.mainpage
			.row#general-info
				.eight.wide.column
					h1(style="font-size: 24px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p Check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki") wiki page] to learn about the game, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h2 #[a(href="https://discord.gg/secrethitlerio", style=("font-size: 22px;color: #c36563; text-decoration: underline")) Join our community on discord].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported #[a(href="/about") here]. Or open a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					p Version 0.10.3 released 11-23-2017
					h3 Bug fix patch:
					p Chat scrolling fixes again (I hope), bunch of moderator stuff, fix to 7p rebalanced graph (tomorrow).
					p Version 0.10.2 released 11-19-2017
					h3 Bug fix patch:
					p Mobile devices should work better, hopefully fixes to some of the chat scrolling issues, start game sound should be back, gamenotes text readable again.
					p Version 0.10.1 released 11-14-2017
					h3 Bug fix patch:
					ul
						li Removed tourny and blind mode from create game - they're not ready yet.
						li Moved some assets from a source (cloudflare) that is not accessible in some countries.
						li You can now scroll while viewing chats in replays.
						li A bug with the way this was deployed for production was resulting in giant js to download, that has been fixed.
						li New favicon! New rainbow icon!
					h3 Next up: more bug fixes..
					p Version 0.10.0 released 11-13-2017
					h3 New feature: UI overhaul thanks to contributor Wi1son
					p Huge changes!  Also updates to some of the more irritating front-end issues like blank screens/bouncing back and forth.  Please report any issues you see.
					h3 New feature: see chats in replays.
					p There's a new button on replays to toggle between the replay tools and the chats in that game.
					h3 New feature: rebalanced 7p games.
					p 7p games have the optional rebalance treatment now - same as 9p, a fascist policy has been removed to start the game.
					h3 Up next: blind mode and tournament mode!
					p Version 0.9.2 "dim3" released 11-5-2017
					h3 New feature: discord integration in general chat.
					p Click the new discord icon (while logged in) to replace the site's general chat with our discord channel's general chat.
					h3 New feature: disable confetti user setting.
					p For those of you that hate fun.
					h3 New feature: moderator sticky notes on general chat.
					p Dismiss in usual way, will be used to impart useful information that is less temporary than broadcasts.
					h3 New feature: reverted private games visibility.
					p Having them totally hidden was probably too difficult to find for some players that didn't have the URL. So now everyone can see private games again, but only those who are seated (and mods) can see gamechats. A decent compromise I think.
					h3 Other issues:
					ul
						li Clicking on a player's name in general chat takes you to their profile page.
						li The remake button's gamechat now tells you how many votes you need to remake a game.
						li A fix to moderation timeout ability is in.
						li Players can only make one player report per game. I'm lazy and there's no failure state for this, so just keep it in mind: more than one attempt per game will not go through to mods.
					p Version 0.9.1 "dim2" released 11-2-2017
					h3 New feature: remake game button
					div(style="text-align: center")
						img(style="width: 30%; border: 1px solid grey; padding: 10px; margin: 5px 0;",src="/images/remake.png")
					p Your game is dead or afked on, or you just want to play again with the same team? Hit this button in the lower left corner of the fascist track to show that you'd like to remake the game. When (number of fascists in game +1, or +2 in 8, 9 and 10p games) have also hit the button, the game is remade with the same rules and name and updated UID/link, and will start when its requirements are met as usual.
					h3 New feature: rerebalanced 9p games
					p  In what should speak volumes about what I know about game design, having an already-enacted liberal policy in 9p games.. actually makes fascists win more. So now that's gone, but there is one less fascist policy in the deck (so starting at 16). We'll see what happens there.
					h3 Other issues:
					ul
						li Thanks to a contribution, "blind mode" aka no gamechat mode now correctly will let other fascists see who is on their team.
						li Stats/charts should work with the new rerebalanced 9p starting tomorrow when data collection fires at 4am.
					p Version 0.9.0 "dim" released 10-29-2017
					h3 New feature: player bios
					div(style="text-align: center")
						img(style="width: 80%; border: 1px solid grey; padding: 10px; margin: 5px 0;",src="/images/bio.png")
					p Visit your profile page to write something brief about yourself that others can see. Links are allowed, but SEO unfriendly (google "nofollow noreferrer noopener"). Obviously still subject to the site terms of use..
					h3 New feature: optional rebalancing for 6 and 9 player games.
					p There's a new create game option (default: on) that, when a 6 or 9p game has begun, a facist and liberal policy have already been enacted, respectively. You'll get it. While these are being recorded correctly, there are no stats/graphs for this yet - next minor update.
					h3 New feature: URL routing
					p What this means is the URL of your browser now accurately shows the state of the application. The big takeaway is games, replays, and profiles are now all deep linkable! Make a private game and want your friends to join? Just send them the link. The browser back and forward buttons now work in the way you would expect as well. If you link a game that no longer exists, you will instead be routed to the replay. This required a large change to the front end and may not be perfect, please update if so. Also using gfycat style naming convention for game IDs!
					h3 New feature: actual private games
					p Private games have been changed - they no longer show up on the list of games on the left sidebar, and are only accessible through the new URL linking mechanism. In addition, private games no longer count towards a player's win and loss rate. Note: moderators can still see private games. I realize that it may be somewhat difficult to play additional private games - next minor patch will have a remake game feature which will help with that.
					h3 Other issues:
					ul
						li Overall UI has been tweaked color wise mostly. If you've been playing here at all in the past year (yikes), you'd know I am not at all a designer, but I can at least attempt to make things more fluid and contiguous. If you ARE a designer (and want to work for free..), let me know.
						li Links in general chat to sh.io itself, or to this site's github repository, are now clickable. Other links are still not.
						li Hovering on a chat in general chat will show a timestamp of when it was said.
						li The whitelist feature now correctly has a scroll bar.
						li Players who have left a game in progress now look slightly different than players who are disconnected.
						li If you have a custom width or font, the application no longer "flashes" when you load the page.
						li A fix to players being able to make accounts with the same name but different capitalization has been implemented.
						li The stats page is finally working right - it updates once per day, and the undefined/NaN stuff is gone.
						li There is a now a slight UI difference between players who have left a game, and players who are disconnected.
						li All dependencies updated including moving to the latest version of React (16). What this means is hopefully some better front-end performance.
					h3 Up next: the remake game functionality will be finished up and rolled out in 0.9.1. Also new stats graphs for the rebalanced game feature.
					p Version 0.8.2 "blue steel" released 9-30-2017
					h3 New feature: player selectable fonts
					div(style="text-align: center")
						img(style="width: 95%; border: 1px solid grey; padding: 10px; margin: 5px 0;",src="images/fonts.png")
					p These can be found on the usual place (player settings, cog icon in upper right) and save on click. You will probably want to tweak your gamechat font	size slider as well.
					ul
						li The "game countdown is negative" bug should be fixed.
						li An issue with some players cannot remake an account after it being deleted has been addressed. Contact a moderator if you have been affected.
						li All new images from 0.8.0 have had their saturation knocked down by 25%, and new colors in gamechat muted more.
						li Broadcasts now echo through webhook to discord.
					p Version 0.8.1 "silver" released 9-28-2017
					p Cleanup/bug fix patch, the following was affected:
					ul
						li Games should start and stop better now - if a 5th player is seated in a 5-10 player game, and then leaves, previously it would count down from 20 and then stall, now it will correctly not count down and go back to the waiting phase. Awesome!
						li Ages old fix to a special election president being able to nominate a chancellor who was in the last elected government, in opposition to the printed rules.
						li You can now claim after a veto.
						li Fixed a bug where sometimes a president can not select a card to veto, hanging the game.
						li Some more attempts to fix the various small sorting/jumping issues that are still out there.
						li The link in the signup modal on the main page is finally working.
						li Generalchat sticky scroll should work/work better
						li Moderators have ban back, and hopefully some issues fixed with IPs.
						li The info icon on the lobby has been updated.
						li Profile search now works on Edge.
						li There's a new discord webhook to ping admins when the site crashes. -_-
					p Version 0.8.0 "citehtseawen" released 9-23-2017
					h3 New feature: UI overhaul
					p Thanks to contributor andy013, most of the cards and images in game have been upgraded and colorized. Neat!
					p Also fonts redone, many other UI tweaks in. Let us know what you think. Change is good people.
					h3 New feature: chat emotes!
					p In twitch.tv style, players can chat small word fragments which will turn into icons inside of chat, such as:
					div(style="text-align: center")
						img(src="images/em.png", style="width: 70%")
					p Typically a clickable popup will be available and selectable.. I didn't get to that - next patch. For now, please check out our #[a(href="https://github.com/cozuya/secret-hitler/wiki/Emotes",target="_blank") 				emote reference].
					p Thanks goes out to contributor andy013!
					h3 New feature: election voting rework (changable votes)
					p Previously, a vote on a government was immediate and permanent. Now, clicking on ja or nein will remove your loader gif, but you can either a) click the selected one again to bring back the loader and prevent vote tallying or just b) select the other option to switch your vote. Votes are tallied as usual when all players have selected their vote.
					h3 New feature: 2nd tier of player moderators (editors) and many new helpful moderation tools implemented.
					p Editors will have an (E) next to their name, and mysterious expanded mod powers! Like assign roles to players, and reveal all roles to themselves. Just kidding. Editors and mods can now do helpful things like temporarily turn off account creation in case of troll attack and disable ip bans so that a group from one location can get around the 1 account per day limit.
					h3 New feature: wiki page
					p Check out our #[a(target="_blank", href="https://github.com/cozuya/secret-hitler/wiki") wiki page] kindly set up by editor DFinn. Useful and topical information will be kept there, keep an eye on it if you are interested in the future of this site.
					h4 Other issues
					ul
						li Home page and about us page text has been updated and the webform deprecated. If you have feedback/issues, a new email address has been set up in the about page and we are always available via discord and the player report feature.
						li Gamenotes clear button now works.
						li Thanks to contributor jonnybest, hovering on a game on the list in the left sidebar now shows you who is seated in that game.
						li A bug in "blind mode" (no gamechat) was causing fascists to get credit for winning the game when Hitler was shot, this mode was previously disabled via hotfix, now that bug has been fixed and that mode has been re-enabled.
						li Private games "P" icon in the upper left corner of a gamelist was disappearing after the game started - thanks to contributor jonnybest, this has been fixed.
						li Players can now search/type in other players to look at their profile just like clicking on them. The player settings page (gear icon) has this new input field.
						li The footer bar in the default view has been updated to include our wiki.
						li No new polls this release.
					p Version 0.7.7 "shadow2" released 9-14-2017
					ul
						li Terms of use have been updated - if you're playing a public game, you must converse in a language everyone understands.
						li Fix to gamenotes being cleared/deleted every time its dismissed.  It will now persist until you leave the site.
						li Gamechat text for the veto policy power has been clarified/expanded for the president & chancellor.
						li More attempted fixes to sort issues in general.
						li The minimum width of this application has been lowered by 30px, meaning it will fit on a laptop like a macbook better without small horizontal scrolling.
						li Some crash fixes attempted.
						li Players can only make one account per day per IP.
					p Version 0.7.5 "shadow" released 9-10-2017
					h2 Over 50,000 games have been played!
					h3 New feature: game notes
					p Click on the note icon next to the lock button to pop out a new component you can take notes on, scratchpad style. You can drag and drop this to any location. Not currently resizable as thats a bit tough.
					h3 New feature: sticky chat v2
					p Now, when chat is scrolled from the bottom, the lock is automatically set, meaning it will no longer "jump" every time someone chats something new. Conversely the lock is unset when you scroll back to the bottom. Hopefully this will go better than last time which was bugged for many players/browsers/zoom levels I believe.
					h4 Other items
					ul
						li New polls have been added, please use them.
						li The terms of use has been updated - TOR users are no longer permitted. If you have a legitimate reason to use TOR, contact a moderator.
						li Per the polls result, fascist players can no longer shoot hitler.
						li The home page now shows how many players are online.
						li Swastika symbols can no longer be used for game names..
						li Player profiles now include cardbacks.
						li Games now show the name and player count.
						li Some more attempts to fix sorting bugs have been implemented.
						li The link to discord on the default screen & homepage has been fixed.
					p Version 0.7.4 "grey2" released 9-2-2017
					h3 New feature: #[a(href="/polls") polls page]
					p I'd like to start getting more feedback from the community so will start adding polls and see how it goes.
					h3 New feature: player reports now also get sent to a new discord channel.  Internet is magic.
					h3 New feature: sticky chat
					p Now, when chat is scrolled from the bottom, the lock is automatically set, meaning it will no longer "jump" every time someone chats something new.  Conversely the lock is unset when you scroll back to the bottom.
					h4 Other items
					ul
						li Experienced mode is now correctly changed to speed mode in the games list.
						li Mod notes now show players.
						li Players can no longer chat blank lines by hitting space.
						li Banned players will have their general chats instantly deleted.
						li Note that the way this app works on the dev side has changed slightly, if you are playing along at home please check the README.  You'll also need to do npm i this patch.
					p Version 0.7.3 "grey" released 9-1-2017
					h3 New feature: player reports
					p Double click a player's name in game (not card) to bring up an input field to alert moderators of bad behavior. Moderators now see a new icon that shows player reports and will respond when available.
					h3 Feature: stats page
					p #[a(href="https://secrethitler.io/stats") stats page] has been (mostly) restored, still needs a little work (undefined/not a number).
					p Bug fix: a long standing bug preventing moderators from properly banning users has been fixed.
					p Bug fix: the italic font is no longer semibold..
					h3 Over 400 players have cardbacks!  Wow!
					p Version 0.7.2 "black3" released 8-10-2017
					ul
						li New game setting: disable player cardbacks.  For those who find them distracting.
						li New game setting: application width slider.  Prefer the old (or custom) width of the application?  Move this slider as desired.
						li Bug fix: winning players can now click leave game as before.  Sorry about that!
						li New mods: snake69sus and Ecoturtle.
					p Version 0.7.1 "black2" released 8-8-2017
					ul
						li Players that have a custom cardback now correctly shows the red X when dead.
						li General chat width is now working correctly.
					p Version 0.7.0 "black" released 8-7-2017
					h3 New feature: player uploaded custom cardbacks!
					p In the settings view (cog icon in upper right), players now have the option to upload a new cardback that will be shown in-game.  The details are:
					ul
					li
						strong Image uploaded must be 70px by 95px, or it will not look right.  Do not trust the previewer - it will crunch to fit the box, the game itself won't do that.
					li Rainbow players only.
					li For today only, you can upload an image every 30 seconds.  After today, you can only upload an image once per 18 hours.  Be careful before hitting save.
					li Only png, jpg, and jpeg are permitted.  Must be below 40kb.
					li
						strong No NSFW images, nazi anything, or images from the site itself to be tricky.
						span The terms of service page has been updated.
					h3 New feature: better support for large width monitors.
					p The application is no longer fixed width, and will stretch to fit the entire screen.  Chat boxes will take up the remaining space.  I recommend turning "show right sidebar in game" on.
					h3 New feature: enhanced moderator actions
					p Mods can now delete users, set wins and losses, and delete cardbacks.  Also they can now type in player names to affect offline players.  Lets hope they're not fascists.
					p Other stuff:
					ul
						li The "chat a blank line" bug was fixed.
						li Observer count was removed as it never worked right anyways.
						li Moderators can chat in observer chat in private games.
					p Version 0.6.6 "cutout" released 8-2-2017
					h3 Small patch to fix a bug that could be used to crash the server thanks to player veggiemanz who now has a shiny orange name.  Also these things:
					ul
						li Shuffling of the deck when its less than 3 should now happen before any election, as per the rules.  This will prevent the "nein all" problem when there's few policies left.
						li As you probably saw, there is a notice on the sign in/sign up modals to use Chrome or Firefox for the best experience.
						li Fascists who investigate hitler will not have hitler's name change to fascist color.
						li Hid the cardback section on settings as that is work in progress.
						li Gamelist sort should be better and no longer bounce around as much.
						li Confetti should no longer prevent the winners from being able to type in chat while its raining down.
						li A fix to chancellor discards not showing up in replays.
					p Version 0.6.5 "cutout" released 7-30-2017
					h3 New feature: creategame player count exclusions.
					div(style="text-align: center")
						img(src="images/excludeplayers.png", style="width: 70%")
					p In the create game view, players now have the option to uncheck player counts from starting the game.  For example, if you really hated 7 player games but liked playing 5-10 player games, your new game would not start if there are 7 seated players. Hitting that threshold will cause your 20 second timer to restart, but that's unavoidable.
					div(style="text-align: center")
						img(src="images/no79.png", style="width: 50%")
					p Other issues:
					ul
						li Your name in-game is no longer green - it is the color of your dealt role.  Somehow people were forgetting they're hitler..
						li Moderators have a new color.
						li Thanks to a contribution, track images have been redone from the original files and colored, unlike my crappy scans.
						li Bug fix: player replays are back.
						li Bug fix: green players are not all the same color green (based on played games).
					p Version 0.6.0 "noise" released 6-12-2017
					h3 New feature: Player profiles
					p Click on a player in the lobby/player list to get detailed information about games they've played. You can access your own stats that way, or through the game settings screen ("gear" icon in upper right corner).
					div(style="text-align: center")
						img(src="images/profile.png", style="width: 100%")
					p A big change to the back end, and will allow for some more interesting features (like game replays) and analysis in the future.
					p This is an epoch event, meaning that only games from here on out will be seen in your profile.
					h3 New feature: notification for patch notes.
					p As you've probably seen, the lizard image in the middle will glow until you click it, showing this changelog.
					p Both features courtesy of contributor jbasrai.
					h4 Please welcome new moderators jazz and Max.
					p Version 0.5.0 "glow" released 6-10-2017
					h3 New feature: Player moderation
					p Some players have volunteered to be moderators.  They are empowered to have the ability to ban non-rainbow players for griefing and trolling, and to check for cheating. Hopefully this (and some more advanced powers from admins) will be a permanent solution to problems that may come up.  Moderators will have a red (M) next to their names.
					h4 Other updates
					ul
						li A fix to the rainbow game icon on the gamelist only being there for games that haven't started yet.
						li A fix (finally) to dead players being able to chat by leaving the game and coming back.
						li A 3 second delay has been implemented between the inactment of a policy by the chancellor, and the ability for the government to make a claim (for non-experienced games only).  This should change game play a lot I think..
						li Various tooltips have been added to some items and will continue to be addded in the future.
						li A fix to rainbow losses also adding to normal losses, but not the other way around.  I'll see if there's a way to credit those.
						li Contribution by player sethe: a fix to the (relatively rare) problem of the election tracker not working right with vetos and neins.
					p Up next: player profiles.  This is just about ready to go and will be released within the next 2 days.
					p Version 0.4.0 "chestnut" released 6-5-2017
					h3 New feature: Rainbow games.
					p While creating a game, players with more than 50 completed games ("rainbow players") will now be able to create games that only other rainbow players can be seated in. These games have a special symbol in the sidebar.
					div(style="text-align: center")
						img(src="images/gamelist-rainbow.png", style="width: 100%")
					p In the lobby, a new icon appears showing what game style you are filter and sorting the userlist by.  Click it to switch between "regular" and "rainbow".  Effectively, rainbow players get to "start over" in an optional hard mode with a 0-0 score.
					p For rainbow games, your wins and losses are in a different tier, that does not affect your regular game winrate or player color.  "Rainbow rewards" may come in at some point.
