extends layout
block content
	.ui.container(style="background: #030000;;")
		.ui.text.container
			h1.ui.header.centered Polls
		.ui.text.container
			h2(style="margin-top: 20px; color: #fff") New polls 9-10-2017
			iframe(src="https://www.strawpoll.me/embed_1/13902048",style="width:680px;height:360px;border:0;")
				span Loading poll...
			iframe(src="https://www.strawpoll.me/embed_1/13902070",style="width:680px;height:390px;border:0;")
				span Loading poll...
		.ui.text.container
			h2(style="margin-top: 20px; color: #fff") Older polls
			iframe(src="https://www.strawpoll.me/embed_1/13846036",style="width:680px;height:700px;border:0;")
				span Loading poll...
			iframe(src="https://www.strawpoll.me/embed_1/13844837",style="width:680px;height:420px;border:0;")
				span Loading poll...
			iframe(src="https://www.strawpoll.me/embed_1/13845987",style="width:680px;height:400px;border:0;")
				span Loading poll...