extends layout
block content
	nav.ui.secondary.pointing.top.fixed.menu#top-menu
		.left.menu
			a.ui.button(href="/observe") Observe Now
		a.item(href="/") Home
		a.item(href="/rules") Rules
		a.item(href="/how-to-play") How to Play
		a.item(href="/about") About
		.right.menu
			.ui.buttons
				button.ui.button#signin Sign In
				.or
				button.ui.button#signup Sign Up
	.ui.container.howtoplay-container
		h1.ui.centered.header Reset your password
		button#reset-password-showmodal.ui.primary.button(style="display: block; margin: 0 auto;") Reset password

	section.passwordchange-modal.ui.modal.small.segment.column
		h2.header Change your password
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-password(placeholder="New password", type="password")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-confirmpassword(placeholder="Confirm new password", type="password")
			button.ui.primary.button.fluid.large#passwordchange-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Changing your password..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully changed your password!