extends layout
block content
	#header-container.ui.segment
	.ui.segment
		.ui.grid.mainpage
			.row#general-info
				.ten.wide.column
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it’s too late. Read #[a(href="/rules") the rules] to learn more, #[a(href="/how-to-play") how to play] to learn about the UI, or hop into the #[a(href="/observe") the game] itself right now.
				.six.wide.column.news
					h3.ui.header News
					p 11-12-2016 alpha begins.  Issues/bugs can be reported at #[a(href="//goo.gl/forms/IxDi9f1fKyGhefDx2") this link.] or open a github issue.
					p Verion 0.1.6 released 11-24-2016
					ul 
						li Added 2 new modes to creategame: disable player chat (good for voice-only games) and disable gamechat (and name colors) - you're on your own with this one as the game will not prompt you with what you saw during actions, so more like a tabletop game.
						li Fixed bug with special election.
						li Next on horizon: automated claim system.  After that I'm redoing the UI (optionally inside of player settings) to look more like a "game table".