extends layout
block content
	#header-container.ui.segment
	.ui.segment
		.ui.grid.mainpage
			.row#general-info
				.ten.wide.column
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it’s too late. Read #[a(href="/rules") the rules] to learn more, #[a(href="/how-to-play") how to play] to learn about the UI, or hop into the #[a(href="/observe") the game lobby] itself right now.
				.six.wide.column.news
					h3.ui.header News
					p 11-12-2016 alpha begins.  Issues/bugs can be reported at #[a(href="//goo.gl/forms/IxDi9f1fKyGhefDx2") this link]. Or open a github issue.
					p Version 0.1.11 "mustard" released 5-1-2017
					p Bug fixes
					ul
						li CRASH FIXES - Some fixes have been identified and addressed, some more have "defensive" programming to try to resolve them.  Again, they are my highest priority and will be working on this every day until I figure these out and get this app stable.  Please bear with us.
						li (#10) Fixed a bug (finally!) that caused Chrome on Mac OS to not show flipped cards correctly.
						li (#24) Fixed a bug where a president could mess up the whole game by clicking multiple times on a player during "investigate loyalty" policy power.
						li (#23) Fixed a bug where a player could be seated in a game >20 seconds and <5 seconds, leave, come back, and be double-seated in that game, breaking everything.
						li (#16) Fixed a bug where a long player's name (not the logged-in player) would cause the "players" section to wrap and display poorly.
						li (#7) Fixed a display bug where double-digit elections caused the status bar to wrap.
					p Next up: automated claim system, and further investigation/fixes of crash problems.