extends layout
block content
	section.passwordchange-modal.ui.modal.small.segment.column
		h2.header Change your password
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-password(placeholder="New password", type="password", spellcheck="false")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-confirmpassword(placeholder="Confirm new password", type="password", spellcheck="false")
			button.ui.primary.button.fluid.large#passwordchange-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Changing your password..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully changed your password!