extends layout
block content
	.ui.container.howtoplay-container
		h1.ui.centered.header How to play Secret Hitler
		h2.ui.centered.header The default view
		.ui.text.container
		h2.ui.centered.header Settings view
		.ui.text.container
		h2.ui.centered.header Create games view
		.ui.text.container
		h2.ui.centered.header Unstarted game view
		.ui.text.container
		h2.ui.centered.header In progress game
		.ui.text.container
		h2.ui.centered.header Completed game
		.ui.text.container