extends layout
block content
	#header-container.ui.segment
	.ui.segment
		.ui.grid.mainpage
			.row#general-info
				.eight.wide.column
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it’s too late. Read #[a(href="/rules") the rules] to learn more, #[a(href="/how-to-play") how to play] to learn about the UI, or hop into the #[a(href="/observe") the game lobby] itself right now.
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported at #[a(href="//goo.gl/forms/IxDi9f1fKyGhefDx2") this link]. Or open a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					p Version 0.6.3 "conte" released 6-24-2017
					h3 New feature: moderator IP bans.
					p Obviously need to be used carefully, but this will prevent (hopefully) some of the worst offenders from repeatedly making accounts.  All IP bans are temporary and go away relatively fast.
					p Other issues:
					ul
						li Observer chat is back.
						li A fix to non rainbows having purple names in the userlist/lobby.
						li A fix to clicking on an icon in the userlist/lobby taking you to the profile instead of the game.
						li A fix to a general styling issue - seen most obviously by the yellow circle around the lizard being offset.
						li A fix to only rainbow players in a rainbow game showing up on the userlist/lobby as opposed to all rainbow players.
						li Thanks to a submission, tracks have been manually desaturated and replaced, most users won't see a change.
						li The "delete started game" cleanup feature has been moved from 30 minutes after the game starts to 40 minutes, per request.
						li All images minified so should be a lot snappier on first load..
					p Version 0.6.2 "ssalg deniats" released 6-18-2017
					ul
						li A fix to the userlist issues.  I hope.
						li A fix to non rainbows having purple names and colors.
						li Back end validation to chats, meaning dead players can't avoid the disabled filter and not logged in users can't chat.
						li Player names are now case insensitive, meaning that a player cannot make an account named "Valeera" if there's already an account called "valeera". If some accounts need to be deleted let me know.
					p Version 0.6.1 "stained glass" released 6-17-2017
					h3 New feature: player font size setting in game settings.
					p Click the gear icon to change the size of the font in games.
					h3 New feature: admin and mod broadcasts.
					p Admins and mods have the ability to send a message to all games.  This should be used sparingly and really only for downtime announcements or if a particularly bad troll attack happens.
					h4 Other updates
					ul
						li A fix to the general styling problems with profiles.
						li A fix to player's win rates being bumped down a line due to long usernames/icons.
						li Rainbow player's lobby is now sorted correctly.
					p New morning mods: Faaiz1999 and DumbBullDoor.  We have pretty good mod coverage so closing mod applications for a bit, will reopen when needed.  Thanks!
					p Next up: more bug fixes in preparation for a 1.0 beta and release (all bugs fixed, all desired features in).
					p Version 0.6.0 "noise" released 6-12-2017
					h3 New feature: Player profiles
					p Click on a player in the lobby/player list to get detailed information about games they've played. You can access your own stats that way, or through the game settings screen ("gear" icon in upper right corner).
					div(style="text-align: center")
						img(src="images/profile.png", style="width: 100%")
					p A big change to the back end, and will allow for some more interesting features (like game replays) and analysis in the future.
					p This is an epoch event, meaning that only games from here on out will be seen in your profile.
					h3 New feature: notification for patch notes.
					p As you've probably seen, the lizard image in the middle will glow until you click it, showing this changelog.
					p Both features courtesy of contributor jbasrai.
					h4 Please welcome new moderators jazz and Max.
					p Version 0.5.0 "glow" released 6-10-2017
					h3 New feature: Player moderation
					p Some players have volunteered to be moderators.  They are empowered to have the ability to ban non-rainbow players for griefing and trolling, and to check for cheating. Hopefully this (and some more advanced powers from admins) will be a permanent solution to problems that may come up.  Moderators will have a red (M) next to their names.
					h4 Other updates
					ul
						li A fix to the rainbow game icon on the gamelist only being there for games that haven't started yet.
						li A fix (finally) to dead players being able to chat by leaving the game and coming back.
						li A 3 second delay has been implemented between the inactment of a policy by the chancellor, and the ability for the government to make a claim (for non-experienced games only).  This should change game play a lot I think..
						li Various tooltips have been added to some items and will continue to be addded in the future.
						li A fix to rainbow losses also adding to normal losses, but not the other way around.  I'll see if there's a way to credit those.
						li Contribution by player sethe: a fix to the (relatively rare) problem of the election tracker not working right with vetos and neins.
					p Up next: player profiles.  This is just about ready to go and will be released within the next 2 days.
					p Version 0.4.0 "chestnut" released 6-5-2017
					h3 New feature: Rainbow games.
					p While creating a game, players with more than 50 completed games ("rainbow players") will now be able to create games that only other rainbow players can be seated in. These games have a special symbol in the sidebar.
					div(style="text-align: center")
						img(src="images/gamelist-rainbow.png", style="width: 100%")
					p In the lobby, a new icon appears showing what game style you are filter and sorting the userlist by.  Click it to switch between "regular" and "rainbow".  Effectively, rainbow players get to "start over" in an optional hard mode with a 0-0 score.
					p For rainbow games, your wins and losses are in a different tier, that does not affect your regular game winrate or player color.  "Rainbow rewards" may come in at some point.
					p Also in this release, the karma system has been temporarily disabled due to griefers exploiting it.  The next major feature is player moderation, where I will be enlisting some of our regular players to help out in getting rid of griefers and trolls.  This isn't all that hard and will be coming soon, and hopefully guarantee a better playing experience for everyone. Please check the github issue if you are interested in helping out.