extends layout
block content
	a(href="https://github.com/cozuya/secret-hitler")
		img(style="position: absolute; top: 44px; left: 0; border: 0;", src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png")
	.ui.container.about-container
		.ui.text.container
			h1.ui.centered.header About Secret Hitler
			p Application designed and developed from the original board game by #[a(href="http://www.TwoLongOs.com") Chris Ozols].  Due to a fairly complicated UI and text-driven gameplay this application is not mobile-optimized, but should work OK on mobile devices in theory.  Source code available at #[a(href="//github.com/cozuya/secret-hitler") github].  Bugs/issues?  Use #[a(href="//goo.gl/forms/IxDi9f1fKyGhefDx2") this webform] or #[a(href="https://github.com/cozuya/secret-hitler/issues") open a github issue].
			h3.ui.header Front end
			p React, Redux, Sass, SemanticUI, jQuery, SocketIO.
			h3.ui.header Back end
			p NodeJS v6, Express, Pug, Passport, Mongodb with Mongoose, SocketIO.
			h3.ui.header Build
			p Gulp, Browserify, Babel (front end).
			h3.ui.header Privacy Policy
			p We securely store your encrypted password that is not accessible by anyone including admins.  Your user name or any chats you've made is not publicly accessible and not indexed by search engines.
			h3.ui.header#TOU Terms of Use (general)
			p Don't cheat.  Don't be a jerk/excessive abusive chat.  Don't collude.  Don't try to turn away newbies from your games.  Don't attempt to circumvent things like not being able to select text from the gamechat or screenshotting/uploading your role.  No TOR users - if you have a legitimate issue where you need to use TOR, contact the moderators.  No homophobic/rascist/sexist/nazi/hate speech/anti-semitic stuff.  English only at the table in public games outside of extreme circumstances (all seated in progress players speak whatever).  Play to win for the team you're dealt.  Be a good loser and a gracious winner.  Have fun!
			h3.ui.header Terms of Use (player uploaded cardbacks)
			p Everything in the general terms of use, plus: no pornography or anything nsfw, no nazi imagery whatsoever including images of historical figures (very slight exemptions for parody may be OK on a case-by-case basis - no swastikas), no images/screenshots of the game itself to attempt to trick people (no matter how amusing it is..).
			h3.ui.header Attribution
			p Secret Hitler is designed by Max Temkin (Cards Against Humanity, Humans vs. Zombies) Mike Boxleiter (Solipskier, TouchTone), Tommy Maranges (Philosophy Bro) and illustrated by Mackenzie Schubert (Letter Tycoon, Penny Press).
			p This game is attributed as per the #[a(href="//creativecommons.org/licenses/by-nc-sa/4.0/") Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International] license.
			h3.ui.header Alterations to the original game
			ul
				li Minor image alterations and editing.
				li Veto power is slightly adjusted so that chancellors need to select a policy prior to saying yes or no to vetoing that policy.
				li Adapted the rules webpage slightly to account for online vs physical play.