extends layout
block content
	#header-container.ui.segment
	.ui.segment
		.ui.grid.mainpage
			.row#general-info
				.eight.wide.column
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it’s too late. Read #[a(href="/rules") the rules] to learn more, #[a(href="/how-to-play") how to play] to learn about the UI, or hop into the #[a(href="/observe") the game lobby] itself right now.
					h3 Join our community on #[a(href="https://discord.gg/qbc2DFb") discord].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported at #[a(href="//goo.gl/forms/IxDi9f1fKyGhefDx2") this link]. Or open a #[a(href="https://github.com/cozuya/secret-hitler/issues") github issue].
					p Version 0.7.3 "grey" released 8-29-2017
					h3 New feature: player reports
					p	Double click a player's name in game (not card) to bring up an input field to alert moderators of bad behavior. Moderators now see a new icon that shows player reports and will respond when available.
					h3 Feature: stats page
					p #[a(href="https://secrethitler.io/stats") stats page] has been (mostly) restored, still needs a little work (undefined/not a number).
					p Bug fix: a long standing bug preventing moderators from properly banning users has been fixed.
					p Bug fix: the italic font is no longer semibold..
					h3 Over 400 players have cardbacks!  Wow!
					p Version 0.7.2 "black3" released 8-10-2017
					ul
						li New game setting: disable player cardbacks.  For those who find them distracting.
						li New game setting: application width slider.  Prefer the old (or custom) width of the application?  Move this slider as desired.
						li Bug fix: winning players can now click leave game as before.  Sorry about that!
						li New mods: snake69sus and Ecoturtle.
					p Version 0.7.1 "black2" released 8-8-2017
					ul
						li Players that have a custom cardback now correctly shows the red X when dead.
						li General chat width is now working correctly.
					p Version 0.7.0 "black" released 8-7-2017
					h3 New feature: player uploaded custom cardbacks!
					p In the settings view (cog icon in upper right), players now have the option to upload a new cardback that will be shown in-game.  The details are:
					ul
					li
						strong Image uploaded must be 70px by 95px, or it will not look right.  Do not trust the previewer - it will crunch to fit the box, the game itself won't do that.
					li Rainbow players only.
					li For today only, you can upload an image every 30 seconds.  After today, you can only upload an image once per 18 hours.  Be careful before hitting save.
					li Only png, jpg, and jpeg are permitted.  Must be below 40kb.
					li
						strong No NSFW images, nazi anything, or images from the site itself to be tricky.
						span The terms of service page has been updated.
					h3 New feature: better support for large width monitors.
					p The application is no longer fixed width, and will stretch to fit the entire screen.  Chat boxes will take up the remaining space.  I recommend turning "show right sidebar in game" on.
					h3 New feature: enhanced moderator actions
					p Mods can now delete users, set wins and losses, and delete cardbacks.  Also they can now type in player names to affect offline players.  Lets hope they're not fascists.
					p Other stuff:
					ul
						li The "chat a blank line" bug was fixed.
						li Observer count was removed as it never worked right anyways.
						li Moderators can chat in observer chat in private games.
					p Version 0.6.6 "cutout" released 8-2-2017
					h3 Small patch to fix a bug that could be used to crash the server thanks to player veggiemanz who now has a shiny orange name.  Also these things:
					ul
						li Shuffling of the deck when its less than 3 should now happen before any election, as per the rules.  This will prevent the "nein all" problem when there's few policies left.
						li As you probably saw, there is a notice on the sign in/sign up modals to use Chrome or Firefox for the best experience.
						li Fascists who investigate hitler will not have hitler's name change to fascist color.
						li Hid the cardback section on settings as that is work in progress.
						li Gamelist sort should be better and no longer bounce around as much.
						li Confetti should no longer prevent the winners from being able to type in chat while its raining down.
						li A fix to chancellor discards not showing up in replays.
					p Version 0.6.5 "cutout" released 7-30-2017
					h3 New feature: creategame player count exclusions.
					div(style="text-align: center")
						img(src="images/excludeplayers.png", style="width: 70%")
					p In the create game view, players now have the option to uncheck player counts from starting the game.  For example, if you really hated 7 player games but liked playing 5-10 player games, your new game would not start if there are 7 seated players. Hitting that threshold will cause your 20 second timer to restart, but that's unavoidable.
					div(style="text-align: center")
						img(src="images/no79.png", style="width: 50%")
					p Other issues:
					ul
						li Your name in-game is no longer green - it is the color of your dealt role.  Somehow people were forgetting they're hitler..
						li Moderators have a new color.
						li Thanks to a contribution, track images have been redone from the original files and colored, unlike my crappy scans.
						li Bug fix: player replays are back.
						li Bug fix: green players are not all the same color green (based on played games).
					p Version 0.6.0 "noise" released 6-12-2017
					h3 New feature: Player profiles
					p Click on a player in the lobby/player list to get detailed information about games they've played. You can access your own stats that way, or through the game settings screen ("gear" icon in upper right corner).
					div(style="text-align: center")
						img(src="images/profile.png", style="width: 100%")
					p A big change to the back end, and will allow for some more interesting features (like game replays) and analysis in the future.
					p This is an epoch event, meaning that only games from here on out will be seen in your profile.
					h3 New feature: notification for patch notes.
					p As you've probably seen, the lizard image in the middle will glow until you click it, showing this changelog.
					p Both features courtesy of contributor jbasrai.
					h4 Please welcome new moderators jazz and Max.
					p Version 0.5.0 "glow" released 6-10-2017
					h3 New feature: Player moderation
					p Some players have volunteered to be moderators.  They are empowered to have the ability to ban non-rainbow players for griefing and trolling, and to check for cheating. Hopefully this (and some more advanced powers from admins) will be a permanent solution to problems that may come up.  Moderators will have a red (M) next to their names.
					h4 Other updates
					ul
						li A fix to the rainbow game icon on the gamelist only being there for games that haven't started yet.
						li A fix (finally) to dead players being able to chat by leaving the game and coming back.
						li A 3 second delay has been implemented between the inactment of a policy by the chancellor, and the ability for the government to make a claim (for non-experienced games only).  This should change game play a lot I think..
						li Various tooltips have been added to some items and will continue to be addded in the future.
						li A fix to rainbow losses also adding to normal losses, but not the other way around.  I'll see if there's a way to credit those.
						li Contribution by player sethe: a fix to the (relatively rare) problem of the election tracker not working right with vetos and neins.
					p Up next: player profiles.  This is just about ready to go and will be released within the next 2 days.
					p Version 0.4.0 "chestnut" released 6-5-2017
					h3 New feature: Rainbow games.
					p While creating a game, players with more than 50 completed games ("rainbow players") will now be able to create games that only other rainbow players can be seated in. These games have a special symbol in the sidebar.
					div(style="text-align: center")
						img(src="images/gamelist-rainbow.png", style="width: 100%")
					p In the lobby, a new icon appears showing what game style you are filter and sorting the userlist by.  Click it to switch between "regular" and "rainbow".  Effectively, rainbow players get to "start over" in an optional hard mode with a 0-0 score.
					p For rainbow games, your wins and losses are in a different tier, that does not affect your regular game winrate or player color.  "Rainbow rewards" may come in at some point.
					p Also in this release, the karma system has been temporarily disabled due to griefers exploiting it.  The next major feature is player moderation, where I will be enlisting some of our regular players to help out in getting rid of griefers and trolls.  This isn't all that hard and will be coming soon, and hopefully guarantee a better playing experience for everyone. Please check the github issue if you are interested in helping out.
