extends layout
block content
	.ui.container.howtoplay-container
		h1.ui.centered.header My account
		h3.ui.centered.header(style="color: #e36248; margin: 0") Account verification status: 
			if verified
				span.verified-yes(style="color: royalblue") Verified
			else
				span.verified-no(style="color: bisque") Not verified
		h3.ui.centered.header(style="color: #e36248; margin: 0") Email address: 
			if email
				span.current-email(style="color: royalblue")
					= email
			else
				span(style="color: bisque") None
		h3.ui.centered.header(style="color: #e3f83d; margin: 0") Discord integration: 
			if discordUsername
				span(style="color: royalblue")
					= discordUsername
					span #
					= discordDiscriminator
					if isLocal
						a(href="/revoke-discord") - Click here to unlink your Discord account
			else
				span(style="color: bisque") None 
					a(href="/discord-login", style="color: orange; text-decoration: underline") - Click here to link your Discord account
		h3.ui.centered.header(style="color: #e3f83d; margin: 0") Github integration: 
			if githubUsername
				span(style="color: royalblue")
					= githubUsername
					if isLocal
						a(href="/revoke-github") - Click here to unlink your Github account
			else
				span(style="color: bisque") None 
					a(href="/github-login", style="color: orange; text-decoration: underline") - Click here to link your Github account
		if email
			if !verified
				button#request-verification.ui.primary.button(style="display: block; margin: 5px auto 0;") Request a new verification email
			if !discordUsername && !githubUsername
				button#change-email.ui.primary.button(style="display: block; margin: 5px auto 0;") Change your email address
		else
			if !discordUsername && !githubUsername
				button#add-email.ui.primary.button(style="display: block; margin: 5px auto 0;") Add an email address and send verification email
		if !discordUsername && !githubUsername
			button#change-password.ui.primary.button(style="display: block; margin: 5px auto 0;") Change your password
		if email && verified
			if has2fa
				button#remove-2fa.ui.primary.button(style="display: block; margin: 5px auto 0;") Remove two-factor authentication
			else
				button#add-2fa.ui.primary.button(style="display: block; margin: 5px auto 0;") Add two-factor authentication
		button#delete-account.ui.primay.button(style="display: block; margin: 5px auto 0; background: red; color: white") Delete your account

	section.passwordchange-modal.ui.modal.small.segment.column
		h2.header Change your password
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-password(placeholder="New password", type="password")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-confirmpassword(placeholder="Confirm new password", type="password")
			button.ui.primary.button.fluid.large#passwordchange-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Changing your password..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully changed your password!

	section.add2fa-modal.ui.modal.small.segment.column
		h2.header Add two-factor authentication
		.ui.message#2fakey Two-factor key: ABCD DEFG HIJK LMNO
		image(style="margin:auto;display:block;margin-bottom:10px;")#2faqr
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#add2fa-code(placeholder="2fa code")
			button.ui.primary.button.fluid.large#add2fa-submit Submit
			.ui.hidden.message#add2fa-msg Two-factor active!

	section.rem2fa-modal.ui.modal.small.segment.column
		h2.header Remove two-factor authentication
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#rem2fa-code(placeholder="2fa backup")
			button.ui.primary.button.fluid.large#rem2fa-submit Submit
			.ui.hidden.message#rem2fa-msg Two-factor removed!

	//- section.emailchange-modal.ui.modal.small.segment.column
	//- 	h2.header Change your email
	//- 	form.ui.form
	//- 		.field
	//- 			.ui.left.icon.input
	//- 				i.lock.icon
	//- 				input#emailchange-email(placeholder="New email")
	//- 		.field
	//- 			.ui.left.icon.input
	//- 				i.lock.icon
	//- 				input#emailchange-confirmemail(placeholder="Confirm new email")
	//- 		button.ui.primary.button.fluid.large#emailchange-submit Submit
	//- 		.ui.dimmer.inverted
	//- 			.ui.text.loader Changing your email..
	//- 		.ui.negative.hidden.message
	//- 		.ui.hidden.message Successfully changed your email!
		
	section.emailadd-modal.ui.modal.small.segment.column
		h2.header Add an email address for account 
			span#emailadd-account-name
				= username
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#emailadd-email(placeholder="Email")
			button.ui.primary.button.fluid.large#emailadd-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Adding your email and sending a verification email..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully added an email, please check it for your verification link.

	section.requestemail-modal.ui.modal.small.segment.column
		h2.header Email sent!
		p Please check your email to verify your account.

	section.deleteaccount-modal.ui.modal.small.segment.column
		h2.header Delete account 
			span#delete-account-name
				= username
		.ui.warning.message This cannot be undone.
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#deleteaccount-password(placeholder="Your current password", type="password")
			button.ui.primary.button.fluid.large#deleteaccount-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Deleting your account..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully deleted your account