extends layout
block content
	h2.header(style="margin-top: 60px; color: #ddd") There's something wrong with your discord username, please select a new username
	form.ui.form(style="width: 500px; margin: 0 auto")
		.field
			.ui.left.icon.input
				i.lock.icon
				input#new-username(placeholder="New username", spellcheck="false")
		button.ui.primary.button.fluid.large#new-username-submit Submit
		.ui.dimmer.inverted
			.ui.text.loader Updating your username..
		.ui.negative.hidden.message
		.ui.hidden.message Successfully updated your username!