extends layout
block content
	.ui.container.howtoplay-container
		h1.ui.centered.header How to play Secret Hitler


		h2.ui.centered.header Resources
		div.ui.equal.width.center.aligned.grid
			a(href="/player-profiles").center.aligned.column Player profiles


		h2.ui.centered.header The default view
		p Click on games in the middle to enter them.  You can watch games in progress, enter games that need more players (on top) and take a seat, create your own game, or go to your settings page/look at other player's profiles.
		image(src="http://i.imgur.com/n13zPGn.jpg")
		h2.ui.centered.header Player settings
		p You can upload a cardback when you reach "rainbow" status meaning 50 games played.
		image(src="http://i.imgur.com/fiAc3GY.jpg")
		h2.ui.centered.header Player profile
		p Click on a game to see a replay.
		image(src="http://i.imgur.com/uDwJoVx.jpg")
		h2.ui.centered.header Create games view
		p Drag the slider to set the minimum and maximum number of players you'd like in this game, among many other settings.
		image(src="http://i.imgur.com/LXqhDXH.jpg")
		h2.ui.centered.header Unstarted game view
		p A newly created game with only the game's creator seated.  You can filter chat in the upper right corner.
		image(src="http://i.imgur.com/ljglz3r.jpg")

