extends layout
block content
	.ui.container.tou-container
		.ui.text.container
			h1.ui.header.centered Terms Of Use
		.ui.text.container
			h3.ui.header General
			p The site is provided free of charge to everyone, and is subject to the occasional failure that is out of our control. We are not responsible for you losing out on a sure win, it happens.
			p Breaking any of the rules listed below is subject to warnings and moderative action against your account, and in extreme cases we may revoke your access to this site.
			p Additionally, any malicious activity (i.e. trying to crash the site) or attempts to intentionally subvert rules using gaps in rulings or loopholes will be considered breaking the rules.
			
			h3.ui.header Acceptable Language
			p In general, most language is acceptable.
			p Forbidden language:
			li Anything racist
			li Anything sexist or homophobic
			li Anything anti-specific-religion or anti-atheism
			li Hate speech
			li Directed abuse (personal insults, attacks, harassment, etc.)
			br
			p Explicitly forbidden words:
			li Highly racist sluts (i.e. n-word) - Likely ban on sight
			li "Retard" and similar
			li "Cunt" and similar
			br
			p Anything not listed above is probably fine to use, provided there is no malicious intent or spam.
			p This also applies to game room names, even if the room is private, unless it is anonymous only. Any room with a forbidden name will be deleted.
			
			h3.ui.header Accounts
			p Accounts generally follow Acceptable Language for what is allowed on them. Private accounts are not subject to moderation, but can only play in private games.
			p Account names strictly follow Acceptable Language rules. Any account found breaking this rule will be toggled private.
			p Card-backs follow Acceptable Language, and additionally must not contain images similar to those from the site, anything that would be unsafe for work, or nazi imagery. Card-backs must also be static images. Card-backs breaking this rule will be removed.
			
			h3.ui.header Gameplay
			p All players are expected to play fairly and reasonably in non-casual, non-private games. Casual games are more loosely moderated, and private games are mostly moderation-free.
			p The following is not allowed:
			li Colluding or multi-accounting to gain an unfair advantage
			li Leaving mid-game or refusing to play
			li Intentionally playing to lose
			li Intentionally playing sub-optimally (i.e. playing poorly to spite another player), unless it is a casual game
			li Attempting to show private information (i.e. screenshot of cards or role)
			li Stating which role card you have (i.e. “old lady”)
			li Using key phrases to share information (i.e.  saying “im hit” only as lib)
			li Threatening to blacklist a player if they don’t do what you want
			li Lying with claims as a liberal, unless covered below
			li Talking in a language that not everyone knows (english is always acceptable)
			li Voice-Chat only games, unless explicitly put in the game room name
			br
			p The following is allowed:
			li Ignoring “meta” or “correct order” of play
			li Using a personal meta that does not break the above rules (such as never lying on claims)
			li Having a discussion on what to do, even if it takes a long time, unless all other players are asking for play to continue
			li Having a play-style that can reveal information (i.e. never conflicting as chancellor), provided it is not claim-based (i.e. only claiming BBB as lib)
			li Lying about what cards you had or what role you saw as a liberal, and then revealing what you actually had/saw later on (no later than when the deck ends)
