body {
  background-color: #201212;
  overflow-x: auto;
  max-width: 1127px;
  margin: 0 auto;
  font-family: 'Comfortaa', serif; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
.ui.header,
.ui.button,
.ui.menu {
  font-family: 'Comfortaa', Lato, sans-serif; }

html {
  height: auto; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

#header-container {
  width: 100%;
  margin: 55px auto 0;
  background: no-repeat center center url("../images/banner-new.png") #F2654B;
  background-size: contain;
  padding-top: 46%; }
  #header-container .online-count {
    padding: 5px;
    background: #6f3939;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ddd;
    font-size: 18px; }
    #header-container .online-count i {
      color: lightblue; }
    #header-container .online-count span {
      color: #85d42a; }
  #header-container + .ui.segment {
    border: none; }

@media only screen and (min-width: 1130px) {
  #header-container {
    height: 460px;
    margin-left: -564px !important;
    left: 50%; } }

@media only screen and (max-width: 617px) {
  #header-container {
    padding-top: 60%; } }

.ui.buttons * {
  background: #608cb3; }
  .ui.buttons *:hover {
    background: #608cb3; }

a.ui.button {
  background: #e36248; }

p {
  font-size: 16px; }

span.emphasis {
  font-weight: 700; }

#mobile-block {
  display: none; }

#window-block {
  display: inline; }

.ui.modal.transition {
  margin-top: 0px !important;
  margin-left: auto;
  margin-right: auto; }

#top-menu {
  background: #000000;
  background: -moz-linear-gradient(left, #000000 0%, #100000 50%, #000000 100%);
  background: -webkit-linear-gradient(left, #000000 0%, #100000 50%, #000000 100%);
  background: linear-gradient(to right, #000000 0%, #100000 50%, #000000 100%); }
  #top-menu .left.menu .button {
    color: #fff; }
    #top-menu .left.menu .button:hover {
      background: #e36248; }
  #top-menu .ui.button {
    color: #fff; }

@media only screen and (min-width: 1128px) {
  #top-menu {
    width: 1128px;
    margin-left: -564px !important;
    left: 50%; } }

@media only screen and (max-width: 1104px) {
  #top-menu > a {
    display: none; }
  #mobile-block {
    display: inline; }
  #window-block {
    display: none; } }

.ui.grid.mainpage {
  background: #181818;
  color: #ddd;
  padding: 10px; }
  .ui.grid.mainpage h2 {
    color: #ddd;
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center; }
  .ui.grid.mainpage > div {
    border: 1px solid #111; }

#general-info {
  border: none; }
  #general-info .news {
    padding-top: 10px;
    background: #d9c091;
    border-radius: 5px;
    color: #222; }
  #general-info img {
    margin-top: 40px; }

.ui.container.rules-container {
  margin: 50px 0 0 0;
  padding: 10px 0;
  background: #030000;
  color: #ccc; }
  .ui.container.rules-container .understated {
    font-style: italic; }
  .ui.container.rules-container .emphasis {
    font-weight: 700;
    color: #fff; }
  .ui.container.rules-container h1,
  .ui.container.rules-container h4 {
    margin-bottom: 10px;
    color: #eee;
    text-decoration: underline; }
  .ui.container.rules-container h2 {
    margin: 20px 0 !important;
    color: #eee;
    text-decoration: underline; }
    .ui.container.rules-container h2 ~ p {
      font-size: 18px; }
  .ui.container.rules-container .aside {
    color: #e85019; }
  .ui.container.rules-container td {
    text-align: center;
    padding: 5px;
    border: 1px solid #555; }
  .ui.container.rules-container li {
    font-size: 18px; }

.ui.container.howtoplay-container {
  margin: 50px 0 0 0;
  padding: 10px 0;
  background: #030000;
  color: #eee; }
  .ui.container.howtoplay-container img {
    max-width: 90%;
    display: block;
    box-shadow: 0px 3px 4px 1px #333;
    margin: 0 auto 10px auto; }
  .ui.container.howtoplay-container h1 {
    margin-bottom: 10px;
    color: #eee; }
  .ui.container.howtoplay-container h2 {
    margin: 20px 0 !important;
    color: #eee; }
  .ui.container.howtoplay-container p {
    font-size: 14px;
    text-align: center; }

.role-container {
  margin-bottom: 20px; }
  .role-container h3 {
    margin: 0 auto !important; }
  .role-container img {
    float: left;
    margin: 0 30px 30px 0; }

.role-container:nth-of-type(odd) img {
  float: right;
  margin: 0 0 30px 30px; }

.about-container {
  margin: 50px 0 0 0;
  padding: 10px 0;
  background: #030000;
  color: #eee; }
  .about-container h1,
  .about-container h2,
  .about-container h3,
  .about-container h4 {
    color: #eee !important; }
  .about-container h1 {
    margin-bottom: 60px !important; }

.player-profiles-container {
  margin: 50px 0 0 0;
  padding: 30px 0;
  background: #030000;
  color: #eee; }
  .player-profiles-container h1,
  .player-profiles-container h2 {
    color: #c36563 !important; }
  .player-profiles-container h3,
  .player-profiles-container h4 {
    color: #e36248 !important; }

.ct-label {
  fill: #fff;
  color: #fff;
  font-size: 20px; }

.ct-series-b .ct-slice-pie {
  fill: #608cb3; }

.ct-series-a .ct-slice-pie {
  fill: #e36248; }

#chart-completed-games .ct-label.ct-horizontal {
  display: none; }

.chart {
  text-align: center; }

.ct-chart-line {
  overflow: visible !important; }

.modal-warning {
  color: coral;
  padding: 5px 20px;
  font-size: 16px; }

.tou {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin: 10px 0 0; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #717171;
  border: 0px none #ffffff;
  border-radius: 0px; }

::-webkit-scrollbar-thumb:hover {
  background: #191919; }

::-webkit-scrollbar-thumb:active {
  background: #c4c4c4; }

::-webkit-scrollbar-track {
  background: #bfbfbf;
  border: 0px none #ffffff;
  border-radius: 0px; }

::-webkit-scrollbar-track:hover {
  background: #666666; }

::-webkit-scrollbar-track:active {
  background: #a4a4a4; }

::-webkit-scrollbar-corner {
  background: transparent; }

body.pushable > .pusher {
  background-color: #201212; }

body.pushable {
  background: #201212 !important; }
