.changelog {
	color: #c36563;
	padding: 2%;

	.remove.icon {
		cursor: pointer;
		position: absolute;
		font-size: 30px;
		left: 94%;
		opacity: 0.3;
	}

	> .ui.header {
		text-align: center;
	}

	.eight.wide.column {
		text-align: center;
	}
}
