.changelog {
	color: #c36563;
	padding: 2%;

	.remove.icon {
		cursor: pointer;
		position: absolute;
		font-size: 30px;
		right: 150px;
	}

	> .ui.header {
		text-align: center;
	}

	.eight.wide.column {
		text-align: center;
	}
}
