.creategame {
	.ui.header > div {
		font-size: 30px;
	}
	padding: 2%;
	margin-right: 10px;

	.contains-bad-word {
		color: red;
	}

	> .header {
		text-align: center;
		margin-bottom: 20px;
	}

	.grid h4 {
		margin-bottom: 5px;
	}

	.grid > div {
		text-align: center;
	}

	.sliderrow {
		.ui.header {
			min-height: 80px;
		}
		margin-top: 20px;
	}

	.gamename {
		h4 small {
			margin-left: 8px;
		}

		input {
			width: 80%;
		}
	}

	.ui.search.dropdown > .text {
		color: black;
	}

	.lock.icon {
		margin-top: -15px;
	}
	.private {
		padding-top: 10px;
	}
	.password-input {
		margin-top: 20px !important;
	}
	.row.slider {
		margin: 25px 0 25px 0;
	}
	.footer {
		margin: 20px 0 10px 0;
		.button {
			margin-left: 15px;
			width: 400px;
		}
	}

	.rebalance69p {
		width: 200px;
		margin: 0 auto;
		text-align: center;
	}

	.tourny-container h4 {
		color: $tourny;
	}

	.tourny-slider {
		background: $tourny;
	}

	.checkbox-container {
		width: 104%;
		margin-left: -6px;
		position: relative;
		top: 30px;
		display: flex;
		justify-content: space-between;

		input {
			cursor: pointer;
			width: 25px;
			height: 25px;
		}
	}
}
