.table-container .table {
	.seat-container .eliminator {
		margin: 0;
		position: absolute;
		width: 20px;
		height: 26px;
		z-index: 1;
		background: #db2828;
		opacity: 0;
		transition: width 2s, opacity 2s, top 2s, left 2s;

		&:after {
			transition: opacity 2s, left 2s, top 2s;
			opacity: 0;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			border-width: 22px 0 22px 30px;
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #DB2828;
			left: 15px;	
			top: -9px;
		}
	}

	.seat-container .eliminator.transparent {
		opacity: .1 !important;
	}

	.seat-container .eliminator.transparent:after {
		opacity: .7 !important;
	}

	.seat-container0 .eliminator.target-seat1 {
		transform: rotate(18deg);
		opacity: .7;
		width: 120px;
		left: 285px;
		top: 70px;

		&:after {
			opacity: 1;
			left: 120px;
			top: -9px;
		}
	}

	.seat-container0 .eliminator.target-seat2 {
		left: 253px;
		top: 131px;
		transform: rotate(41deg);
		width: 250px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 250px;
			top: -9px;
		}
	}

	.seat-container0 .eliminator.target-seat3 {
		left: 206px;
		top: 160px;
		transform: rotate(70deg);
		width: 250px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 250px;
			top: -9px;
		}
	}

	.seat-container0 .eliminator.target-seat4 {
		left: 128px;
		top: 161px;
		transform: rotate(111deg);
		width: 242px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 242px;
			top: -9px;
		}
	}

	.seat-container0 .eliminator.target-seat5 {
		left: 83px;
		top: 128px;
		transform: rotate(143deg);
		width: 238px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 238px;
			top: -9px;
		}
	}

	.seat-container0 .eliminator.target-seat6 {
		left: 174px;
		top: 64px;
		transform: rotate(163deg);
		width: 122px;		
		opacity: .7;

		&:after {
			opacity: 1;
			left: 122px;
			top: -9px;
		}
	}

	.seat-container1 .eliminator.target-seat0 {
		top: 78px;
		left: 343px;
		width: 123px;
		transform: rotate(202deg);
		opacity: .7;

		&:after {
			opacity: 1;
			left: 123px;
			top: -9px;
		}
	}

	.seat-container1 .eliminator.target-seat2 {
		top: 130px;
		left: 434px;
		width: 83px;
		transform: rotate(60deg);
		opacity: .7;

		&:after {
			opacity: 1;
			left: 83px;
			top: -9px;
		}
	}

	.seat-container1 .eliminator.target-seat3 {
		left: 337px;
		top: 183px;
		transform: rotate(108deg);
		width: 190px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 190px;
			top: -9px;
		}
	}

	.seat-container1 .eliminator.target-seat4 {
		left: 200px;
		top: 189px;
		transform: rotate(140deg);
		width: 295px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 295px;
			top: -9px;
		}
	}

	.seat-container1 .eliminator.target-seat5 {
		left: 99px;
		top: 158px;
		transform: rotate(160deg);
		width: 376px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 376px;
			top: -9px;
		}
	}

	.seat-container1 .eliminator.target-seat6 {
		left: 181px;
		top: 100px;
		transform: rotate(180deg);
		width: 283px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 283px;
			top: -9px;
		}
	}

	.seat-container2 .eliminator.target-seat0 {
		left: 313px;
		top: 159px;
		// transform: rotate(-144deg);
		transform: rotate(223deg);
		width: 249px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 249px;
			top: -9px;
		}
	}

	.seat-container2 .eliminator.target-seat1 {
		left: 459px;
		top: 204px;
		transform: rotate(236deg);
		width: 95px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 95px;
			top: -9px;
		}
	}

	.seat-container2 .eliminator.target-seat3 {
		left: 432px;
		top: 273px;
		transform: rotate(136deg);
		width: 113px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 103px;
			top: -9px;
		}
	}

	.seat-container2 .eliminator.target-seat4 {
		left: 242px;
		top: 281px;
		transform: rotate(161deg);
		width: 299px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 299px;
			top: -9px;
		}
	}

	.seat-container2 .eliminator.target-seat5 {
		left: 111px;
		top: 237px;
		transform: rotate(180deg);
		width: 422px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 422px;
			top: -9px;
		}
	}

	.seat-container2 .eliminator.target-seat6 {
		left: 170px;
		top: 176px;
		transform: rotate(201deg);
		width: 375px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 375px;
			top: -9px;
		}
	}

	.seat-container3 .eliminator.target-seat0 {
		left: 228px;
		top: 233px;
		transform: rotate(251deg);
		width: 243px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 243px;
			top: -9px;
		}
	}

	.seat-container3 .eliminator.target-seat1 {
		left: 326px;
		top: 259px;
		transform: rotate(288deg);
		width: 183px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 183px;
			top: -9px;
		}
	}

	.seat-container3 .eliminator.target-seat2 {
		left: 379px;
		top: 319px;
		transform: rotate(325deg);
		width: 101px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 101px;
			top: -9px;
		}
	}

	.seat-container3 .eliminator.target-seat4 {
		left: 249px;
		top: 343px;
		transform: rotate(180deg);
		width: 147px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 147px;
			top: -9px;
		}
	}

	.seat-container3 .eliminator.target-seat5 {
		left: 104px;
		top: 299px;
		transform: rotate(199deg);
		width: 295px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 295px;
			top: -9px;
		}
	}

	.seat-container3 .eliminator.target-seat6 {
		left: 128px;
		top: 243px;
		transform: rotate(225deg);
		width: 317px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 317px;
			top: -9px;
		}
	}

	.seat-container4 .eliminator.target-seat0 {
		left: 112px;
		top: 233px;
		transform: rotate(291deg);
		width: 240px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 240px;
			top: -9px;
		}
	}

	.seat-container4 .eliminator.target-seat1 {
		left: 140px;
		top: 239px;
		transform: rotate(315deg);
		width: 310px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 310px;
			top: -9px;
		}
	}

	.seat-container4 .eliminator.target-seat2 {
		left: 174px;
		top: 299px;
		transform: rotate(340deg);
		width: 305px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 305px;
			top: -9px;
		}
	}

	.seat-container4 .eliminator.target-seat3 {
		left: 181px;
		top: 347px;
		transform: rotate(360deg);
		width: 147px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 147px;
			top: -9px;
		}
	}

	.seat-container4 .eliminator.target-seat5 {
		left: 89px;
		top: 309px;
		transform: rotate(225deg);
		width: 117px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 117px;
			top: -9px;
		}
	}

	.seat-container4 .eliminator.target-seat6 {
		left: 67px;
		top: 260px;
		transform: rotate(252deg);
		width: 190px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 190px;
			top: -9px;
		}
	}

	.seat-container5 .eliminator.target-seat0 {
		left: 18px;
		top: 173px;
		transform: rotate(324deg);
		width: 240px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 240px;
			top: -9px;
		}
	}

	.seat-container5 .eliminator.target-seat1 {
		left: 35px;
		top: 174px;
		transform: rotate(341deg);
		width: 374px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 374px;
			top: -9px;
		}
	}

	.seat-container5 .eliminator.target-seat2 {
		left: 44px;
		top: 240px;
		transform: rotate(0deg);
		width: 428px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 428px;
			top: -9px;
		}
	}

	.seat-container5 .eliminator.target-seat3 {
		left: 38px;
		top: 282px;
		transform: rotate(18deg);
		width: 298px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 298px;
			top: -9px;
		}
	}

	.seat-container5 .eliminator.target-seat4 {
		left: 31px;
		top: 270px;
		transform: rotate(38deg);
		width: 113px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 113px;
			top: -9px;
		}
	}

	.seat-container5 .eliminator.target-seat6 {
		left: 26px;
		top: 205px;
		transform: rotate(302deg);
		width: 82px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 82px;
			top: -9px;
		}
	}

	.seat-container6 .eliminator.target-seat0 {
		left: 106px;
		top: 74px;
		transform: rotate(340deg);
		width: 127px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 127px;
			top: -9px;
		}
	}

	.seat-container6 .eliminator.target-seat1 {
		left: 112px;
		top: 98px;
		transform: rotate(0deg);
		width: 285px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 285px;
			top: -9px;
		}
	}

	.seat-container6 .eliminator.target-seat2 {
		left: 106px;
		top: 154px;
		transform: rotate(19deg);
		width: 370px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 370px;
			top: -9px;
		}
	}

	.seat-container6 .eliminator.target-seat3 {
		left: 81px;
		top: 193px;
		transform: rotate(42deg);
		width: 292px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 292px;
			top: -9px;
		}
	}

	.seat-container6 .eliminator.target-seat4 {
		left: 48px;
		top: 183px;
		transform: rotate(72deg);
		width: 197px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 197px;
			top: -9px;
		}
	}


	.seat-container6 .eliminator.target-seat5 {
		left: 61px;
		top: 129px;
		transform: rotate(117deg);
		width: 84px;
		opacity: .7;

		&:after {
			opacity: 1;
			left: 84px;
			top: -9px;
		}
	}
}