$eloValues: (1500 0.3 1 0.3) (1600 0.3 1 0.5) (1849 0 1 0.7) (1850 1 1 0.7) (1900 0.9 1 0.6) (2000 0.8 1 0.4) (2100 0.7 1 0.5);

@function eloColorLerp($low, $high, $elo) {
	$scale: nth($high, 1) - nth($low, 1);
	@if $scale <= 0 {
		@return hsl(nth($low, 2) * 360, nth($low, 3) * 100, nth($low, 4) * 100);
	}
	$lerp: ($elo - nth($low, 1)) / $scale;
	@if $lerp < 0 {
		$lerp: 0;
	}
	@if $lerp > 1 {
		$lerp: 1;
	}
	@return hsl(
		((nth($low, 2) * (1-$lerp)) + (nth($high, 2) * $lerp)) * 360,
		((nth($low, 3) * (1-$lerp)) + (nth($high, 3) * $lerp)) * 100,
		((nth($low, 4) * (1-$lerp)) + (nth($high, 4) * $lerp)) * 100
	);
}

@function calcEloCol($elo) {
	$low: nth($eloValues, 1);
	$high: nth($eloValues, -1);
	@for $i from 1 through length($eloValues) {
		$val: nth($eloValues, $i);
		$val2: nth($val, 1);
		@if $val2 > nth($low, 1) {
			@if $val2 <= $elo {
				$low: $val;
			}
		}
		@if $val2 < nth($high, 1) {
			@if $val2 >= $elo {
				$high: $val;
			}
		}
	}
	@return eloColorLerp($low, $high, $elo);
}

@mixin emit-elo-color-vars() {
	@for $i from 0 through 120 {
		--elo-color-#{$i}: #{calcEloCol($i * 5 + 1500)};
	}
}
