.game-text {
	.normal {
		color: #8b8b8b;
	}

	.liberal {
		font-weight: 700;
		color: $darkliberalteam;
	}

	.hitler {
		font-weight: 700;
		color: #be0804;
	}

	.fascist {
		font-weight: 700;
		color: $darkfascistteam;
	}

	.player {
		color: #eee;
		font-weight: 700;
	}
}
