.game-text {
	.normal {
		color: var(--theme-text-3);
	}

	.liberal {
		font-weight: 700;
		color: $darkliberalteam;
	}

	.hitler {
		font-weight: 700;
		color: #be0804;
	}

	.fascist {
		font-weight: 700;
		color: $darkfascistteam;
	}

	.player {
		color: var(--theme-text-2);
		font-weight: 700;
	}
}
