#main .leftsidebar {
	padding: 10px 0 0;
	> .button {
		width: 85%;
		margin: 10px auto 5px;
		display: block;
		padding: 12px 15px;
	}
	.vertical.segment {
		cursor: pointer;
		border: 1px solid #000;
		padding: 0;
		margin-bottom: 10px;
		color: #ddd;
		background-image: url(../images/tweed.png);
		&:hover {
			border: 1px solid red;
		}
		.private-game {
			position: absolute;
			top: 2px;
			left: 11px;
			font-style: italic;
			color: lightblue;
			border-radius: 50%;
			border: 1px dotted lightblue;
			width: 18px;
			text-align: center;
			height: 19px;
			background: lightslategray;
		}
		.gamename {
			text-align: center;
			font-family: $headerfont;
			font-size: 20px;
			padding: 3px 0;
		}
		.gamename.rainbow {
			background: url('../images/rainbow.png') 98% 50% no-repeat;
		}
		.experienced {
			text-align: center;
			font-size: 11px;
			line-height: 0.6;
			font-style: italic;
			color: #c36563;
		}
		.lower-row {
			text-align: center;
			padding: 0 0 3px;
			color: #16ab39;
			font-size: 12px;
			.allowed-players {
				color: #608cb3;
			}
		}
		.liberal-count {
			width: 80px;
			margin: 0 auto;
		}
		.fascist-count {
			width: 98px;
			margin: 0 auto;
		}
		.box {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 3px;
		}
		.liberal-box {
			box-shadow: 0px 0px 1px 2px #608cb3;
		}
		.liberal-box.filled {
			background-color: #608cb3;
		}
		.fascist-box {
			box-shadow: 0px 0px 1px 2px #c36563;
		}
		.fascist-box.filled {
			background-color: #c36563;
		}
	}
	.vertical.segment.inprogress {
		box-shadow: 0px 0px 27px -3px #fbbd08 inset;
		.lower-row {
			color: #fbbd08;
		}
	}
	.vertical.segment.liberal {
		box-shadow: 0px 0px 27px -3px #608cb3 inset;
		.lower-row {
			color: #608cb3;
		}
	}
	.vertical.segment.fascist {
		box-shadow: 0px 0px 27px -3px #c36563 inset;
		.lower-row {
			color: #c36563;
		}
	}
	.games-container {
		padding: 5px 10px 0 15px;
		height: 550px;
		overflow-y: auto;
	}
}
