.players-container .players {
	background: #6f6f6f;
	height: 115px;

	> .label {
		width: 50px;
		margin: 28px 0 0 10px;
		font-size: 16px;
		padding: 6px;
		text-align: center;
	}

	> .player-container {
		width: 70px;
		height: 95px;
		float: left;
		margin: 9px 7px 9px 9px;
		border-radius: 4px;
		background-image: url(../images/tweed.png);

		.player-name {
			color: #ddd;
			text-align: center;
		}

		&:hover {
			box-shadow: 0 0 2px 2px $notification;
		}
	}

	.notify {
		box-shadow: 0 0 4px 4px $notification;
	}
}

.players-container.disabledrightsidebar .players > div > .roles {
	margin: 9px 0px 9px 36px;
}