.players-container .players {
	background: #6f6f6f;
	height: 115px;
	overflow: hidden;

	> .label {
		width: 50px;
		margin: 28px 0 0 10px;
		font-size: 16px;
		padding: 6px;
		text-align: center;
	}

	> .player-container {
		width: 70px;
		height: 95px;
		float: left;
		margin: 9px 7px 9px 9px;
		border-radius: 4px;
		background-image: url(../images/tweed.png);
		position: relative;

		.card-container {
			width: 70px;
			height: 95px;
			top: 75px;
			left: 0;
			transition-duration: 1s;
			transition-property: transform, top;
			transform-style: preserve-3d;
			position: relative;
			-webkit-backface-visibility: hidden;  // thanks osx safari
			backface-visibility: hidden;

			.card {
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				height: 95px;
				width: 100%;
			}

			.card.secretrole {
				background-image: url('../images/cards/secretrole.png');
			}

			.card-back {
				-webkit-backface-visibility: hidden;  // thanks osx safari
				backface-visibility: hidden;
				transform: rotateY(180deg);
			}
		}

		.card-container.showing {
			top: -20px;
		}

		.card-container.flipped {
			transform: rotateY(180deg);
		}

		.player-name {
			font-family: 'Josefin Sans', "Lato", Helvetica, Arial, sans-serif;
			color: #ddd;
			text-align: center;
		}

		&:hover {
			box-shadow: 0 0 2px 2px $notification;
		}
	}

	.notify {
		box-shadow: 0 0 4px 4px $notification;
	}
}

.players-container.disabledrightsidebar .players > div > .roles {
	margin: 9px 0px 9px 36px;
}