#profile {

    border: 0;
    border-radius: 0;
    background-color: #222; 
    padding: 20px;
    color: #eee;

    .ui.menu {
        border-radius: 0.28571429rem 0.28571429rem 0em 0em !important;
        border: 1px solid #D4D4D5 !important;
    }

    .column-name {
        display: flex;
        align-items: flex-start;

        h2 {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 10px;
        }
    }
}