#main .reports {
	color: $fascistteam;
	position: relative;
	width: 98%;
	h2 {
		text-align: center;
		margin-top: 15px;
	}

	ul {
		list-style-type: none;
		li label {
			cursor: pointer;
		}
	}
	button {
		color: black;
		padding: 10px;
	}
	> div {
		display: flex;
		max-height: 508px;
		overflow-y: scroll;
		.modlog {
			max-width: 60%;
			width: 100%;
			> div {
				max-height: 470px;
				overflow-y: scroll;
			}
		}
		.modplayerlist {
			ul {
				padding: 0 0 0 10px;
				max-height: 370px;
				overflow-y: scroll;
			}
		}
		> div {
			padding: 0 5px;
		}
		h3 {
			text-align: center;
		}
	}
	.multi {
		color: yellow;
	}
	table {
		font-size: 12px;

		td {
			padding: 2px;
		}

		tr {
			background: #cdf9db;
		}
	}
	textarea {
		width: 100%;
	}
	.ip {
		color: orange;
	}
	.broadcast {
		cursor: pointer;
		position: absolute;
		left: 5%;
		top: 70px;
		text-decoration: underline;
	}
	.ipban-button {
		width: 100%;
		background: darkred;
		color: white;
		margin: 2px 0;
	}
	.cardback-button {
		width: 100%;
		background: lightblue;
		margin: 2px 0;
	}
	.tier3 {
		background: orange;
		margin: 2px 3px 2px 0;
	}
}

.horizontal.divider {
	color: white;
}
