.playerlistinfo {
	background-color: #111 !important;
	padding: 20px;
}

#game-container .section-right {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	.playerlist {
		background: #181818;
		border: 1px solid #262626;
		border-bottom: 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		.userlist-stats-container {
			font-size: 12px;
			color: #bdbdbd;
			margin-right: 3px;
			width: 40%;
			white-space: nowrap;
			overflow-x: hidden;
			display: flex;
			justify-content: flex-end;
		}
		.playerlist-header {
			min-height: 32px;
			padding: 5px 0 3px;
			display: flex;
			justify-content: space-between;
			color: var(--theme-primary);
			border-bottom: 1px solid #262626;
			.mod-button,
			.report-button {
				cursor: pointer;
			}
			.mod-button {
				color: red !important;
				font-size: 24px;
			}
			.report-button {
				color: yellow !important;
				font-size: 20px;

				&.active {
					box-shadow: 0 0 4px 4px #fbbd08;
				}
			}
			.all {
				background: url('../../public/favicon-16x16.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
				display: inline-block;
				border-radius: 50%;
				box-shadow: 0 0 4px 3px yellow;
				cursor: pointer;
			}
			.rainbow {
				background: url('../../public/images/rainbow.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
				display: inline-block;
				border-radius: 50%;
				box-shadow: 0 0 4px 3px yellow;
				cursor: pointer;
			}
			.header-name-container,
			.header-name-container h3 {
				display: inline;
			}
		}
		.circle.icon {
			margin-left: 5px;
			font-size: 16px;
			cursor: pointer;
		}
		.divider {
			margin: 0;
		}
		.playerlist-body {
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0 10px 0 10px;
			.fav {
				background: url('../../public/favicon-16x16.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
			}
			.rainbow {
				background: url('../../public/images/rainbow.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
			}
			.private {
				background: url('../../public/images/private.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
			}
		}
		.ui.header {
			padding-left: 5px;
			margin-bottom: 0;
		}
		.user-container {
			display: flex;
			justify-content: space-between;
			&.hover {
				background: #2f2f2f;
			}

			.userlist-username {
				width: 75%;
				white-space: nowrap;
				overflow-x: hidden;
				color: #bfbfbf;

				.blacklisted {
					color: $blacklist !important;
				}

				span:hover {
					color: #608cb3 !important;
					cursor: pointer;
					span {
						color: #608cb3 !important;
						cursor: pointer;
					}
				}
			}
			.unclickable:hover {
				cursor: not-allowed;
			}
			.status.icon {
				margin-left: 5px;
				cursor: pointer;
			}
		}
	}
	.right-sidebar-divider {
		margin: 0;
	}
	.generalchat {
		flex: 1;
		display: flex;
		flex-direction: column;
		border: 1px solid #262626;

		img {
			vertical-align: middle;
			margin: 2px 0;
		}
		.discord-icon {
			float: right;
			padding: 4px;
			cursor: pointer;
			&.active {
				background: #555;
			}
		}
		.generalchat-header {
			min-height: 32px;
			border-bottom: 1px solid #262626;
			padding: 5px 0px 3px;
			h3 {
				float: left;
				margin: 0;
				padding-left: 5px;
			}
			i {
				float: right;
				cursor: pointer;
			}
		}
		.ui.input {
			margin: 0;
			display: flex;
			flex-direction: column;
			padding: 10px 10px 5px 10px;
			background: #181818;
			.chat-button {
				margin-top: 5px;
				button {
					padding: 2px;
					float: right;
					background: var(--theme-primary);
					&:hover {
						background: var(--theme-secondary);
					}
				}
			}
			.emotes-button {
				padding: 2px;
				right: 14px !important;
				top: 12px !important;
			}
			.chat-input-box {
				resize: none;
				width: 100%;
				background: #181818;
				color: white;
				padding-right: 25px;
				border: solid 1px #8c8c8c;
				height: 44px;
				&:focus {
					outline: none;
					border: 1px solid var(--theme-secondary);
					box-shadow: 0 0 3px var(--theme-secondary);
				}
			}
			input {
				padding: 2px;
			}
			i {
				cursor: pointer;
				width: 20px;
			}
		}
		.segment.chats {
			position: relative;
			flex: 1;
			background: #181818;
			.ui.list.genchat-container {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				max-height: 100%;
				width: 97%;
				margin: auto;
				padding-right: 5px;
				padding-bottom: 1px;
				.chat-user.broadcast {
					color: lightsalmon;
					a {
						color: lightsalmon;
					}
				}
				.broadcast-chat {
					color: lightskyblue !important;
				}
				.item {
					padding: 1px 0 0;
					line-height: 140%;
					a {
						padding: 0;
					}
					a.genchat-user:hover {
						//text-decoration: underline;
						color: #608cb3 !important;
					}

					a.shio-link {
						color: #f4f439 !important;
						text-decoration: underline !important;
						&:hover {
							color: #608cb3 !important;
						}
					}
				}
				.chat-user {
					color: #888;
					font-weight: bold;
					white-space: nowrap;
				}
				.timestamp {
					color: #565656;
					font-size: 80%;
					white-space: nowrap;
					font-family: arial;
				}
				.admin {
					color: red;
				}
				span {
					word-wrap: break-word;
				}
			}
			.sticky {
				position: absolute;
				background: var(--theme-secondary);
				top: -2px;
				left: 0;
				color: white;
				padding: 3px;
				width: 100%;
				z-index: 1;
				display: flex;
				> span {
					flex-grow: 1;
					width: 100%;
					word-break: break-word;
					> span {
						font-style: italic;
					}
				}

				i {
					color: white !important;
					cursor: pointer;
					margin: 0 3px;
				}
				a.shio-link {
					color: #f4f439 !important;
					text-decoration: underline !important;
					&:hover {
						color: #608cb3 !important;
					}
				}
			}
		}
		.chats.discord {
			height: 276px;

			.genchat-container {
				max-height: 276px;
			}
		}
	}
}

#main .ingame + .three.wide.section-right {
	max-width: 235px;
	min-width: initial;
}

.emotes-popup-content {
	// add padding area for tooltips around popup
	margin: -30px -20px 0 -20px;
	padding: 32px 22px 2px 22px;
	display: flex;
	flex-wrap: wrap;
	background: transparent;
	overflow-x: hidden;
	cursor: pointer;
	resize: none;
	justify-content: center;
	div {
		margin: 0 2px 0 2px;
		&:active {
			img {
				opacity: 0.5;
			}
		}
	}
}
.emotes-popup {
	min-width: 240px !important;
	max-width: 240px !important;
	//padding: 10px !important;
	background: #181818 !important;
	&:before {
		background: #181818 !important;
	}
}

.admin-popup {
	padding: 5px !important;
}
