.settings {
	padding: 2%;
	.content > button {
		position: absolute;
    left: 50px;
    top: 100px;
    color: #fff;
	}

	.popups {
		text-align: center;
	
		button {
			margin-top: 20px;
			color: #fff;
		}
	}

	.remove.icon {
		cursor: pointer;
		position: absolute;
		font-size: 30px;
		left: 94%;
		opacity: .3;
	}

	.cardback-container {
		text-align: center;

		> .ui.grid {
			width: 100%;
			margin: 0;
		}

		.cardbacks-container {
			justify-content: space-around;
			img {
				width: 70px;
				height: 95px;
			}
		}

		.current-cardback {
			width: 70px;
			height: 95px;
			background: url('../images/tweed.png')
		}
		.dropzone {
			width: 70px;
			height: 95px;
			border-width: 2px;
			border-color: rgb(102, 102, 102);
			border-style: dashed;
			border-radius: 5px;
			color: #ddd;
			cursor: pointer;
			font-size: 13px;
			line-height: 1;
		}

		.cardback-message-container {
			color: yellow;
		}

		.preview-container {
			button {
				position: relative;
				color: #ddd;
				top: -60px;
				left: 10px;
			}

			a {
				position: relative;
				top: -10px;
				left: -48px;
			}
		}
	}

	.ui.header {
		text-align: center;
	}

	.eight.wide.column {
		text-align: center;
	}
}

.cardbackinfo {
	strong {
		color: red;
	}
}