.settings {

	padding: 2%;

	.remove.icon {
		cursor: pointer;
		position: absolute;
		font-size: 30px;
		left: 94%;
		opacity: .3;
	}

	.cardback-container {
		display: none !important;
		text-align: center;

		.current-cardback {
			width: 70px;
			height: 95px;
			background: url('../images/tweed.png')
		}
	}

	.ui.header {
		text-align: center;
	}

	.eight.wide.column {
		text-align: center;
	}
}