$lred: #e36248;
$lightliberalteam: #bfd8ee;
$lightfascistteam: #e4bcba;
$darkliberalteam: #608cb3;
$darkfascistteam: #c36563;
$hitlerteam: #be0804;
$fascistteam: #e36248;
$notification: #FBBD08;
$selection: #DB2828;
$proceed: #2185D0;
$lteal: #097892;
$dteal: #034f61;

body {
	background-image: url('../images/footer_lodyas.png');
	overflow-x: auto;
	max-width: 1127px;
	margin: 0 auto;
}

html {
	height: auto;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

#header-container {
	height: 460px;
	width: 100%;
	margin: 55px auto 0;
	background: no-repeat top center url('../images/banner-s.png') #141210;

	+ .segment {
		border: 1px solid #5e5e5e;
	}
}

.ui.buttons * {
	background: #608cb3;

	&:hover {
		background: #608cb3;		
	}
}

a.ui.button {
	background: #e36248;
}

p {
	font-size: 16px;
}

span.emphasis {
	font-weight: 700;
}

#top-menu {
	background: #141210;

	.left.menu .button {
		color: #fff;

		&:hover {
			background: #e36248;
		}
	}

	.ui.button {
		color: #fff;
	}
}

@media only screen and (min-width: 1200px) {
	#top-menu {
		width: 1127px;
		margin-left: -563px !important;
		left: 50%;
	}
}

@media only screen and (max-width: 617px) {
	#top-menu > a {
		padding-left: 2px;
		padding-right: 2px;
	}
}

@media only screen and (max-width: 514px) {
	#top-menu > a {
		display: none;
	}
}

.ui.grid.mainpage {
	background: #3f2725;
	color: #ddd;
	padding: 10px;

	h2 {
		color: #ddd;
		font-size: 30px;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
	}

	> div {
		border: 1px solid #111;
	}
}

#general-info {
	border: 1px solid #333;

	.news {
		border: 1px solid #aaa;
		background: #DCB469;
		border-radius: 5px;
		color: #222;
	}

	img {
		margin-top: 40px;
	}
}

.signin-modal, .signup-modal {
	margin-left: -125px !important;
	left: 38% !important;
}

.ui.container.rules-container {
	margin: 50px 0 0 0;
	padding: 10px 0;
	background: #222;
	color: #ccc;

	.understated {
		font-style: italic;
	}

	.emphasis {
		font-weight: 700;
		color: #fff;
	}

	h1, h4 {
		margin-bottom: 10px;
		color: #eee;
		text-decoration: underline;
	}

	h2 {
		margin: 20px 0 !important;
		color: #eee;
		text-decoration: underline;

		& ~ p {
			font-size: 18px;
		}
	}

	.aside {
		color: #e85019;
	}

	td {
		text-align: center;
    	padding: 5px;
		border: 1px solid #555;
	}

	li {
		font-size: 18px;
	}
}

.ui.container.howtoplay-container {
	margin: 50px 0 0 0;
	padding: 10px 0;
	background: #222;
	color: #eee;

	img {
		max-width: 90%;
		display: block;
		box-shadow: 0px 3px 4px 1px #333;
		margin: 0 auto 10px auto;
	}

	h1 {
		margin-bottom: 10px;
		color: #eee;
	}

	h2 {
		margin: 20px 0 !important;
		color: #eee;

	}
	
	p {
		font-size: 14px;
		text-align: center;
	}
}

.role-container {
	margin-bottom: 20px;
	
	h3 {
		margin: 0 auto !important;
	}

	img {
		float: left;
		margin: 0 30px 30px 0;
	}
}

.role-container:nth-of-type(odd) img {
	float: right;
	margin: 0 0 30px 30px;
}

.about-container {
	margin: 50px 0 0 0;
	padding: 10px 0;
	background: #222;
	color: #eee;

	h1, h2, h3, h4 {
		color: #eee !important;
	}

	h1 {
		margin-bottom: 60px !important;
	}
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #717171;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #191919;
}
::-webkit-scrollbar-thumb:active {
  background: #c4c4c4;
}
::-webkit-scrollbar-track {
  background: #bfbfbf;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #a4a4a4;
}
::-webkit-scrollbar-corner {
  background: transparent;
}