$lred: #e36248;
$lightliberalteam: #bfd8ee;
$lightfascistteam: #e4bcba;
$darkliberalteam: #608cb3;
//$darkfascistteam: #c36563;
$darkfascistteam: #f2654c;
//$darkfascistteam: #b54131;
$hitlerteam: #be0804;
$werewolfteam: #dc6969;
$villageteam: #4b6a90;
$tannerteam: #dcb469;
$fascistteam: #e36248;
$notification: #fbbd08;
$selection: #db2828;
$proceed: #2185d0;
$lteal: #097892;
$dteal: #034f61;
$textfont: 'Comfortaa', Lato, sans-serif;
$headerfont: 'Comfortaa', Lato, sans-serif;

@import 'semantic.scss';
@import 'creategame.scss';
@import 'leftsidebar.scss';
@import 'game.scss';
@import 'players.scss';
@import 'settings.scss';
@import 'changelog.scss';
@import 'tracks.scss';
@import 'rcslider.scss';
@import 'rightsidebar.scss';
@import 'profile.scss';
@import 'replay.scss';
@import 'moderation.scss';
@import 'game-text.scss';
@import 'reports.scss';
@import 'perfect-scrollbar.scss';

@media screen and (min-width: 1520px) {
	.playerlist {
		min-width: 300px;
	}
}
@media screen and (max-width: 1520px) and (min-width: 1471px) {
	.main-container {
		margin: 0 !important;
	}
}
@media screen and (max-width: 1470px) {
	.section-right {
		flex-direction: column;
	}
	.playerlist {
		order: 0 !important;
		max-width: 350px !important;
	}
	.main-container {
		width: 1220px !important;
		min-width: 0 !important; // clearing our previous min
		//margin: auto;
	}
	.ui.menu {
		max-width: 1220px !important;
	}
}
@media screen and (max-width: 1300px) {
	// add scrollbar when we are in-game to stop buttons getting cut off
	.main-container.game {
		overflow-x: auto;
	}
}
// Little bit of a hack to prevent scroll bars appearing
@media screen and (max-width: 1223px) {
	.section-right {
		margin-right: 2px;
	}
}
@media screen and (max-width: 1220px) {
	.main-container {
		width: 100% !important;
		min-width: 0 !important; // clearing our previous min
		overflow-x: auto;
	}
}

#main {
	height: 100%;
	.ui.header {
		font-family: $headerfont;
	}
	.notes-container {
		-webkit-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
		padding: 0;
		z-index: 110;
		position: absolute;
		background: lightyellow;
		display: flex;
		flex-direction: column;
		.drag-boundry {
			display: none;
			position: absolute;
			&.top {
				cursor: n-resize;
				height: 5px;
				top: 0;
				left: 15px;
				background: red;
			}
		}
		.notes-header {
			display: flex;
			justify-content: space-between;
			margin: 0;
			font-size: 20px;
			padding: 5px 5px 0 10px;
			color: white;
			background: $darkfascistteam;
			font-family: $headerfont;
			position: relative;
			cursor: move;
			i {
				cursor: pointer;
				color: white !important;
				font-size: 24px;
			}
			p {
				margin: 0;
			}
		}
		textarea {
			width: 100%;
			flex-grow: 1;
			background: lightyellow;
			resize: none;
		}
	}
	.app-container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.menu-container {
		background-color: $darkfascistteam;
		a {
			cursor: pointer;
			font-weight: bold;
			color: white !important;
		}
		a:hover {
			color: black !important;
		}
		.version {
			min-width: 350px;
			margin: auto;
		}
	}
	.main-container {
		display: flex;
		height: 100%;
		margin: auto;
		overflow: hidden;
	}
	.main-container.game {
		width: 100% !important;
	}
	.section-main {
		min-width: 870px;
		max-width: 870px;
		.scrollbar-container-main {
			// small hack to prevent hover tooltips being cut off.
			margin-right: -100px;
			padding-right: 100px;
			.ps__scrollbar-y-rail {
				right: 100px;
			}
		}
	}
	.section-main.game {
		width: 100%;
		max-width: 100%;
		min-width: 1050px !important;
	}
	.browser-header {
		margin: 5px auto 10px auto;
		width: 400px;
		padding: 10px 0 10px 0;
	}
	.browser-body {
		margin: 0 20px 0 20px;
		line-height: normal;
	}
	.browser-row {
		margin-bottom: 25px;
		box-shadow: 0 0 6px 3px darkgray;
	}
	.browser-row.inprogress {
		box-shadow: 0 0 6px 3px #fbbd08;
	}
	.browser-row.fascist {
		box-shadow: 0px 0px 6px 3px #c36563;
	}
	.browser-row.liberal {
		box-shadow: 0px 0px 6px 3px #608cb3;
	}
	.game-row {
		display: flex;
		border: 1px solid #1b1b1b;
		transition: border 0.3s;
		cursor: pointer;
		.victory-icon {
			margin: auto;
		}
		&:hover {
			border: 1px solid $darkfascistteam;
			.progress-text,
			.victory-icon {
				display: none;
			}
		}
		.game-progress {
			width: 15%;
			background-color: #313030;
			border-right: 1px solid #1b1b1b;
			display: flex;
			flex-direction: column;
			padding-top: 3px;
			text-align: center;
		}
		.progress-text {
			font-size: 16px;
		}
		.progress-text.waiting {
			margin: auto;
		}
		.progress-text.liberal {
			color: $darkliberalteam;
			margin: auto;
		}
		.progress-text.fascist {
			color: $darkfascistteam;
			margin: auto;
		}
		.progress-text.private {
			margin: 0;
			color: #fbbd07;
		}
		.progress-icons {
			margin: 0 auto;
			i {
				font-size: 50px;
			}
		}
		.progress-icons.private {
			margin: auto;
		}
	}
	.game-row:hover .progress-icons {
		display: none;
	}
	.game-row:hover .game-progress:after {
		content: '\f064';
		margin: auto;
		font-size: 50px;
		font-family: Icons;
	}
	.game-main {
		// need 1% more here to prevent 1px gap
		width: 86%;
	}
	.game-main-top-row {
		width: 100%;
		display: flex;
		background-color: #525151;
		font-size: 16px;
		padding-top: 3px;
		border-bottom: 1px solid #1b1b1b;
	}
	.gamename-column {
		width: 70%;
		padding-left: 3px;
	}
	.options-column {
		width: 30%;
		margin-right: 5px;
	}
	.options-icons-container {
		float: right;
		margin-right: -7px;
		span {
			display: inline-block;
			min-width: 20px;
			margin-right: 2px;
		}
		.rebalanced {
			min-width: 16px;
			div {
				color: $darkfascistteam;
			}
		}
	}
	.game-main-bottom-row {
		display: flex;
		padding: 8px 5px 8px 5px;
		background-color: #302f2f;
	}
	.player-icons-column {
		width: 80%;
	}
	.player-icons {
		display: flex;
		padding-left: 10px;
	}
	.player-small-cardback {
		margin-right: 15px;
		box-shadow: 0 0 5px 2px gray;
		border: 1px solid #313030;
		border-radius: 3px;
		height: 49px;
		img {
			max-height: 47px;
		}
	}
	.empty-seat-icons {
		width: 36.6px;
		height: 47.5px;
		margin-right: 15px;
		background-image: url(../images/empty_seat.png);
		background-size: 36.6px;
		text-align: center;
		vertical-align: middle;
		line-height: 70px;
		color: #313131;
	}
	.empty-seat-icons.included-player-count {
		color: #b0b3b1;
	}
	.player-count-column {
		font-size: 44px;
		margin: auto;
		width: 25%;
		padding-left: 10px;
	}
	.player-count-column .divider {
		font-size: 30px;
	}
	.allowed-players {
		font-size: 18px;
	}
	.section-right {
		width: 100%;
		display: flex;
	}
	// quick hack to get sidebar in-game working for now
	.section-right.game {
		width: 250px;
		flex-direction: column !important;
		margin-right: 2px;
		.playerlist {
			order: 0 !important;
			max-width: 250px !important;
			min-width: 250px !important;
		}
		.generalchat {
			order: 0 !important;
			max-width: 250px !important;
			min-width: 250px !important;
		}
	}
	.ui.menu.nav-menu.game {
		max-width: 1520px !important;
	}
	.playerlist {
		min-height: 0;
		order: 2;
		max-width: 300px;
	}
	.generalchat .inputbar input,
	#gameChatInput {
		background: #181818;
		border: 1px solid #8c8c8c !important;
		color: white;
		&:focus {
			outline: none;
			border: 1px solid #f2654c !important;
			box-shadow: 0 0 3px #f2654c;
		}
		&::placeholder {
    		color: #8c8c8c;
		}
	}
	// careful this styles both generalchat and gamechat emote buttons
	.emotes-button {
		position: absolute;
		right: 45px;
		top: 2px;
		background: transparent;
		.smile.icon {
			color: white !important;
		}
	}
	.genchat-container .chat-user + span,
	#game-container .ui.menu .loggedin,
	.playerlist-header > div > div > span,
	#game-container .ui.menu .item.right a:hover,
	.playerlist-body > div > span,
	.settings .sub.header,
	.games-container > div > div > span,
	.gameinformation-container > span,
	.seat-container .username,
	.chats .chat-user + span,
	.creategame .pickroles .column > span,
	.clearroles {
		//color: #bfbfbf;
		color: white;
	}
	.table-container .ui.fitted.toggle.checkbox.truncate-game label,
	.table-container .ui.fitted.toggle.checkbox.showclaims label {
		color: #bfbfbf !important;
	}
	.game > .ui.grid .chat-container .gamechat .chats .chat-player {
		color: #ddd;
	}
	.game > .ui.grid .chat-container .gamechat .chats,
	.game-chat {
		background: #181818;
		flex-grow: 1;
	}
	.game > .ui.grid .chat-container .gamechat .inputbar .expando-container .hotkey-container {
		background: #7c7c7c;
	}
	.gamechat .ui.pointing.menu {
		background: #272727;
		overflow: visible;
		.item {
			color: #bfbfbf;
		}
	}
	.selectdefaults .info-popup,
	.timeofgame .ui.dropdown {
		background-color: #fff !important;
	}
	.ui.toggle.checkbox ~ input .box:before,
	.ui.toggle.checkbox input ~ label:before {
		background: #444;
	}
	.ui.toggle.checkbox input:checked ~ .box:before,
	.ui.toggle.checkbox input:checked ~ label:before {
		background: $darkfascistteam !important;
	}
	.ui.pointing.menu .item:after {
		border-bottom: 1px solid #111;
		border-right: 1px solid #111;
	}
	i.icon {
		color: $darkfascistteam;
	}
	a:not(.button) {
		color: $darkliberalteam;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

.ui.header {
	color: $darkfascistteam;
}

.ui.primary.buttons .button:hover,
.ui.primary.button:hover,
.ui.primary.buttons .button:focus,
.ui.primary.button:focus,
.ui.primary.buttons .button:active,
.ui.primary.button:active {
	background-color: $lred;
}

.ui.primary.button,
.ui.primary.buttons .button {
	background-color: $darkfascistteam;
}

.ui.disabled.button {
	background: $lightfascistteam;
}

.ui.button {
	background: $darkfascistteam;
}

body {
	background-color: #1b1b1b;
}

.app-hidden {
	display: none !important;
}

.app-visibility-hidden {
	visibility: hidden !important;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

div {
	color: #fff;
}

#game-container .ui.menu {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0;
	border: 0;
	box-shadow: none;
	overflow: hidden;
	background-color: $darkfascistteam;
	margin: auto;
	max-width: 1520px;
	> img {
		max-height: 36px;
		margin-top: 3px;
	}
	> p {
		line-height: 1;
		margin: 3px 0 0 10px;
		font-size: 42px;
		font-family: $headerfont;
		a {
			color: $darkfascistteam;
		}
	}
	div {
		color: #fff;
	}
	.item.right {
		padding: 3px 10px;
		a:hover {
			color: #000;
			text-decoration: underline;
		}
		.setting.icon.large {
			color: white !important;
			text-decoration: none;
			&:hover {
				animation: icon-loading 2s linear infinite;
			}
		}
	}
	.loggedin {
		color: #000;
		display: inline-block;
		vertical-align: middle;
		.playername {
			font-weight: bold;
			color: black;
		}
	}
	i {
		cursor: pointer;
	}
	i.disabled {
		cursor: not-allowed;
	}
	.ui.button:hover,
	.ui.button:active {
		color: #fff;
		background: $lred;
	}
}

#game-container {
	height: 100%;

	.section-main {
		//padding-bottom: 0;
	}
	> .ui.grid {
		border-top: 1px solid #ddd;
	}
}

#general-info,
#top-menu {
	background: #eee;
}

.signinnag {
	margin-left: -237px;
}

@for $i from 1 through 5 {
	.experienced#{$i} {
		color: rgb(19,  (222 - ($i * 20)), 19) !important;
	}
	.player-small-cardback.experienced#{$i} {
		box-shadow: 0 0 5px 2px rgb(0,  (175 - ($i * 20)), 0) !important;
	}
}

@for $i from 1 through 10 {
	.onfire#{$i} {
		color: rgb(183,  (10 - $i) * 15, 167) !important;
	}
	.player-small-cardback.onfire#{$i} {
		box-shadow: 0 0 5px 2px rgb(183,  (10 - $i) * 15, 167) !important;
	}
}

.moderatorcolor {
	color: #0f43fc !important;
}

.editorcolor {
	color: #05bba0 !important;
}

.admin {
	color: red !important;
}
.player-small-cardback.admin {
	box-shadow: 0 0 5px 2px red !important;
}

.contributer {
	color: orange !important;
}

.cbell {
	color: #ff1a75 !important;
}
.player-small-cardback.cbell {
	box-shadow: 0 0 5px 2px #ff1a75 !important;
}

.max {
	color: #b7ae0b !important;
}
.player-small-cardback.max {
	box-shadow: 0 0 5px 2px #b7ae0b !important;
}

.dfinn {
	color: #00ffd8 !important;
}

.player-small-cardback.contributer {
	box-shadow: 0 0 5px 2px orange !important;
}

#confetti {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.balloon-container {
	position: absolute;
	left: 0;
	bottom: -100%;
	transition: all 12s;

	&.active {
		bottom: 140%;
	}
}

.balloon {
	display: inline-block;
	width: 120px;
	height: 145px;
	background: hsl(215, 50%, 65%);
	border-radius: 80%;
	position: relative;
	box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
	margin: 20px 55px 20px 30px;
	transition: transform 0.5s ease;
	z-index: 99;
	animation: balloons 4s ease-in-out infinite;
	transform-origin: bottom center;
}

@keyframes balloons {
	0%,
	100% {
		transform: translateY(0) rotate(-4deg);
	}
	50% {
		transform: translateY(-25px) rotate(4deg);
	}
}

.balloon:before {
	content: '▲';
	font-size: 20px;
	color: hsl(215, 30%, 50%);
	display: block;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -12px;
	z-index: -100;
}

.balloon:after {
	display: inline-block;
	top: 153px;
	position: absolute;
	height: 250px;
	width: 2px;
	left: 60px;
	margin: 0 auto;
	content: '';
	background: #aaa;
}

.balloon + .balloon {
	background: hsl(245, 40%, 65%);
	animation-duration: 3.5s;
}
.balloon + .balloon:before {
	color: hsl(245, 40%, 65%);
}

.balloon + .balloon + .balloon {
	background: hsl(139, 50%, 60%);
	animation-duration: 3s;
}
.balloon + .balloon + .balloon:before {
	color: hsl(139, 30%, 50%);
}

.balloon + .balloon + .balloon + .balloon {
	background: hsl(59, 50%, 58%);
	animation-duration: 4.5s;
}
.balloon + .balloon + .balloon + .balloon:before {
	color: hsl(59, 30%, 52%);
}

.balloon + .balloon + .balloon + .balloon + .balloon {
	background: hsl(23, 55%, 57%);
	animation-duration: 5s;
}
.balloon + .balloon + .balloon + .balloon + .balloon:before {
	color: hsl(23, 44%, 46%);
}

.tou {
	color: black;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	margin: 10px 0 0;
}

.moderator-name {
	color: $lightfascistteam;
}

.editor-name {
	color: $darkfascistteam;
}

.admin-name {
	color: $hitlerteam;
}

.modal-warning {
	color: coral;
	padding: 5px 20px;
	font-size: 16px;
}

[data-tooltip][data-inverted]:after {
	padding: 5px;
}



// ::-webkit-scrollbar {
// 	width: 3px;
// 	height: 3px;
// }

// ::-webkit-scrollbar-button {
// 	width: 0px;
// 	height: 0px;
// }

// ::-webkit-scrollbar-thumb {
// 	background: #717171;
// 	border: 0px none #ffffff;
// 	border-radius: 0px;
// }

// ::-webkit-scrollbar-thumb:hover {
// 	background: #191919;
// }

// ::-webkit-scrollbar-thumb:active {
// 	background: #c4c4c4;
// }

// ::-webkit-scrollbar-track {
// 	background: #bfbfbf;
// 	border: 0px none #ffffff;
// 	border-radius: 0px;
// }

// ::-webkit-scrollbar-track:hover {
// 	background: #666666;
// }

// ::-webkit-scrollbar-track:active {
// 	background: #a4a4a4;
// }

// ::-webkit-scrollbar-corner {
// 	background: transparent;
// }
