$lred: #e36248;
$lightliberalteam: #bfd8ee;
$lightfascistteam: #e4bcba;
$darkliberalteam: #608cb3;
$darkfascistteam: #c36563;
$hitlerteam: #be0804;
$werewolfteam: #DC6969;
$villageteam: #4B6A90;
$tannerteam: #DCB469;
$fascistteam: #e36248;
$notification: #FBBD08;
$selection: #DB2828;
$proceed: #2185D0;
$lteal: #097892;
$dteal: #034f61;

@import 'semantic.scss';
@import 'creategame.scss';
@import 'leftsidebar.scss';
@import 'game.scss';
@import 'players.scss';
@import 'settings.scss';
@import 'tracks.scss';
@import 'rcslider.scss';
@import 'rightsidebar.scss';

#main {
	width: 1253px;
	margin-left: auto;
	margin-right: auto;
	max-width: inherit !important;

	.ui.header {
		font-family: 'Josefin Sans', "Lato", Helvetica, Arial, sans-serif;
	}

	.section-main, .section-main > .nav-menu, .defaultmid {
		background: #141210;
	}

	.section-main > section {
		border-top: 1px solid #3a3a3a;
	}

	.leftsidebar, .generalchat, .section-right {
		background: #1b1b1b;
	}

	.playerlist {
		background: #202020;
	}

	.generalchat .inputbar input, #gameChatInput {
		background: #686868;
	}

	.remove.icon {
		color: #ccc;
	}

	.genchat-container .chat-user + span, #game-container .ui.menu .loggedin, .playerlist-header > div > div > span, #game-container .ui.menu .item.right a:hover, .playerlist-body > div > span, .settings .sub.header, .games-container > div > div > span, .gameinformation-container > span, .seat-container .username, .chats .chat-user + span, .creategame .pickroles .column>span, .clearroles {
		color: #bfbfbf;
	}

	.table-container .ui.fitted.toggle.checkbox.truncate-game label, .table-container .ui.fitted.toggle.checkbox.showclaims label {
		color: #bfbfbf !important;
	}

	.game>.ui.grid .chat-container .gamechat .chats .chat-player {
		color: #fff;
	}

	.seat:hover .username {
		color: $werewolfteam;
	}

	.table-container {
		background: #333;
	}

	.gameroles-container .gameroles {
		background: #222;
	}

	.table-container .table .tableimage {
		background-image: url('../images/tweed.png');
		box-shadow: 0px 0px 2px 1px #222;
	}

	.game>.ui.grid .chat-container .gamechat .chats, .game-chat {
		background: #3d3d3d;
	}

	.game>.ui.grid .chat-container .gamechat .inputbar .expando-container .hotkey-container {
		background: #7c7c7c;
	}

	.gameroles-container .gameroles>.label {
		background: #0c0c0c;
		color: #bfbfbf;
	}

	.gamechat .ui.pointing.menu {
		background: #212121;
		overflow: visible;

		.item {
			color: #bfbfbf;
		}
	}

	.selectdefaults .info-popup, .timeofgame .ui.dropdown {
		background-color: #fff !important;
	}

	.ui.toggle.checkbox ~ input .box:before, .ui.toggle.checkbox input ~ label:before {
		background: #444;
	}

	.ui.pointing.menu .item:after {
		border-bottom: 1px solid #111;
		border-right: 1px solid #111;
	}

	i.icon {
		color: $darkfascistteam;
	}

	a {
		color: $darkliberalteam;
	}
}

@keyframes fadeIn { 
	from { opacity: 0; } 
}

.ui.header {
	color: $darkfascistteam;
}

.ui.primary.buttons .button:hover, .ui.primary.button:hover, .ui.primary.buttons .button:focus, .ui.primary.button:focus, .ui.primary.buttons .button:active, .ui.primary.button:active {
  background-color: $lred;
}

.ui.primary.button, .ui.primary.buttons .button{
	background-color: $darkfascistteam;
}

.ui.disabled.button {
	background: $lightfascistteam;
}

.ui.button {
	background: $darkfascistteam;
}

body {
	background-image: url('../images/footer_lodyas.png');
	margin: 0 1%;
	min-width: 1127px;
}

.app-hidden {
	display: none !important;
}

.app-visibility-hidden {
	visibility: hidden !important;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

#game-container .ui.menu {
	border-radius: 0;
	border: 0;
	box-shadow: none;
	overflow: hidden;

	> img {
		margin-left: 10px;
		margin-top: 12px;
		width: 30px;
		height: 30px;
	}

	> p {
		line-height: 1;
		margin: 3px 0 0 10px;
		font-size: 42px;
		font-family: 'Josefin Sans', "Lato", Helvetica, Arial, sans-serif;

		a {
			color: $darkfascistteam;
		}
	}

	div {
		color: #fff;
	}

	.item.right {
		padding: 3px 10px;

		a:hover {
			color: #000;
			text-decoration: underline;
		}
	}

	.loggedin {
		color: #000;
		display: inline-block;
		vertical-align: middle;

		.playername {
			font-weight: bold;
			color: #16AB39;
		}
	}

	i {
		cursor: pointer;
	}

	i.disabled {
		cursor: not-allowed;
	}

	.ui.button:hover, .ui.button:active {
		color: #fff;
		background: $lred;
	}
}

#game-container .section-main {
	padding-left: 0;
	padding-right: 0;
}

.section-left, .section-right, .section-main {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	background: #fff;
}

.section-main > section {
	min-height: 555px;
	border-top: 1px solid #eee;
}

.defaultmid {
	background: #fdfdfd;
}

#game-container {
	.section-main {
		padding-bottom: 0;
	}

	> .ui.grid {
		border-top: 1px solid #ddd;
	}
}

.section-main > .menu {
	margin: 0;
}
.header-container {
	text-align: center;
	height: 400px;
	background-image: url('../images/1127X400.jpeg');
	margin-top: 45px;
}

#general-info, #top-menu{
	background: #eee;
}

.signin-modal, .signup-modal {
	margin-left: -125px !important;
}

.signinnag {
	margin-left: -237px;
}

.verified-yes {
}

.verified-no {
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #717171;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #191919;
}
::-webkit-scrollbar-thumb:active {
	background: #c4c4c4;
}
::-webkit-scrollbar-track {
	background: #bfbfbf;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
	background: #666666;
}
::-webkit-scrollbar-track:active {
	background: #a4a4a4;
}
::-webkit-scrollbar-corner {
	background: transparent;
}