.table-container {
	background: #fafafa;
	padding: 0 !important;
	overflow: hidden;

	.table {
		position: relative;

		.table-uid {
			position: absolute;
			top: 415px;
			left: 180px;
			color: #c2c2c2;

			i {
				cursor: pointer;
			}

			.report-game-clicked {
				color: red !important;
			}
		}

		.nightblocker {
			position: absolute;
			left: 0;
			width: 586px;
			height: 220px;
			background: #000;
			transition: all 1s;
			z-index: 3;

			.moon {
				width: 50px;
				height: 50px;
				position: absolute;
				background: #fff;
				border-radius: 50%;
				top: 140px;
				left: -50px;
				transition-property: top, left;
				transition-duration: 1s;
				transition-timing-function: linear;

				&:after {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					position: absolute;
					background: #000;
					content: '';
					top: 0;
					left: 15px;		
				}
			}
		}

		.nightblocker.nightblocker-top {
			top: -220px;
		}

		.nightblocker.nightblocker-bottom {
			top: 440px;
		}

		.nightblocker.nightblocker-top-blocked {
			top: 0px;
		}

		.nightblocker.nightblocker-bottom-blocked {
			top: 220px;
		}

		.tableimage {
			position: absolute;
			top: 90px;
			left: 70px;
			box-shadow: 0px 0px 2px 1px #ddd;
			width: 440px;
			height: 280px;
			border-radius: 50%;
			background-image: url('../images/crossword.png');
			background-repeat: repeat;
		}
		

		.seat-container {
			position: relative;
		}

		.seat {
			width: 59px;
			height: 80px;
			background: url('../images/filled-seatback-0.png') no-repeat;
			position: absolute;
			border-radius: 4px;
			text-align: center;
			padding: 5px;
			cursor: pointer;
			border: 1px solid #eee;

			.username {
				position: absolute;
				top: -20px;
				font-weight: 700;
				left: 50%;
				margin-left: -43px;
				text-overflow: ellipsis;
				width: 86px;
				white-space: nowrap;
				overflow: hidden;
				text-align: center;
			}

			.username.currentuser {
				color: #16AB39;
			}

			.socket-not-present {
				color: #ccc;
			}
		}

		.seat:hover .username {
			color: $werewolfteam;
		}

		.seat.empty {
			background: url('../images/open-seat.png') no-repeat;
		}

		.seat.seat7, .seat.seat8, .seat.seat9, .claim {
			background: none;
			border: 0;
		}

		.card {
			top: 190px;
			left: 260px;
			position: absolute;
			perspective: 1000;
			-webkit-perspective: 1000;
			transition-property: top, left;
			transition-duration: 1.5s;
			cursor: pointer;

			.card-flipper {
				width: 59px;
				height: 80px;
				transition-duration: 1s;
				transition-property: transform;
				transform-style: preserve-3d;
				position: relative;
			}

			.card-flipper.flip {
				transform: rotateY(180deg);
			}

			.card-front, .card-back, .claim {
				border-radius: 4px;
				-webkit-backface-visibility: hidden;  // thanks osx safari
				backface-visibility: hidden;
				border: 1px solid #eee;
				position: absolute;
				top: 0;
				left: 0;
				width: 59px;
				height: 80px;
			}

			.card-front {
				transform: rotateY(180deg);
				background-size: cover;
			}

			.card-back {
				z-index: 2;
				transform: rotateY(0deg);
				background-image: url('../images/vertical_cloth.png');
			}
		}

		.card-front.werewolf, .claim.claim-werewolf {
			background-image: url('../images/cards/card-werewolf.png');
		}

		.card-front.minion, .claim.claim-minion {
			background-image: url('../images/cards/card-minion.png');
		}

		.card-front.mason, .claim.claim-mason {
			background-image: url('../images/cards/card-mason.png');
		}

		.card-front.seer, .claim.claim-seer {
			background-image: url('../images/cards/card-seer.png');
		}

		.card-front.robber, .claim.claim-robber {
			background-image: url('../images/cards/card-robber.png');
		}

		.card-front.troublemaker, .claim.claim-troublemaker {
			background-image: url('../images/cards/card-troublemaker.png');
		}

		.card-front.insomniac, .claim.claim-insomniac {
			background-image: url('../images/cards/card-insomniac.png');
		}

		.card-front.hunter, .claim.claim-hunter {
			background-image: url('../images/cards/card-hunter.png');
		}

		.card-front.tanner, .claim.claim-tanner {
			background-image: url('../images/cards/card-tanner.png');
		}

		.card-front.villager, .claim.claim-villager {
			background-image: url('../images/cards/card-villager.png');
		}

		.card.notransition {
			transition: none;
		}

		.card.flipped {
			transform: rotateY(180deg);
		}

		.claim {
			background-size: cover;
			opacity: .6;
		}

		.seat0 {
			top: 20px !important;
			left: 260px !important;
		}

		.seat1 {
			top: 70px !important;
			left: 430px !important;
		}

		.seat2 {
			top: 210px !important;
			left: 500px !important;
		}

		.seat3 {
			top: 320px !important;
			left: 360px !important;
		}

		.seat4 {
			top: 320px !important;
			left: 160px !important;
		}

		.seat5 {
			top: 210px !important;
			left: 20px !important;
		}

		.seat6 {
			top: 70px !important;
			left: 90px !important;
		}

		.seat7 {
			top: 190px !important;
			left: 180px !important;
		}

		.seat8 {
			top: 190px !important;
			left: 260px !important;
		}

		.seat9 {
			top: 190px !important;
			left: 340px !important;
		}

		.remove.icon {
			position: absolute;
			top: 10px;
			left: 545px;
			opacity: 0.3;
			cursor: pointer;
			font-size: 30px;
		}

		.card-notify {
			box-shadow: 0 0 4px 4px $notification;
		}

		.card-select {
			box-shadow: 0 0 4px 4px $selection;
		}

		.card-proceed {
			box-shadow: 0 0 4px 4px $proceed;
		}

		.gameinformation-container {
			position: absolute;
			top: 10px;
			left: 10px;

			.game-name {
				margin-right: 25px;
			}
		}
	}

	.ui.fitted.toggle.checkbox.truncate-game {
		position: absolute;
		top: 388px;
		left: 0px;
		width: 170px;

		label {
			padding-left: 52px !important;
		}
	}
	
	
	.ui.fitted.toggle.checkbox.showclaims {
		position: absolute;
		top: 413px;
		left: 0px;
		width: 170px;

		label {
			padding-left: 52px !important;
		}
	}
}


.eight.table-container .table .remove.icon {
	left: 540px;
}