$lred: #e36248;
$lightliberalteam: #bfd8ee;
$lightfascistteam: #e4bcba;
$darkliberalteam: #608cb3;
$darkfascistteam: #f2654c; // default orange color now
$hitlerteam: #be0804;
$fascistteam: #e36248;
$tourny: #1cb98e;
$notification: #fbbd08;
$selection: #db2828;
$proceed: #2185d0;
$lteal: #097892;
$dteal: #034f61;
$blacklist: #462c35;
$thirteen: #1c9cb9;

$textfont: inherit; //'Comfortaa', Lato, sans-serif;
$headerfont: inherit; //'Comfortaa', Lato, sans-serif;
