$lred: #e36248;
$lightliberalteam: #bfd8ee;
$lightfascistteam: #e4bcba;
$darkliberalteam: #608cb3;
$darkfascistteam: #f2654c; // default orange color now
$hitlerteam: #be0804;
$werewolfteam: #dc6969;
$villageteam: #4b6a90;
$tannerteam: #dcb469;
$fascistteam: #e36248;
$tourny: #1cb98e;
$notification: #fbbd08;
$selection: #db2828;
$proceed: #2185d0;
$lteal: #097892;
$dteal: #034f61;
$blacklist: #462c35;
$thirteen: #1c9cb9;

$textfont: inherit; //'Comfortaa', Lato, sans-serif;
$headerfont: inherit; //'Comfortaa', Lato, sans-serif;

$primary: #4169e1;
$secondary: #627cc8;
$tertiary: #7f41e1;

$currentgame: #cc1e41;
